In [1]:
import pandas as pd

In [2]:
# user_csv=pd.read_csv('C:/Users/RithikHarendarMahesh/Desktop/fp/DataEngineering/prep/prep_user_certification.csv')
user_csv=pd.read_csv('C:/Users/RithikHarendarMahesh/Desktop/fp/DataEngineering/prep/prep_user_certification.csv')

In [3]:
df=pd.DataFrame(data=user_csv)

In [4]:
df.isnull().sum()

Unnamed: 0           0
_id                  0
userId               0
certificationId      0
certificationName    0
started_at           0
completed_at         0
competency           0
isVerified           0
imageData            0
user_name            0
dtype: int64

In [5]:
df.dropna(inplace=True)

In [6]:
df.drop_duplicates(inplace=True)

In [7]:
df.dtypes

Unnamed: 0            int64
_id                  object
userId               object
certificationId      object
certificationName    object
started_at           object
completed_at         object
competency           object
isVerified             bool
imageData            object
user_name            object
dtype: object

In [8]:
print("Original dtypes:")
print(df.dtypes)

# Convert dtypes
df=df.convert_dtypes()

# Check new dtypes
print("\nConverted dtypes:")
print(df.convert_dtypes().dtypes)

Original dtypes:
Unnamed: 0            int64
_id                  object
userId               object
certificationId      object
certificationName    object
started_at           object
completed_at         object
competency           object
isVerified             bool
imageData            object
user_name            object
dtype: object

Converted dtypes:
Unnamed: 0                    Int64
_id                  string[python]
userId               string[python]
certificationId      string[python]
certificationName    string[python]
started_at           string[python]
completed_at         string[python]
competency           string[python]
isVerified                  boolean
imageData            string[python]
user_name            string[python]
dtype: object

In [9]:
df['started_at'] = [
    i.split(" ")[0] if 'T' not in i else i.split("T")[0] for i in df['started_at']
]

In [10]:
df['started_at']=pd.to_datetime(df['started_at'])

In [11]:
df['completed_at'] = [
    i.split(" ")[0] if 'T' not in i else i.split("T")[0] for i in df['completed_at']
]

In [12]:
df['completed_at']=pd.to_datetime(df['completed_at'])

In [13]:
df.dtypes

Unnamed: 0                    Int64
_id                  string[python]
userId               string[python]
certificationId      string[python]
certificationName    string[python]
started_at           datetime64[ns]
completed_at         datetime64[ns]
competency           string[python]
isVerified                  boolean
imageData            string[python]
user_name            string[python]
dtype: object

In [14]:
# roles_df = pd.read_csv('C:/Users/RithikHarendarMahesh/Desktop/fp/DataEngineering/prep/prep_user.csv')
roles_df = pd.read_csv('C:/Users/RithikHarendarMahesh/Desktop/fp/DataEngineering/prep/prep_user.csv')
roles_df.head()

,Unnamed: 0,userId,total_duration,count,_id,name,role_id,joining_date,department,mail,created_at,updated_at,password,profileImage,role_name
0,0,000493ff-7d6e-41a8-b96a-d1e11eb11a7b,198 days,5,000493ff-7d6e-41a8-b96a-d1e11eb11a7b,Tamara Fields,718675e9-24e9-451b-a6e1-586aef8d0afb,2023-10-22T19:07:19,DATA_ANALYTICS,williamgarcia@example.org,2022-11-18,2023-06-24,q)QX70ZuML,https://dummyimage.com/867x425,Product Manager
1,1,0006310b-e138-4643-9580-491639213d52,1405 days,5,0006310b-e138-4643-9580-491639213d52,Jeffrey Sparks,38bd1ab2-e630-4311-9128-7438fe171719,2023-07-25T15:52:32,DEVOPS,maciasdaniel@example.net,2020-11-17,2022-10-12,k4!RQdaj^2,https://placekitten.com/421/83,Machine Learning Engineer
2,2,0007d104-541e-4547-81c5-72c41a5ef087,614 days,5,0007d104-541e-4547-81c5-72c41a5ef087,Spencer Leonard,508bfd78-6401-40ad-bc4b-dade38d40352,2022-11-19T16:38:31,ADMIN,blackwelljoseph@example.com,2021-04-05,2024-04-30,*6V^tLnz+Y,https://dummyimage.com/254x741,Backend Developer
3,3,0007e8f0-2cd7-4084-960f-8e24912b92e9,1428 days,5,0007e8f0-2cd7-4084-960f-8e24912b92e9,Juan Sullivan,718675e9-24e9-451b-a6e1-586aef8d0afb,2021-12-01T10:10:30,FULL_STACK,roblesjason@example.org,2023-02-03,2021-05-03,@IM@Dc#+_0,https://dummyimage.com/622x814,Product Manager
4,4,000a8195-e0c3-4b5b-b7bf-4299e228c271,1288 days,5,000a8195-e0c3-4b5b-b7bf-4299e228c271,Robin Wiley,25886cc0-ab38-455b-a301-f739643e462d,2020-11-25T04:19:40,FULL_STACK,ashleyberry@example.com,2020-04-09,2023-02-05,@rs$uRlsk4,https://dummyimage.com/908x499,Software Engineer

In [15]:
roles_df.shape

(30000, 15)

In [16]:
df.shape

(150000, 11)

In [17]:
df.isnull().sum()

Unnamed: 0           0
_id                  0
userId               0
certificationId      0
certificationName    0
started_at           0
completed_at         0
competency           0
isVerified           0
imageData            0
user_name            0
dtype: int64

In [18]:

merged_df=pd.merge(df,roles_df,left_on='userId',right_on='_id',how='inner')
df=merged_df

In [19]:
df.shape

(150000, 26)

In [20]:
# roles_df = pd.read_csv('C:/Users/RithikHarendarMahesh/Desktop/fp/DataEngineering/prep/prep_certification.csv')
roles_df = pd.read_csv('C:/Users/RithikHarendarMahesh/Desktop/fp/DataEngineering/prep/prep_certification.csv')
roles_df.head()

,Unnamed: 0,_id,name,issued_by,is_certificate,role,certificationId,user_count
0,0,68f4d0db-1920-4c7b-a6e8-b466b8d8b437,AWS Certified Solutions Architect,Smith-Knapp,True,Software Engineer,68f4d0db-1920-4c7b-a6e8-b466b8d8b437,826
1,1,6df0fa93-07ea-40ea-b2e4-c7706a23f87e,Microsoft Certified: Azure Developer Associate,Hernandez PLC,True,Software Engineer,6df0fa93-07ea-40ea-b2e4-c7706a23f87e,834
2,2,e94136f1-f035-458b-9920-14ebc37c9b80,Certified Ethical Hacker,"Wagner, Carson and Robinson",True,Software Engineer,e94136f1-f035-458b-9920-14ebc37c9b80,823
3,3,ac3b01df-33cd-4e90-b107-ebb3d901fcd6,Certified ScrumMaster,Duncan PLC,True,Software Engineer,ac3b01df-33cd-4e90-b107-ebb3d901fcd6,817
4,4,50b0294c-a8f8-435e-bbc0-bbf09afcff14,AWS Certified Developer - Associate,"Roy, Graham and Hudson",True,Software Engineer,50b0294c-a8f8-435e-bbc0-bbf09afcff14,833

In [21]:
df.isnull().sum()

Unnamed: 0_x         0
_id_x                0
userId_x             0
certificationId      0
certificationName    0
started_at           0
completed_at         0
competency           0
isVerified           0
imageData            0
user_name            0
Unnamed: 0_y         0
userId_y             0
total_duration       0
count                0
_id_y                0
name                 0
role_id              0
joining_date         0
department           0
mail                 0
created_at           0
updated_at           0
password             0
profileImage         0
role_name            0
dtype: int64

In [22]:
df.drop(['_id_y','userId_y',],inplace=True,axis=1)

In [23]:
df.shape

(150000, 24)

In [24]:
df.drop(['Unnamed: 0_y','Unnamed: 0_x',],inplace=True,axis=1)

In [25]:
df.rename({"_id_x":"_id","userId_x":"userId"},axis=1)

,_id,userId,certificationId,certificationName,started_at,completed_at,competency,isVerified,imageData,user_name,...,name,role_id,joining_date,department,mail,created_at,updated_at,password,profileImage,role_name
0,5c2f5af4-9057-48f4-accb-de937c5cec78,06bdb594-fb32-4612-9f5f-b381ccbfc9a5,d9b6fc8a-59ab-42cd-9534-7f8dcc9e7b91,Certified Kubernetes Administrator,2022-03-22,2022-11-08,ADVANCED,True,https://picsum.photos/380/20,Jonathan King,...,Jonathan King,25886cc0-ab38-455b-a301-f739643e462d,2021-08-07T21:52:59,ADMIN,slee@example.net,2020-07-11,2021-03-18,0&^u3SZ!td,https://placekitten.com/397/1014,Software Engineer
1,8443b459-1c45-4658-a256-5348e0488c6b,06bdb594-fb32-4612-9f5f-b381ccbfc9a5,ac3b01df-33cd-4e90-b107-ebb3d901fcd6,Certified ScrumMaster,2020-02-13,2020-06-10,INTERMEDIATE,False,https://picsum.photos/1016/256,Jonathan King,...,Jonathan King,25886cc0-ab38-455b-a301-f739643e462d,2021-08-07T21:52:59,ADMIN,slee@example.net,2020-07-11,2021-03-18,0&^u3SZ!td,https://placekitten.com/397/1014,Software Engineer
2,72233b70-4e0a-4f52-8bf4-3766e6c4a8b1,06bdb594-fb32-4612-9f5f-b381ccbfc9a5,e94136f1-f035-458b-9920-14ebc37c9b80,Certified Ethical Hacker,2021-07-16,2022-09-15,BEGINNER,False,https://dummyimage.com/518x634,Jonathan King,...,Jonathan King,25886cc0-ab38-455b-a301-f739643e462d,2021-08-07T21:52:59,ADMIN,slee@example.net,2020-07-11,2021-03-18,0&^u3SZ!td,https://placekitten.com/397/1014,Software Engineer
3,113e8e00-a8ac-40a1-8cd5-a93e277cefe3,06bdb594-fb32-4612-9f5f-b381ccbfc9a5,ac3b01df-33cd-4e90-b107-ebb3d901fcd6,Certified ScrumMaster,2021-07-13,2021-07-13,BEGINNER,True,https://dummyimage.com/942x887,Jonathan King,...,Jonathan King,25886cc0-ab38-455b-a301-f739643e462d,2021-08-07T21:52:59,ADMIN,slee@example.net,2020-07-11,2021-03-18,0&^u3SZ!td,https://placekitten.com/397/1014,Software Engineer
4,9a49a4a0-f03a-4fa0-8859-aae08ae04418,06bdb594-fb32-4612-9f5f-b381ccbfc9a5,50b0294c-a8f8-435e-bbc0-bbf09afcff14,AWS Certified Developer - Associate,2022-10-17,2024-05-30,EXPERT,False,https://dummyimage.com/288x198,Jonathan King,...,Jonathan King,25886cc0-ab38-455b-a301-f739643e462d,2021-08-07T21:52:59,ADMIN,slee@example.net,2020-07-11,2021-03-18,0&^u3SZ!td,https://placekitten.com/397/1014,Software Engineer
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149995,7add9b35-71a3-4877-906d-f34c06dd728e,a353557c-7f71-4344-b479-177e4279112e,77939c71-4812-41c9-8930-2ade3fd55a68,Microsoft Certified: Azure Developer Associate,2023-06-13,2023-08-23,INTERMEDIATE,True,https://placekitten.com/159/520,Courtney Martin,...,Courtney Martin,90a9e49a-3fcc-494c-a3fa-1c5375311cbb,2020-02-20T10:57:18,FULL_STACK,adamsjoseph@example.org,2020-09-09,2024-06-24,&6&0KsXEai,https://dummyimage.com/465x433,Technical Writer
149996,ef9f02a1-f92e-4707-9da4-8abdcc3d9516,a353557c-7f71-4344-b479-177e4279112e,7cf0643a-fd05-4e94-a550-1ecf2d07d9c5,Certified Ethical Hacker (CEH),2021-05-06,2021-05-06,BEGINNER,False,https://dummyimage.com/553x931,Courtney Martin,...,Courtney Martin,90a9e49a-3fcc-494c-a3fa-1c5375311cbb,2020-02-20T10:57:18,FULL_STACK,adamsjoseph@example.org,2020-09-09,2024-06-24,&6&0KsXEai,https://dummyimage.com/465x433,Technical Writer
149997,ad48abc1-2ee9-4aaa-8dc9-2c475a594735,a353557c-7f71-4344-b479-177e4279112e,77939c71-4812-41c9-8930-2ade3fd55a68,Microsoft Certified: Azure Developer Associate,2023-07-11,2023-07-11,ADVANCED,True,https://dummyimage.com/371x503,Courtney Martin,...,Courtney Martin,90a9e49a-3fcc-494c-a3fa-1c5375311cbb,2020-02-20T10:57:18,FULL_STACK,adamsjoseph@example.org,2020-09-09,2024-06-24,&6&0KsXEai,https://dummyimage.com/465x433,Technical Writer
149998,eab5a995-15bd-4e74-a6b9-5259e74d10ec,a353557c-7f71-4344-b479-177e4279112e,7cf0643a-fd05-4e94-a550-1ecf2d07d9c5,Certified Ethical Hacker (CEH),2024-01-31,2024-01-31,INTERMEDIATE,True,https://placekitten.com/354/512,Courtney Martin,...,Courtney Martin,90a9e49a-3fcc-494c-a3fa-1c5375311cbb,2020-02-20T10:57:18,FULL_STACK,adamsjoseph@example.org,2020-09-09,2024-06-24,&6&0KsXEai,https://dummyimage.com/465x433,Technical Writer
149999,5c8a0b78-f11e-466d-9bee-4e598342aaef,a353557c-7f71-4344-b479-177e4279112e,776c2b7f-89f1-462e-8e3b-26d4156d6010,AWS Certified Solutions Architect,2023-06-12,2023-10-05,INTERMEDIATE,False,https://picsum.photos/100/269,Courtney Martin,...,Courtney Martin,90a9e49a-3fcc-494c-a3fa-1c5375311cbb,2020-02-20T10:57:18,FULL_STACK,adamsjoseph@example.org,2020-09-09,2024-06-24,&6&0KsXEai,https://dummyimage.com/465x433,Technical Writer

In [26]:
df.shape

(150000, 22)

In [27]:
df.isnull().sum()

_id_x                0
userId_x             0
certificationId      0
certificationName    0
started_at           0
completed_at         0
competency           0
isVerified           0
imageData            0
user_name            0
total_duration       0
count                0
name                 0
role_id              0
joining_date         0
department           0
mail                 0
created_at           0
updated_at           0
password             0
profileImage         0
role_name            0
dtype: int64

In [28]:
roles_df.isna().sum()

Unnamed: 0         0
_id                0
name               0
issued_by          0
is_certificate     0
role               0
certificationId    0
user_count         0
dtype: int64

In [29]:
merged_df=pd.merge(df,roles_df,left_on='certificationId',right_on='certificationId')
merged_df.shape
df=merged_df

In [30]:
df.shape

(150000, 29)

In [31]:
print("Original dtypes:")
print(df.dtypes)

# Convert dtypes
df=df.convert_dtypes()

# Check new dtypes
print("\nConverted dtypes:")
print(df.convert_dtypes().dtypes)

Original dtypes:
_id_x                string[python]
userId_x                     object
certificationId              object
certificationName    string[python]
started_at           datetime64[ns]
completed_at         datetime64[ns]
competency           string[python]
isVerified                  boolean
imageData            string[python]
user_name            string[python]
total_duration               object
count                         int64
name_x                       object
role_id                      object
joining_date                 object
department                   object
mail                         object
created_at                   object
updated_at                   object
password                     object
profileImage                 object
role_name                    object
Unnamed: 0                    int64
_id                          object
name_y                       object
issued_by                    object
is_certificate                 bool
role                         object
user_count                    int64
dtype: object

Converted dtypes:
_id_x                string[python]
userId_x             string[python]
certificationId      string[python]
certificationName    string[python]
started_at           datetime64[ns]
completed_at         datetime64[ns]
competency           string[python]
isVerified                  boolean
imageData            string[python]
user_name            string[python]
total_duration       string[python]
count                         Int64
name_x               string[python]
role_id              string[python]
joining_date         string[python]
department           string[python]
mail                 string[python]
created_at           string[python]
updated_at           string[python]
password             string[python]
profileImage         string[python]
role_name            string[python]
Unnamed: 0                    Int64
_id                  string[python]
name_y               string[python]
issued_by            string[python]
is_certificate              boolean
role                 string[python]
user_count                    Int64
dtype: object

In [32]:
df.shape

(150000, 29)

In [33]:
# df.to_csv('C:/Users/RithikHarendarMahesh/Desktop/fp/DataEngineering/mart/mart_user_certification.csv')
df.to_csv('C:/Users/RithikHarendarMahesh/Desktop/fp/DataEngineering/mart/mart_user_certification.csv')