In [37]:
import pandas as pd

In [38]:
# user_csv=pd.read_csv('E:/JMAN/fp/DataEngineering/prep/prep_user_certification.csv')
# user_csv=pd.read_csv('E:/JMAN/fp/DataEngineering/prep/prep_user_certification.csv')
user_csv=pd.read_csv('E:/JMAN/fp/DataEngineering/prep/prep_role_skill.csv')

In [39]:
df=pd.DataFrame(data=user_csv)

In [40]:
df.isnull().sum()

Unnamed: 0    0
roleId        0
skillId       0
name          0
role_name     0
skill_name    0
dtype: int64

In [41]:
df.shape

(150, 6)

In [42]:
df.dropna(inplace=True)

In [43]:
df.drop_duplicates(inplace=True)

In [44]:
df.dtypes

Unnamed: 0     int64
roleId        object
skillId       object
name          object
role_name     object
skill_name    object
dtype: object

In [45]:
print("Original dtypes:")
print(df.dtypes)

# Convert dtypes
df=df.convert_dtypes()

# Check new dtypes
print("\nConverted dtypes:")
print(df.convert_dtypes().dtypes)

Original dtypes:
Unnamed: 0     int64
roleId        object
skillId       object
name          object
role_name     object
skill_name    object
dtype: object

Converted dtypes:
Unnamed: 0     Int64
roleId        string
skillId       string
name          string
role_name     string
skill_name    string
dtype: object

In [46]:
df.dtypes

Unnamed: 0     Int64
roleId        string
skillId       string
name          string
role_name     string
skill_name    string
dtype: object

In [47]:
# roles_df = pd.read_csv('E:/JMAN/fp/DataEngineering/prep/prep_user.csv')
# roles_df = pd.read_csv('E:/JMAN/fp/DataEngineering/prep/prep_user.csv')
roles_df = pd.read_csv('E:/JMAN/fp/DataEngineering/prep/prep_role.csv')
roles_df.head()

,Unnamed: 0,_id,name,desc,created_at,updated_at,roleId,skill_count
0,0,4a7cdfaf-b436-46e2-a8a2-5dc4835d40b9,Software Engineer,Him matter fall.,2022-06-04,2023-07-07,4a7cdfaf-b436-46e2-a8a2-5dc4835d40b9,10
1,1,1a52dd70-8466-4e47-8600-1677136f4fec,Data Scientist,Record data never raise feel.,2022-07-29,2021-12-10,1a52dd70-8466-4e47-8600-1677136f4fec,10
2,2,e35f4200-b9f8-44c1-b417-09d833a343d9,DevOps Engineer,Republican almost hospital size sport.,2021-05-05,2024-08-18,e35f4200-b9f8-44c1-b417-09d833a343d9,10
3,3,c581ca4e-3b3e-47fe-b1c1-ac3dcaf75783,Frontend Developer,End measure town mention design at by.,2024-08-08,2021-10-09,c581ca4e-3b3e-47fe-b1c1-ac3dcaf75783,10
4,4,196c18a9-4aef-4755-a3ee-4b6f418c71e3,Backend Developer,These federal box ok enter adult.,2023-02-20,2024-06-09,196c18a9-4aef-4755-a3ee-4b6f418c71e3,10

In [48]:
roles_df.shape

(15, 8)

In [49]:
df.shape
df

,Unnamed: 0,roleId,skillId,name,role_name,skill_name
0,0,4a7cdfaf-b436-46e2-a8a2-5dc4835d40b9,640c213d-8a6a-4056-8097-f503261f10f2,Java,Software Engineer,Java
1,1,4a7cdfaf-b436-46e2-a8a2-5dc4835d40b9,88e8b761-f319-43ad-b4a5-f7a4ec5ce84a,Python,Software Engineer,Python
2,2,4a7cdfaf-b436-46e2-a8a2-5dc4835d40b9,e191e70b-6f79-4445-b734-9cc534f8b0c5,C#,Software Engineer,C#
3,3,4a7cdfaf-b436-46e2-a8a2-5dc4835d40b9,c3fa5509-12fc-4ea6-8757-922636072436,JavaScript,Software Engineer,JavaScript
4,4,4a7cdfaf-b436-46e2-a8a2-5dc4835d40b9,b67791b0-c917-4aed-bd8b-62d0f1ac33f8,React,Software Engineer,React
...,...,...,...,...,...,...
145,145,663c1743-1dc9-4c1a-8200-701078aefaf8,e1d5913c-bc9a-4484-b983-5028060c0603,Research Skills,Technical Writer,Research Skills
146,146,663c1743-1dc9-4c1a-8200-701078aefaf8,f8aaa6dc-3518-4c40-9e04-62a4b3e37e7b,Agile Methodologies,Technical Writer,Agile Methodologies
147,147,663c1743-1dc9-4c1a-8200-701078aefaf8,f8ccfc58-7d91-4a51-9e8f-dc77d31f2b5f,Communication Skills,Technical Writer,Communication Skills
148,148,663c1743-1dc9-4c1a-8200-701078aefaf8,f231332c-0e06-4dea-b0ba-d8e75839d80d,User Documentation,Technical Writer,User Documentation
149,149,663c1743-1dc9-4c1a-8200-701078aefaf8,d422c946-f775-4e88-9531-a463c79624a2,Graphic Design,Technical Writer,Graphic Design

In [50]:

merged_df=pd.merge(df,roles_df,left_on='roleId',right_on='_id',how='inner')
df=merged_df
df.shape

(150, 14)

In [51]:
df.shape

(150, 14)

In [52]:
# roles_df = pd.read_csv('E:/JMAN/fp/DataEngineering/prep/prep_certification.csv')
# roles_df = pd.read_csv('E:/JMAN/fp/DataEngineering/prep/prep_certification.csv')
roles_df = pd.read_csv('E:/JMAN/fp/DataEngineering/prep/prep_skill.csv')
roles_df.head()

,Unnamed: 0,_id,name,created_at,updated_at,desc,skillId,user_count
0,0,640c213d-8a6a-4056-8097-f503261f10f2,Java,2023-11-30,2024-08-22,Java,640c213d-8a6a-4056-8097-f503261f10f2,2035
1,1,88e8b761-f319-43ad-b4a5-f7a4ec5ce84a,Python,2021-05-09,2023-10-08,Python,88e8b761-f319-43ad-b4a5-f7a4ec5ce84a,1965
2,2,e191e70b-6f79-4445-b734-9cc534f8b0c5,C#,2021-05-05,2021-07-02,C#,e191e70b-6f79-4445-b734-9cc534f8b0c5,1913
3,3,c3fa5509-12fc-4ea6-8757-922636072436,JavaScript,2020-11-25,2023-04-21,JavaScript,c3fa5509-12fc-4ea6-8757-922636072436,1997
4,4,b67791b0-c917-4aed-bd8b-62d0f1ac33f8,React,2023-09-13,2023-12-07,React,b67791b0-c917-4aed-bd8b-62d0f1ac33f8,1990

In [53]:
df.isnull().sum()

Unnamed: 0_x    0
roleId_x        0
skillId         0
name_x          0
role_name       0
skill_name      0
Unnamed: 0_y    0
_id             0
name_y          0
desc            0
created_at      0
updated_at      0
roleId_y        0
skill_count     0
dtype: int64

In [54]:
df.shape

(150, 14)

In [55]:
df.drop(['Unnamed: 0_y','Unnamed: 0_x',],inplace=True,axis=1)

In [56]:
df.rename({"_id_x":"_id","userId_x":"userId"},axis=1)

,roleId_x,skillId,name_x,role_name,skill_name,_id,name_y,desc,created_at,updated_at,roleId_y,skill_count
0,4a7cdfaf-b436-46e2-a8a2-5dc4835d40b9,640c213d-8a6a-4056-8097-f503261f10f2,Java,Software Engineer,Java,4a7cdfaf-b436-46e2-a8a2-5dc4835d40b9,Software Engineer,Him matter fall.,2022-06-04,2023-07-07,4a7cdfaf-b436-46e2-a8a2-5dc4835d40b9,10
1,4a7cdfaf-b436-46e2-a8a2-5dc4835d40b9,88e8b761-f319-43ad-b4a5-f7a4ec5ce84a,Python,Software Engineer,Python,4a7cdfaf-b436-46e2-a8a2-5dc4835d40b9,Software Engineer,Him matter fall.,2022-06-04,2023-07-07,4a7cdfaf-b436-46e2-a8a2-5dc4835d40b9,10
2,4a7cdfaf-b436-46e2-a8a2-5dc4835d40b9,e191e70b-6f79-4445-b734-9cc534f8b0c5,C#,Software Engineer,C#,4a7cdfaf-b436-46e2-a8a2-5dc4835d40b9,Software Engineer,Him matter fall.,2022-06-04,2023-07-07,4a7cdfaf-b436-46e2-a8a2-5dc4835d40b9,10
3,4a7cdfaf-b436-46e2-a8a2-5dc4835d40b9,c3fa5509-12fc-4ea6-8757-922636072436,JavaScript,Software Engineer,JavaScript,4a7cdfaf-b436-46e2-a8a2-5dc4835d40b9,Software Engineer,Him matter fall.,2022-06-04,2023-07-07,4a7cdfaf-b436-46e2-a8a2-5dc4835d40b9,10
4,4a7cdfaf-b436-46e2-a8a2-5dc4835d40b9,b67791b0-c917-4aed-bd8b-62d0f1ac33f8,React,Software Engineer,React,4a7cdfaf-b436-46e2-a8a2-5dc4835d40b9,Software Engineer,Him matter fall.,2022-06-04,2023-07-07,4a7cdfaf-b436-46e2-a8a2-5dc4835d40b9,10
...,...,...,...,...,...,...,...,...,...,...,...,...
145,663c1743-1dc9-4c1a-8200-701078aefaf8,e1d5913c-bc9a-4484-b983-5028060c0603,Research Skills,Technical Writer,Research Skills,663c1743-1dc9-4c1a-8200-701078aefaf8,Technical Writer,Central give too down cell feeling.,2020-10-08,2022-08-25,663c1743-1dc9-4c1a-8200-701078aefaf8,10
146,663c1743-1dc9-4c1a-8200-701078aefaf8,f8aaa6dc-3518-4c40-9e04-62a4b3e37e7b,Agile Methodologies,Technical Writer,Agile Methodologies,663c1743-1dc9-4c1a-8200-701078aefaf8,Technical Writer,Central give too down cell feeling.,2020-10-08,2022-08-25,663c1743-1dc9-4c1a-8200-701078aefaf8,10
147,663c1743-1dc9-4c1a-8200-701078aefaf8,f8ccfc58-7d91-4a51-9e8f-dc77d31f2b5f,Communication Skills,Technical Writer,Communication Skills,663c1743-1dc9-4c1a-8200-701078aefaf8,Technical Writer,Central give too down cell feeling.,2020-10-08,2022-08-25,663c1743-1dc9-4c1a-8200-701078aefaf8,10
148,663c1743-1dc9-4c1a-8200-701078aefaf8,f231332c-0e06-4dea-b0ba-d8e75839d80d,User Documentation,Technical Writer,User Documentation,663c1743-1dc9-4c1a-8200-701078aefaf8,Technical Writer,Central give too down cell feeling.,2020-10-08,2022-08-25,663c1743-1dc9-4c1a-8200-701078aefaf8,10
149,663c1743-1dc9-4c1a-8200-701078aefaf8,d422c946-f775-4e88-9531-a463c79624a2,Graphic Design,Technical Writer,Graphic Design,663c1743-1dc9-4c1a-8200-701078aefaf8,Technical Writer,Central give too down cell feeling.,2020-10-08,2022-08-25,663c1743-1dc9-4c1a-8200-701078aefaf8,10

In [57]:
df.isnull().sum()

roleId_x       0
skillId        0
name_x         0
role_name      0
skill_name     0
_id            0
name_y         0
desc           0
created_at     0
updated_at     0
roleId_y       0
skill_count    0
dtype: int64

In [58]:
# df.drop(['RoleId_y','_id_y',],inplace=True,axis=1)

In [59]:
df.shape

(150, 12)

In [60]:
df.isnull().sum()

roleId_x       0
skillId        0
name_x         0
role_name      0
skill_name     0
_id            0
name_y         0
desc           0
created_at     0
updated_at     0
roleId_y       0
skill_count    0
dtype: int64

In [61]:
roles_df.isna().sum()

Unnamed: 0    0
_id           0
name          0
created_at    0
updated_at    0
desc          0
skillId       0
user_count    0
dtype: int64

In [62]:
merged_df=pd.merge(df,roles_df,left_on='skillId',right_on='skillId')
merged_df.shape
df=merged_df

In [63]:
df.shape

(150, 19)

In [64]:
print("Original dtypes:")
print(df.dtypes)

# Convert dtypes
df=df.convert_dtypes()

# Check new dtypes
print("\nConverted dtypes:")
print(df.convert_dtypes().dtypes)

Original dtypes:
roleId_x        object
skillId         object
name_x          string
role_name       string
skill_name      string
_id_x           object
name_y          object
desc_x          object
created_at_x    object
updated_at_x    object
roleId_y        object
skill_count      int64
Unnamed: 0       int64
_id_y           object
name            object
created_at_y    object
updated_at_y    object
desc_y          object
user_count       int64
dtype: object

Converted dtypes:
roleId_x        string
skillId         string
name_x          string
role_name       string
skill_name      string
_id_x           string
name_y          string
desc_x          string
created_at_x    string
updated_at_x    string
roleId_y        string
skill_count      Int64
Unnamed: 0       Int64
_id_y           string
name            string
created_at_y    string
updated_at_y    string
desc_y          string
user_count       Int64
dtype: object

In [65]:
df.shape

(150, 19)

In [66]:
df.isnull().sum()

roleId_x        0
skillId         0
name_x          0
role_name       0
skill_name      0
_id_x           0
name_y          0
desc_x          0
created_at_x    0
updated_at_x    0
roleId_y        0
skill_count     0
Unnamed: 0      0
_id_y           0
name            0
created_at_y    0
updated_at_y    0
desc_y          0
user_count      0
dtype: int64

In [67]:
# df.drop(['user_count_y','skillId_y'],inplace=True,axis=1)

In [68]:
df.drop(['Unnamed: 0'],inplace=True,axis=1)

In [69]:
df.shape

(150, 18)

In [72]:
# df.to_csv('E:/JMAN/fp/DataEngineering/mart/mart_user_certification.csv')
df.to_csv('E:/JMAN/fp/DataEngineering/mart/mart_role_skill.csv')