In [1]:
import pandas as pd

In [2]:
# user_csv=pd.read_csv('C:/Users/RithikHarendarMahesh/Desktop/fp/DataEngineering/prep/prep_user_certification.csv')
# user_csv=pd.read_csv('C:/Users/RithikHarendarMahesh/Desktop/fp/DataEngineering/prep/prep_user_certification.csv')
user_csv=pd.read_csv('C:/Users/RithikHarendarMahesh/Desktop/fp/DataEngineering/prep/prep_role_skill.csv')

In [3]:
df=pd.DataFrame(data=user_csv)

In [4]:
df.isnull().sum()

Unnamed: 0    0
roleId        0
skillId       0
name          0
role_name     0
skill_name    0
dtype: int64

In [5]:
df.shape

(150, 6)

In [6]:
df.dropna(inplace=True)

In [7]:
df.drop_duplicates(inplace=True)

In [8]:
df.dtypes

Unnamed: 0     int64
roleId        object
skillId       object
name          object
role_name     object
skill_name    object
dtype: object

In [9]:
print("Original dtypes:")
print(df.dtypes)

# Convert dtypes
df=df.convert_dtypes()

# Check new dtypes
print("\nConverted dtypes:")
print(df.convert_dtypes().dtypes)

Original dtypes:
Unnamed: 0     int64
roleId        object
skillId       object
name          object
role_name     object
skill_name    object
dtype: object

Converted dtypes:
Unnamed: 0             Int64
roleId        string[python]
skillId       string[python]
name          string[python]
role_name     string[python]
skill_name    string[python]
dtype: object

In [10]:
df.dtypes

Unnamed: 0             Int64
roleId        string[python]
skillId       string[python]
name          string[python]
role_name     string[python]
skill_name    string[python]
dtype: object

In [ ]:
# roles_df = pd.read_csv('C:/Users/RithikHarendarMahesh/Desktop/fp/DataEngineering/prep/prep_user.csv')
# roles_df = pd.read_csv('C:/Users/RithikHarendarMahesh/Desktop/fp/DataEngineering/prep/prep_user.csv')
roles_df = pd.read_csv('C:/Users/RithikHarendarMahesh/Desktop/fp/DataEngineering/prep/prep_role.csv')
roles_df.head()

,Unnamed: 0,_id,name,desc,created_at,updated_at,roleId,skill_count
0,0,25886cc0-ab38-455b-a301-f739643e462d,Software Engineer,Machine bring instead choice feel.,2021-10-12,2021-09-06,25886cc0-ab38-455b-a301-f739643e462d,10
1,1,a10702c1-1e25-4289-8304-a3f8ea9dd4ef,Data Scientist,Area live the accept control standard unit.,2022-05-06,2022-10-27,a10702c1-1e25-4289-8304-a3f8ea9dd4ef,10
2,2,97645b80-65a2-4991-b2bd-21bf7da2b230,DevOps Engineer,Dog for personal.,2021-05-07,2024-09-13,97645b80-65a2-4991-b2bd-21bf7da2b230,10
3,3,2378806c-a3b2-4320-b09b-470b52d02954,Frontend Developer,Show all song.,2022-05-08,2023-03-07,2378806c-a3b2-4320-b09b-470b52d02954,10
4,4,508bfd78-6401-40ad-bc4b-dade38d40352,Backend Developer,Many hundred town single happen amount.,2020-12-29,2021-09-05,508bfd78-6401-40ad-bc4b-dade38d40352,10

In [12]:
roles_df.shape

(15, 8)

In [13]:
df.shape
df

,Unnamed: 0,roleId,skillId,name,role_name,skill_name
0,0,25886cc0-ab38-455b-a301-f739643e462d,a4e275cc-e486-4c7c-9f7b-c40d068966f0,Java,Software Engineer,Java
1,1,25886cc0-ab38-455b-a301-f739643e462d,3d63d298-7c3b-4c64-bc19-dc68acc7e2a4,Python,Software Engineer,Python
2,2,25886cc0-ab38-455b-a301-f739643e462d,d48397d3-9242-4251-bb47-f5af84fe7a43,C#,Software Engineer,C#
3,3,25886cc0-ab38-455b-a301-f739643e462d,78c73ebf-f75f-4532-b441-3a7aeabae391,JavaScript,Software Engineer,JavaScript
4,4,25886cc0-ab38-455b-a301-f739643e462d,1a39e0ee-e002-4c8d-9a8a-11e50c08c8de,React,Software Engineer,React
...,...,...,...,...,...,...
145,145,90a9e49a-3fcc-494c-a3fa-1c5375311cbb,028217fd-dba5-48ca-930d-e048fb8dc146,Research Skills,Technical Writer,Research Skills
146,146,90a9e49a-3fcc-494c-a3fa-1c5375311cbb,8cda0fab-ee95-45a6-9508-ebe56aa5abe5,Agile Methodologies,Technical Writer,Agile Methodologies
147,147,90a9e49a-3fcc-494c-a3fa-1c5375311cbb,109eeae7-dec8-4878-a156-13a66ae4e472,Communication Skills,Technical Writer,Communication Skills
148,148,90a9e49a-3fcc-494c-a3fa-1c5375311cbb,4ecf4620-0e9d-4ce3-807a-0d99635df1cb,User Documentation,Technical Writer,User Documentation
149,149,90a9e49a-3fcc-494c-a3fa-1c5375311cbb,3e738cc0-83fb-4687-bc62-1d1f9ca0c9cb,Graphic Design,Technical Writer,Graphic Design

In [14]:

merged_df=pd.merge(df,roles_df,left_on='roleId',right_on='_id',how='inner')
df=merged_df
df.shape

(150, 14)

In [15]:
df.shape

(150, 14)

In [ ]:
# roles_df = pd.read_csv('C:/Users/RithikHarendarMahesh/Desktop/fp/DataEngineering/prep/prep_certification.csv')
# roles_df = pd.read_csv('C:/Users/RithikHarendarMahesh/Desktop/fp/DataEngineering/prep/prep_certification.csv')
roles_df = pd.read_csv('C:/Users/RithikHarendarMahesh/Desktop/fp/DataEngineering/prep/prep_skill.csv')
roles_df.head()

,Unnamed: 0,_id,name,created_at,updated_at,desc,skillId,user_count
0,0,a4e275cc-e486-4c7c-9f7b-c40d068966f0,Java,2022-06-20,2024-06-28,Java,a4e275cc-e486-4c7c-9f7b-c40d068966f0,2013
1,1,3d63d298-7c3b-4c64-bc19-dc68acc7e2a4,Python,2024-03-06,2023-08-11,Python,3d63d298-7c3b-4c64-bc19-dc68acc7e2a4,2021
2,2,d48397d3-9242-4251-bb47-f5af84fe7a43,C#,2024-02-13,2020-12-13,C#,d48397d3-9242-4251-bb47-f5af84fe7a43,1995
3,3,78c73ebf-f75f-4532-b441-3a7aeabae391,JavaScript,2021-01-22,2022-02-17,JavaScript,78c73ebf-f75f-4532-b441-3a7aeabae391,2045
4,4,1a39e0ee-e002-4c8d-9a8a-11e50c08c8de,React,2020-10-04,2021-03-25,React,1a39e0ee-e002-4c8d-9a8a-11e50c08c8de,2030

In [17]:
df.isnull().sum()

Unnamed: 0_x    0
roleId_x        0
skillId         0
name_x          0
role_name       0
skill_name      0
Unnamed: 0_y    0
_id             0
name_y          0
desc            0
created_at      0
updated_at      0
roleId_y        0
skill_count     0
dtype: int64

In [18]:
df.shape

(150, 14)

In [19]:
df.drop(['Unnamed: 0_y','Unnamed: 0_x',],inplace=True,axis=1)

In [ ]:
df.rename({"_id_x":"_id","userId_x":"userId"},axis=1)

,roleId_x,skillId,name_x,role_name,skill_name,_id,name_y,desc,created_at,updated_at,roleId_y,skill_count
0,25886cc0-ab38-455b-a301-f739643e462d,a4e275cc-e486-4c7c-9f7b-c40d068966f0,Java,Software Engineer,Java,25886cc0-ab38-455b-a301-f739643e462d,Software Engineer,Machine bring instead choice feel.,2021-10-12,2021-09-06,25886cc0-ab38-455b-a301-f739643e462d,10
1,25886cc0-ab38-455b-a301-f739643e462d,3d63d298-7c3b-4c64-bc19-dc68acc7e2a4,Python,Software Engineer,Python,25886cc0-ab38-455b-a301-f739643e462d,Software Engineer,Machine bring instead choice feel.,2021-10-12,2021-09-06,25886cc0-ab38-455b-a301-f739643e462d,10
2,25886cc0-ab38-455b-a301-f739643e462d,d48397d3-9242-4251-bb47-f5af84fe7a43,C#,Software Engineer,C#,25886cc0-ab38-455b-a301-f739643e462d,Software Engineer,Machine bring instead choice feel.,2021-10-12,2021-09-06,25886cc0-ab38-455b-a301-f739643e462d,10
3,25886cc0-ab38-455b-a301-f739643e462d,78c73ebf-f75f-4532-b441-3a7aeabae391,JavaScript,Software Engineer,JavaScript,25886cc0-ab38-455b-a301-f739643e462d,Software Engineer,Machine bring instead choice feel.,2021-10-12,2021-09-06,25886cc0-ab38-455b-a301-f739643e462d,10
4,25886cc0-ab38-455b-a301-f739643e462d,1a39e0ee-e002-4c8d-9a8a-11e50c08c8de,React,Software Engineer,React,25886cc0-ab38-455b-a301-f739643e462d,Software Engineer,Machine bring instead choice feel.,2021-10-12,2021-09-06,25886cc0-ab38-455b-a301-f739643e462d,10
...,...,...,...,...,...,...,...,...,...,...,...,...
145,90a9e49a-3fcc-494c-a3fa-1c5375311cbb,028217fd-dba5-48ca-930d-e048fb8dc146,Research Skills,Technical Writer,Research Skills,90a9e49a-3fcc-494c-a3fa-1c5375311cbb,Technical Writer,Real under here room late more ask.,2024-01-09,2024-04-01,90a9e49a-3fcc-494c-a3fa-1c5375311cbb,10
146,90a9e49a-3fcc-494c-a3fa-1c5375311cbb,8cda0fab-ee95-45a6-9508-ebe56aa5abe5,Agile Methodologies,Technical Writer,Agile Methodologies,90a9e49a-3fcc-494c-a3fa-1c5375311cbb,Technical Writer,Real under here room late more ask.,2024-01-09,2024-04-01,90a9e49a-3fcc-494c-a3fa-1c5375311cbb,10
147,90a9e49a-3fcc-494c-a3fa-1c5375311cbb,109eeae7-dec8-4878-a156-13a66ae4e472,Communication Skills,Technical Writer,Communication Skills,90a9e49a-3fcc-494c-a3fa-1c5375311cbb,Technical Writer,Real under here room late more ask.,2024-01-09,2024-04-01,90a9e49a-3fcc-494c-a3fa-1c5375311cbb,10
148,90a9e49a-3fcc-494c-a3fa-1c5375311cbb,4ecf4620-0e9d-4ce3-807a-0d99635df1cb,User Documentation,Technical Writer,User Documentation,90a9e49a-3fcc-494c-a3fa-1c5375311cbb,Technical Writer,Real under here room late more ask.,2024-01-09,2024-04-01,90a9e49a-3fcc-494c-a3fa-1c5375311cbb,10
149,90a9e49a-3fcc-494c-a3fa-1c5375311cbb,3e738cc0-83fb-4687-bc62-1d1f9ca0c9cb,Graphic Design,Technical Writer,Graphic Design,90a9e49a-3fcc-494c-a3fa-1c5375311cbb,Technical Writer,Real under here room late more ask.,2024-01-09,2024-04-01,90a9e49a-3fcc-494c-a3fa-1c5375311cbb,10

In [21]:
df.isnull().sum()

roleId_x       0
skillId        0
name_x         0
role_name      0
skill_name     0
_id            0
name_y         0
desc           0
created_at     0
updated_at     0
roleId_y       0
skill_count    0
dtype: int64

In [22]:
# df.drop(['RoleId_y','_id_y',],inplace=True,axis=1)

In [23]:
df.shape

(150, 12)

In [24]:
df.isnull().sum()

roleId_x       0
skillId        0
name_x         0
role_name      0
skill_name     0
_id            0
name_y         0
desc           0
created_at     0
updated_at     0
roleId_y       0
skill_count    0
dtype: int64

In [25]:
roles_df.isna().sum()

Unnamed: 0    0
_id           0
name          0
created_at    0
updated_at    0
desc          0
skillId       0
user_count    0
dtype: int64

In [26]:
merged_df=pd.merge(df,roles_df,left_on='skillId',right_on='skillId')
merged_df.shape
df=merged_df

In [27]:
df.shape

(150, 19)

In [28]:
print("Original dtypes:")
print(df.dtypes)

# Convert dtypes
df=df.convert_dtypes()

# Check new dtypes
print("\nConverted dtypes:")
print(df.convert_dtypes().dtypes)

Original dtypes:
roleId_x                object
skillId                 object
name_x          string[python]
role_name       string[python]
skill_name      string[python]
_id_x                   object
name_y                  object
desc_x                  object
created_at_x            object
updated_at_x            object
roleId_y                object
skill_count              int64
Unnamed: 0               int64
_id_y                   object
name                    object
created_at_y            object
updated_at_y            object
desc_y                  object
user_count               int64
dtype: object

Converted dtypes:
roleId_x        string[python]
skillId         string[python]
name_x          string[python]
role_name       string[python]
skill_name      string[python]
_id_x           string[python]
name_y          string[python]
desc_x          string[python]
created_at_x    string[python]
updated_at_x    string[python]
roleId_y        string[python]
skill_count              Int64
Unnamed: 0               Int64
_id_y           string[python]
name            string[python]
created_at_y    string[python]
updated_at_y    string[python]
desc_y          string[python]
user_count               Int64
dtype: object

In [29]:
df.shape

(150, 19)

In [30]:
df.isnull().sum()

roleId_x        0
skillId         0
name_x          0
role_name       0
skill_name      0
_id_x           0
name_y          0
desc_x          0
created_at_x    0
updated_at_x    0
roleId_y        0
skill_count     0
Unnamed: 0      0
_id_y           0
name            0
created_at_y    0
updated_at_y    0
desc_y          0
user_count      0
dtype: int64

In [31]:
# df.drop(['user_count_y','skillId_y'],inplace=True,axis=1)

In [32]:
df.drop(['Unnamed: 0'],inplace=True,axis=1)

In [33]:
df.shape

(150, 18)

In [34]:
# df.to_csv('C:/Users/RithikHarendarMahesh/Desktop/fp/DataEngineering/mart/mart_user_certification.csv')
df.to_csv('C:/Users/RithikHarendarMahesh/Desktop/fp/DataEngineering/mart/mart_role_skill.csv')