In [1]:
import pandas as pd

In [2]:
# user_csv=pd.read_csv('C:/Users/RithikHarendarMahesh/Desktop/fp/DataEngineering/prep/prep_user_certification.csv')
user_csv=pd.read_csv('C:/Users/RithikHarendarMahesh/Desktop/fp/DataEngineering/prep/prep_user_skill.csv')

In [3]:
df=pd.DataFrame(data=user_csv)

In [4]:
df.isnull().sum()

Unnamed: 0    0
_id           0
userId        0
skillId       0
score         0
user_name     0
skill_name    0
dtype: int64

In [5]:
df.dropna(inplace=True)

In [6]:
df.drop_duplicates(inplace=True)

In [7]:
df.dtypes

Unnamed: 0     int64
_id           object
userId        object
skillId       object
score          int64
user_name     object
skill_name    object
dtype: object

In [8]:
print("Original dtypes:")
print(df.dtypes)

# Convert dtypes
df=df.convert_dtypes()

# Check new dtypes
print("\nConverted dtypes:")
print(df.convert_dtypes().dtypes)

Original dtypes:
Unnamed: 0     int64
_id           object
userId        object
skillId       object
score          int64
user_name     object
skill_name    object
dtype: object

Converted dtypes:
Unnamed: 0             Int64
_id           string[python]
userId        string[python]
skillId       string[python]
score                  Int64
user_name     string[python]
skill_name    string[python]
dtype: object

In [9]:
df.dtypes

Unnamed: 0             Int64
_id           string[python]
userId        string[python]
skillId       string[python]
score                  Int64
user_name     string[python]
skill_name    string[python]
dtype: object

In [10]:
# roles_df = pd.read_csv('C:/Users/RithikHarendarMahesh/Desktop/fp/DataEngineering/prep/prep_user.csv')
roles_df = pd.read_csv('C:/Users/RithikHarendarMahesh/Desktop/fp/DataEngineering/prep/prep_user.csv')
roles_df

,Unnamed: 0,userId,total_duration,count,_id,name,role_id,joining_date,department,mail,created_at,updated_at,password,profileImage,role_name
0,0,000493ff-7d6e-41a8-b96a-d1e11eb11a7b,198 days,5,000493ff-7d6e-41a8-b96a-d1e11eb11a7b,Tamara Fields,718675e9-24e9-451b-a6e1-586aef8d0afb,2023-10-22T19:07:19,DATA_ANALYTICS,williamgarcia@example.org,2022-11-18,2023-06-24,q)QX70ZuML,https://dummyimage.com/867x425,Product Manager
1,1,0006310b-e138-4643-9580-491639213d52,1405 days,5,0006310b-e138-4643-9580-491639213d52,Jeffrey Sparks,38bd1ab2-e630-4311-9128-7438fe171719,2023-07-25T15:52:32,DEVOPS,maciasdaniel@example.net,2020-11-17,2022-10-12,k4!RQdaj^2,https://placekitten.com/421/83,Machine Learning Engineer
2,2,0007d104-541e-4547-81c5-72c41a5ef087,614 days,5,0007d104-541e-4547-81c5-72c41a5ef087,Spencer Leonard,508bfd78-6401-40ad-bc4b-dade38d40352,2022-11-19T16:38:31,ADMIN,blackwelljoseph@example.com,2021-04-05,2024-04-30,*6V^tLnz+Y,https://dummyimage.com/254x741,Backend Developer
3,3,0007e8f0-2cd7-4084-960f-8e24912b92e9,1428 days,5,0007e8f0-2cd7-4084-960f-8e24912b92e9,Juan Sullivan,718675e9-24e9-451b-a6e1-586aef8d0afb,2021-12-01T10:10:30,FULL_STACK,roblesjason@example.org,2023-02-03,2021-05-03,@IM@Dc#+_0,https://dummyimage.com/622x814,Product Manager
4,4,000a8195-e0c3-4b5b-b7bf-4299e228c271,1288 days,5,000a8195-e0c3-4b5b-b7bf-4299e228c271,Robin Wiley,25886cc0-ab38-455b-a301-f739643e462d,2020-11-25T04:19:40,FULL_STACK,ashleyberry@example.com,2020-04-09,2023-02-05,@rs$uRlsk4,https://dummyimage.com/908x499,Software Engineer
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,29995,fffa8640-8294-4a8f-a423-7529c7125cc8,128 days,5,fffa8640-8294-4a8f-a423-7529c7125cc8,Pam Hughes,90a9e49a-3fcc-494c-a3fa-1c5375311cbb,2022-12-31T17:51:37,FULL_STACK,thompsonbrandon@example.org,2020-12-11,2024-04-04,0@3+2VHea&,https://picsum.photos/379/50,Technical Writer
29996,29996,fffb7680-2841-4284-b54f-890eacbe9eab,879 days,5,fffb7680-2841-4284-b54f-890eacbe9eab,Jessica Yu,90a9e49a-3fcc-494c-a3fa-1c5375311cbb,2021-08-16T02:41:16,OTHER,logan72@example.org,2023-12-05,2022-07-18,E9TQEyA#)s,https://picsum.photos/460/534,Technical Writer
29997,29997,fffbe46e-071d-4b61-9c09-c4d6e0cfee63,618 days,5,fffbe46e-071d-4b61-9c09-c4d6e0cfee63,Paul Young,ad2e313d-73d0-4c14-a406-93f3ca78ef0d,2020-07-18T05:42:12,FULL_STACK,prestonmcknight@example.net,2024-08-14,2021-01-13,^YWU5SEos_,https://placekitten.com/702/895,Business Analyst
29998,29998,fffe0dfa-f20b-4e08-bba2-a22ba71f3d19,1062 days,5,fffe0dfa-f20b-4e08-bba2-a22ba71f3d19,Nancy Douglas,508bfd78-6401-40ad-bc4b-dade38d40352,2023-09-22T15:19:07,ADMIN,nmcdaniel@example.net,2021-11-30,2023-09-21,A+91Fg9K^D,https://picsum.photos/179/4,Backend Developer
29999,29999,ffff9f64-e7bb-49a7-ba11-ecd5b30c1695,326 days,5,ffff9f64-e7bb-49a7-ba11-ecd5b30c1695,Julie Miller,beb050bc-b355-4fa1-bb53-006eea46a697,2023-11-29T14:49:25,OTHER,stonesheri@example.org,2020-10-18,2020-03-08,#6bKtfYcnt,https://dummyimage.com/254x798,Quality Assurance Engineer

In [11]:
roles_df.shape

(30000, 15)

In [12]:
df.shape

(300000, 7)

In [13]:
df.isnull().sum()

Unnamed: 0    0
_id           0
userId        0
skillId       0
score         0
user_name     0
skill_name    0
dtype: int64

In [14]:

merged_df=pd.merge(df,roles_df,left_on='userId',right_on='_id',how='inner')
df=merged_df

In [15]:
df.shape

(300000, 22)

In [16]:
# roles_df = pd.read_csv('C:/Users/RithikHarendarMahesh/Desktop/fp/DataEngineering/prep/prep_certification.csv')
roles_df = pd.read_csv('C:/Users/RithikHarendarMahesh/Desktop/fp/DataEngineering/prep/prep_skill.csv')
roles_df.head()

,Unnamed: 0,_id,name,created_at,updated_at,desc,skillId,user_count
0,0,a4e275cc-e486-4c7c-9f7b-c40d068966f0,Java,2022-06-20,2024-06-28,Java,a4e275cc-e486-4c7c-9f7b-c40d068966f0,2013
1,1,3d63d298-7c3b-4c64-bc19-dc68acc7e2a4,Python,2024-03-06,2023-08-11,Python,3d63d298-7c3b-4c64-bc19-dc68acc7e2a4,2021
2,2,d48397d3-9242-4251-bb47-f5af84fe7a43,C#,2024-02-13,2020-12-13,C#,d48397d3-9242-4251-bb47-f5af84fe7a43,1995
3,3,78c73ebf-f75f-4532-b441-3a7aeabae391,JavaScript,2021-01-22,2022-02-17,JavaScript,78c73ebf-f75f-4532-b441-3a7aeabae391,2045
4,4,1a39e0ee-e002-4c8d-9a8a-11e50c08c8de,React,2020-10-04,2021-03-25,React,1a39e0ee-e002-4c8d-9a8a-11e50c08c8de,2030

In [17]:
df.isnull().sum()

Unnamed: 0_x      0
_id_x             0
userId_x          0
skillId           0
score             0
user_name         0
skill_name        0
Unnamed: 0_y      0
userId_y          0
total_duration    0
count             0
_id_y             0
name              0
role_id           0
joining_date      0
department        0
mail              0
created_at        0
updated_at        0
password          0
profileImage      0
role_name         0
dtype: int64

In [18]:
df.drop(['_id_y','userId_y',],inplace=True,axis=1)

In [19]:
df.shape

(300000, 20)

In [20]:
df.drop(['Unnamed: 0_y','Unnamed: 0_x',],inplace=True,axis=1)

In [21]:
df.rename({"_id_x":"_id","userId_x":"userId"},axis=1)

,_id,userId,skillId,score,user_name,skill_name,total_duration,count,name,role_id,joining_date,department,mail,created_at,updated_at,password,profileImage,role_name
0,a9b18a7b-85c1-4762-964f-d2a26add7d5f,06bdb594-fb32-4612-9f5f-b381ccbfc9a5,2589b8ee-c39c-47d2-bcac-e565a069a7dc,41,Jonathan King,Cloud Security,1366 days,5,Jonathan King,25886cc0-ab38-455b-a301-f739643e462d,2021-08-07T21:52:59,ADMIN,slee@example.net,2020-07-11,2021-03-18,0&^u3SZ!td,https://placekitten.com/397/1014,Software Engineer
1,34423a3f-b35c-4459-9738-78c4d2505049,06bdb594-fb32-4612-9f5f-b381ccbfc9a5,cf4801b6-76e9-4b22-9290-9173d711a185,87,Jonathan King,Deep Learning,1366 days,5,Jonathan King,25886cc0-ab38-455b-a301-f739643e462d,2021-08-07T21:52:59,ADMIN,slee@example.net,2020-07-11,2021-03-18,0&^u3SZ!td,https://placekitten.com/397/1014,Software Engineer
2,dcc90d79-f07e-43d0-93e9-8e1dcb108867,06bdb594-fb32-4612-9f5f-b381ccbfc9a5,c111b0b2-8eeb-43df-a3ac-82ee700d64d2,13,Jonathan King,Serverless Architectures,1366 days,5,Jonathan King,25886cc0-ab38-455b-a301-f739643e462d,2021-08-07T21:52:59,ADMIN,slee@example.net,2020-07-11,2021-03-18,0&^u3SZ!td,https://placekitten.com/397/1014,Software Engineer
3,0e33d968-01f6-46fb-b4fa-1a4e14202f2e,06bdb594-fb32-4612-9f5f-b381ccbfc9a5,8ebdb0e5-8295-4453-a1da-a1eae233ed83,53,Jonathan King,Design Systems,1366 days,5,Jonathan King,25886cc0-ab38-455b-a301-f739643e462d,2021-08-07T21:52:59,ADMIN,slee@example.net,2020-07-11,2021-03-18,0&^u3SZ!td,https://placekitten.com/397/1014,Software Engineer
4,c7a3f07b-1f4a-45a8-ae75-5833398faf89,06bdb594-fb32-4612-9f5f-b381ccbfc9a5,25807973-e3bb-43f1-8f4a-8183e0dc0171,96,Jonathan King,Networking,1366 days,5,Jonathan King,25886cc0-ab38-455b-a301-f739643e462d,2021-08-07T21:52:59,ADMIN,slee@example.net,2020-07-11,2021-03-18,0&^u3SZ!td,https://placekitten.com/397/1014,Software Engineer
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
299995,d3dba183-7ac3-41ba-90e9-4541648a2c3e,a353557c-7f71-4344-b479-177e4279112e,c1491f2c-a400-48e8-bb13-dab12c42f259,19,Courtney Martin,Version Control/Git,186 days,5,Courtney Martin,90a9e49a-3fcc-494c-a3fa-1c5375311cbb,2020-02-20T10:57:18,FULL_STACK,adamsjoseph@example.org,2020-09-09,2024-06-24,&6&0KsXEai,https://dummyimage.com/465x433,Technical Writer
299996,b10fd8da-b3de-40da-9e18-1663e8899055,a353557c-7f71-4344-b479-177e4279112e,d0fe1f5f-281f-4e10-9cfb-4142d203a7a4,73,Courtney Martin,Python,186 days,5,Courtney Martin,90a9e49a-3fcc-494c-a3fa-1c5375311cbb,2020-02-20T10:57:18,FULL_STACK,adamsjoseph@example.org,2020-09-09,2024-06-24,&6&0KsXEai,https://dummyimage.com/465x433,Technical Writer
299997,a172d326-9b21-4cba-9e78-3a8d0a5015a9,a353557c-7f71-4344-b479-177e4279112e,3d63d298-7c3b-4c64-bc19-dc68acc7e2a4,96,Courtney Martin,Python,186 days,5,Courtney Martin,90a9e49a-3fcc-494c-a3fa-1c5375311cbb,2020-02-20T10:57:18,FULL_STACK,adamsjoseph@example.org,2020-09-09,2024-06-24,&6&0KsXEai,https://dummyimage.com/465x433,Technical Writer
299998,d9fc6381-2d82-4ca7-a654-f7642f3d57d0,a353557c-7f71-4344-b479-177e4279112e,08067270-979f-45d9-ba1b-47aa9e2af0e2,88,Courtney Martin,CI/CD,186 days,5,Courtney Martin,90a9e49a-3fcc-494c-a3fa-1c5375311cbb,2020-02-20T10:57:18,FULL_STACK,adamsjoseph@example.org,2020-09-09,2024-06-24,&6&0KsXEai,https://dummyimage.com/465x433,Technical Writer
299999,c4a90379-2a53-40f6-bd4e-0b316e44d071,a353557c-7f71-4344-b479-177e4279112e,9bf474a3-c39f-4d0b-b06e-bc3c911d82a8,87,Courtney Martin,Stakeholder Management,186 days,5,Courtney Martin,90a9e49a-3fcc-494c-a3fa-1c5375311cbb,2020-02-20T10:57:18,FULL_STACK,adamsjoseph@example.org,2020-09-09,2024-06-24,&6&0KsXEai,https://dummyimage.com/465x433,Technical Writer

In [22]:
df.shape

(300000, 18)

In [23]:
df.isnull().sum()

_id_x             0
userId_x          0
skillId           0
score             0
user_name         0
skill_name        0
total_duration    0
count             0
name              0
role_id           0
joining_date      0
department        0
mail              0
created_at        0
updated_at        0
password          0
profileImage      0
role_name         0
dtype: int64

In [24]:
roles_df.isna().sum()

Unnamed: 0    0
_id           0
name          0
created_at    0
updated_at    0
desc          0
skillId       0
user_count    0
dtype: int64

In [25]:
merged_df=pd.merge(df,roles_df,left_on='skillId',right_on='skillId')
merged_df.shape
df=merged_df

In [26]:
df.shape

(300000, 25)

In [27]:
print("Original dtypes:")
print(df.dtypes)

# Convert dtypes
df=df.convert_dtypes()

# Check new dtypes
print("\nConverted dtypes:")
print(df.convert_dtypes().dtypes)

Original dtypes:
_id_x             string[python]
userId_x                  object
skillId                   object
score                      Int64
user_name         string[python]
skill_name        string[python]
total_duration            object
count                      int64
name_x                    object
role_id                   object
joining_date              object
department                object
mail                      object
created_at_x              object
updated_at_x              object
password                  object
profileImage              object
role_name                 object
Unnamed: 0                 int64
_id                       object
name_y                    object
created_at_y              object
updated_at_y              object
desc                      object
user_count                 int64
dtype: object

Converted dtypes:
_id_x             string[python]
userId_x          string[python]
skillId           string[python]
score                      Int64
user_name         string[python]
skill_name        string[python]
total_duration    string[python]
count                      Int64
name_x            string[python]
role_id           string[python]
joining_date      string[python]
department        string[python]
mail              string[python]
created_at_x      string[python]
updated_at_x      string[python]
password          string[python]
profileImage      string[python]
role_name         string[python]
Unnamed: 0                 Int64
_id               string[python]
name_y            string[python]
created_at_y      string[python]
updated_at_y      string[python]
desc              string[python]
user_count                 Int64
dtype: object

In [28]:
df.drop(['updated_at_y','created_at_y',],inplace=True,axis=1)

In [29]:
df.drop(['name_y'],inplace=True,axis=1)

In [30]:
df.shape

(300000, 22)

In [31]:
# df.to_csv('C:/Users/RithikHarendarMahesh/Desktop/fp/DataEngineering/mart/mart_user_certification.csv')
df.to_csv('C:/Users/RithikHarendarMahesh/Desktop/fp/DataEngineering/mart/mart_user_skill.csv')