In [1]:
import pandas as pd

In [3]:
user_csv=pd.read_csv('C:/Users/RithikHarendarMahesh/Desktop/fp/DataEngineering/prep/prep_user_certification.csv')

C:\Users\RithikHarendarMahesh\AppData\Local\Temp\ipykernel_7808\1242667855.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  user_csv=pd.read_csv('C:/Users/RithikHarendarMahesh/Desktop/fp/DataEngineering/prep/prep_user_certification.csv')

In [4]:
df=pd.DataFrame(data=user_csv)

In [5]:
df.isnull().sum()

Unnamed: 0                0
_id                       0
userId                    0
certificationId           0
certificationName         0
started_at                0
completed_at              0
competency                0
isVerified                0
imageData                 0
user_name            150000
dtype: int64

In [6]:
df.dropna(inplace=True)

In [7]:
df.drop_duplicates(inplace=True)

In [8]:
df.dtypes

Unnamed: 0            int64
_id                  object
userId               object
certificationId      object
certificationName    object
started_at           object
completed_at         object
competency           object
isVerified             bool
imageData            object
user_name            object
dtype: object

In [9]:
print("Original dtypes:")
print(df.dtypes)

# Convert dtypes
df=df.convert_dtypes()

# Check new dtypes
print("\nConverted dtypes:")
print(df.convert_dtypes().dtypes)

Original dtypes:
Unnamed: 0            int64
_id                  object
userId               object
certificationId      object
certificationName    object
started_at           object
completed_at         object
competency           object
isVerified             bool
imageData            object
user_name            object
dtype: object

Converted dtypes:
Unnamed: 0                    Int64
_id                  string[python]
userId               string[python]
certificationId      string[python]
certificationName    string[python]
started_at           string[python]
completed_at         string[python]
competency           string[python]
isVerified                  boolean
imageData            string[python]
user_name            string[python]
dtype: object

In [10]:
df['started_at'] = [
    i.split(" ")[0] if 'T' not in i else i.split("T")[0] for i in df['started_at']
]

In [11]:
df['started_at']=pd.to_datetime(df['started_at'])

In [12]:
df['completed_at'] = [
    i.split(" ")[0] if 'T' not in i else i.split("T")[0] for i in df['completed_at']
]

In [13]:
df['completed_at']=pd.to_datetime(df['completed_at'])

In [14]:
df.dtypes

Unnamed: 0                    Int64
_id                  string[python]
userId               string[python]
certificationId      string[python]
certificationName    string[python]
started_at           datetime64[ns]
completed_at         datetime64[ns]
competency           string[python]
isVerified                  boolean
imageData            string[python]
user_name            string[python]
dtype: object

In [16]:
roles_df = pd.read_csv('C:/Users/RithikHarendarMahesh/Desktop/fp/DataEngineering/prep/prep_user.csv')
roles_df.head()

,Unnamed: 0,userId,total_duration,count,_id,name,role_id,joining_date,department,mail,created_at,updated_at,password,profileImage,role_name
0,0,00001762-6384-4247-ba53-54ea1640d1c7,6730 days,5,00001762-6384-4247-ba53-54ea1640d1c7,George Davis,19adcd6a-d040-43f5-8df4-f2776037d25e,2020-01-13T22:40:37,DEVOPS,kmyers@example.com,2020-05-17,2022-08-31,$$NE4RGu*3,https://picsum.photos/383/584,improve
1,1,00007389-374a-4695-aa55-e934e296c10d,7451 days,5,00007389-374a-4695-aa55-e934e296c10d,Richard Wood,100ac7ef-7112-488f-adf2-f9c1608d49b2,2022-12-13T03:11:03,DEVOPS,stacyjennings@example.net,2020-05-19,2021-03-04,w2AER@Cp@v,https://dummyimage.com/258x598,century
2,2,00056dbe-77c8-4c3c-a431-ebd19236bf46,2677 days,5,00056dbe-77c8-4c3c-a431-ebd19236bf46,John Johnson,9a857edb-7685-453d-bc33-ed5032191e9c,2020-03-09T11:55:40,OTHER,curtiscordova@example.com,2021-08-27,2023-01-11,Xr67Ru9j%5,https://dummyimage.com/116x586,money
3,3,000aef55-a6de-4d27-826e-fe081937fefd,4958 days,5,000aef55-a6de-4d27-826e-fe081937fefd,Diana Wagner,76fba540-2817-4293-b9ae-dd2aa77acbc1,2020-07-25T05:33:12,DATA_ANALYTICS,samantha69@example.org,2024-02-27,2024-02-09,x5OCm3Qm$4,https://dummyimage.com/607x451,positive
4,4,000c3b60-2ec0-4623-8924-dc9974974acb,4166 days,5,000c3b60-2ec0-4623-8924-dc9974974acb,Lauren Villegas,68d523fe-d71a-4a66-915a-950cbce914e2,2024-07-18T22:41:03,DEVOPS,corey49@example.net,2023-01-17,2023-09-12,pAH(9Rbl7+,https://dummyimage.com/113x292,talk

In [20]:

merged_df=df.merge(roles_df,left_on='userId',right_on='_id')
merged_df.shape
df=merged_df

In [22]:
roles_df = pd.read_csv('C:/Users/RithikHarendarMahesh/Desktop/fp/DataEngineering/prep/prep_certification.csv')
roles_df.head()

,Unnamed: 0,_id,name,issued_by,is_certificate,certificationId,user_count
0,0,66febe5eca0ebab04690f2ac,ReactJS,Coursera,True,66febe5eca0ebab04690f2ac,2
1,1,66febfabca0ebab04690f2b1,ExpressJS,Udemy,False,66febfabca0ebab04690f2b1,1
2,2,6703c19c5b1d1e7f98a9a951,DBT,DBT,True,6703c19c5b1d1e7f98a9a951,1
3,3,6703c20b5b1d1e7f98a9a957,Web Scrapping using Python,Youtube,False,6703c20b5b1d1e7f98a9a957,1

In [32]:
df.isnull().sum()

Unnamed: 0_x         0
_id_x                0
userId_x             0
certificationId      0
certificationName    0
started_at           0
completed_at         0
competency           0
isVerified           0
imageData            0
user_name            0
Unnamed: 0_y         0
total_duration       0
count                0
name                 0
role_id              0
joining_date         0
department           0
mail                 0
created_at           0
updated_at           0
password             0
profileImage         0
role_name            0
dtype: int64

In [31]:
df.drop(['_id_y','userId_y',],inplace=True,axis=1)

In [33]:
df.drop(['Unnamed: 0_y','Unnamed: 0_x',],inplace=True,axis=1)

In [ ]:
df.rename()

In [24]:
merged_df=df.merge(roles_df,left_on='userId',right_on='certificationId')
merged_df.shape
df=merged_df

KeyError: 'userId'

In [50]:
print("Original dtypes:")
print(df.dtypes)

# Convert dtypes
df=df.convert_dtypes()

# Check new dtypes
print("\nConverted dtypes:")
print(df.convert_dtypes().dtypes)

Original dtypes:
_id                  string[python]
userId               string[python]
certificationId      string[python]
certificationName    string[python]
started_at           datetime64[ns]
completed_at         datetime64[ns]
competency           string[python]
isVerified                  boolean
imageData            string[python]
user_name                    object
dtype: object

Converted dtypes:
_id                  string[python]
userId               string[python]
certificationId      string[python]
certificationName    string[python]
started_at           datetime64[ns]
completed_at         datetime64[ns]
competency           string[python]
isVerified                  boolean
imageData            string[python]
user_name            string[python]
dtype: object

In [51]:
df.to_csv('C:/Users/RithikHarendarMahesh/Desktop/fp/DataEngineering/prep/prep_user_certification.csv')