In [6]:
import pandas as pd

In [7]:
# user_csv=pd.read_csv('E:/JMAN/fp/DataEngineering/prep/prep_user_certification.csv')
user_csv=pd.read_csv('E:/JMAN/fp/DataEngineering/prep/prep_user_skill.csv')

In [8]:
df=pd.DataFrame(data=user_csv)

In [9]:
df.isnull().sum()

Unnamed: 0    0
_id           0
userId        0
skillId       0
score         0
user_name     0
skill_name    0
dtype: int64

In [10]:
df.dropna(inplace=True)

In [11]:
df.drop_duplicates(inplace=True)

In [12]:
df.dtypes

Unnamed: 0     int64
_id           object
userId        object
skillId       object
score          int64
user_name     object
skill_name    object
dtype: object

In [13]:
print("Original dtypes:")
print(df.dtypes)

# Convert dtypes
df=df.convert_dtypes()

# Check new dtypes
print("\nConverted dtypes:")
print(df.convert_dtypes().dtypes)

Original dtypes:
Unnamed: 0     int64
_id           object
userId        object
skillId       object
score          int64
user_name     object
skill_name    object
dtype: object

Converted dtypes:
Unnamed: 0     Int64
_id           string
userId        string
skillId       string
score          Int64
user_name     string
skill_name    string
dtype: object

In [16]:
df.dtypes

Unnamed: 0     Int64
_id           string
userId        string
skillId       string
score          Int64
user_name     string
skill_name    string
dtype: object

In [18]:
# roles_df = pd.read_csv('E:/JMAN/fp/DataEngineering/prep/prep_user.csv')
roles_df = pd.read_csv('E:/JMAN/fp/DataEngineering/prep/prep_user.csv')
roles_df

(30002, 15)

In [136]:
roles_df.shape

(30002, 15)

In [137]:
df.shape

(150006, 11)

In [19]:
df.isnull().sum()

Unnamed: 0    0
_id           0
userId        0
skillId       0
score         0
user_name     0
skill_name    0
dtype: int64

In [20]:

merged_df=pd.merge(df,roles_df,left_on='userId',right_on='_id',how='inner')
df=merged_df

In [21]:
df.shape

(30004, 22)

In [23]:
# roles_df = pd.read_csv('E:/JMAN/fp/DataEngineering/prep/prep_certification.csv')
roles_df = pd.read_csv('E:/JMAN/fp/DataEngineering/prep/prep_skill.csv')
roles_df.head()

,Unnamed: 0,_id,name,created_at,updated_at,desc,skillId,user_count
0,0,66fd116e959f8b790f412908,Database,2024-10-02,2024-10-02,DB,66fd116e959f8b790f412908,1
1,1,66fd1190959f8b790f41290a,Data Analysis,2024-10-02,2024-10-02,Data Analysis,66fd1190959f8b790f41290a,1
2,2,66fd1200959f8b790f41290f,Data Process,2024-10-02,2024-10-02,Data processing,66fd1200959f8b790f41290f,1
3,3,66ff7be7d1312483599a8dd8,Frontend,2024-10-04,2024-10-04,Frontend,66ff7be7d1312483599a8dd8,1
4,4,79e0ecd9-a547-462a-acb5-533722940278,share,2022-11-05,2023-06-24,Where site modern modern.,79e0ecd9-a547-462a-acb5-533722940278,261

In [24]:
df.isnull().sum()

Unnamed: 0_x      0
_id_x             0
userId_x          0
skillId           0
score             0
user_name         0
skill_name        0
Unnamed: 0_y      0
userId_y          0
total_duration    0
count             0
_id_y             0
name              0
role_id           0
joining_date      0
department        0
mail              0
created_at        0
updated_at        0
password          0
profileImage      0
role_name         0
dtype: int64

In [25]:
df.drop(['_id_y','userId_y',],inplace=True,axis=1)

In [26]:
df.shape

(30004, 20)

In [27]:
df.drop(['Unnamed: 0_y','Unnamed: 0_x',],inplace=True,axis=1)

In [28]:
df.rename({"_id_x":"_id","userId_x":"userId"},axis=1)

,_id,userId,skillId,score,user_name,skill_name,total_duration,count,name,role_id,joining_date,department,mail,created_at,updated_at,password,profileImage,role_name
0,67027ce18f14d777fee288b2,67013cc9a25cfa0d89dbb105,66ff7be7d1312483599a8dd8,76,abc,Frontend,7 days,2,abc,66fd544630450c2a76ac0211,2024-10-01,FULL_STACK,emp@example.com,2024-10-05,2024-10-05,Abcd@1234,"data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAA...",Solution Enabler
1,670291db398e7efea9400b77,67013cc9a25cfa0d89dbb105,66fd1200959f8b790f41290f,69,abc,Data Process,7 days,2,abc,66fd544630450c2a76ac0211,2024-10-01,FULL_STACK,emp@example.com,2024-10-05,2024-10-05,Abcd@1234,"data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAA...",Solution Enabler
2,67029ebd398e7efea9400b78,67013cc9a25cfa0d89dbb105,66fd116e959f8b790f412908,45,abc,Database,7 days,2,abc,66fd544630450c2a76ac0211,2024-10-01,FULL_STACK,emp@example.com,2024-10-05,2024-10-05,Abcd@1234,"data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAA...",Solution Enabler
3,6702a0f6398e7efea9400b7a,67013cc9a25cfa0d89dbb105,66fd1190959f8b790f41290a,32,abc,Data Analysis,7 days,2,abc,66fd544630450c2a76ac0211,2024-10-01,FULL_STACK,emp@example.com,2024-10-05,2024-10-05,Abcd@1234,"data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAA...",Solution Enabler
4,73c0a600-8e77-4a3c-85ea-fec5aebbbcd0,096c4b55-c067-47e3-8721-55c340aee997,41c92930-fe69-4c34-80e8-66ab07a1dc6c,98,Doris Figueroa,sell,6615 days,5,Doris Figueroa,a0683cc9-251b-4b28-be06-ecacc5359757,2023-09-08T19:29:51,OTHER,riverakurt@example.net,2024-06-10,2021-06-18,0)!H1Ourmi,https://dummyimage.com/585x1006,all
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29999,59a33ee4-2c36-4969-997b-041be47a2902,f9242b7f-47cb-40f3-bfa5-46edd65a10b8,66126a5d-859e-4c0a-86fd-1e85a07e0e77,64,Todd Edwards,goal,4895 days,5,Todd Edwards,242e1513-5ad2-4189-afaf-669d6753f57b,2020-09-04T14:57:17,OTHER,adam17@example.org,2023-01-20,2024-04-22,h5chRL3P&v,https://picsum.photos/974/929,security
30000,c4283d35-2a51-4e1a-bff2-3614f4ff8817,f55a8ea9-2791-4cc9-8923-9a7ac48d6817,4beafb0e-0466-469f-bd8c-c9144a8990f4,55,Keith King,study,2266 days,5,Keith King,c2110ca2-adba-4332-bf04-9d121d224cc1,2021-02-19T13:01:08,OTHER,aliciareyes@example.net,2024-02-10,2023-08-19,X^3UPheecy,https://placekitten.com/667/722,let
30001,fc205256-e7e4-4229-98bc-7032e600bb69,d307ceab-5357-4e32-8c81-d9e5730b16d2,e9ba9fa1-d3a4-40a7-9d8d-7164a9c24571,42,Andrew Evans,drive,4378 days,5,Andrew Evans,c2110ca2-adba-4332-bf04-9d121d224cc1,2024-06-22T19:49:00,OTHER,phenry@example.net,2024-07-20,2023-04-30,E04Nj^hr6&,https://placekitten.com/587/184,let
30002,18167838-0f38-430c-9c25-126f7eb0e90c,b5dfd72e-9cfd-4c40-9907-7ec861bb3a95,318a5960-4df1-4d72-b7cf-25ebe740e081,55,Robert Hodge,professional,4556 days,5,Robert Hodge,335eff01-3ed3-44f5-ada7-4d2344652b5f,2020-06-09T17:05:08,DATA_ANALYTICS,elizabeth71@example.com,2024-10-07,2020-02-10,%8HV_KirQ7,https://dummyimage.com/305x47,two
30003,b4c8df37-2d63-4108-9bb7-3dcb68404edb,52b93321-9024-4f5a-87af-24b91520bbb4,be33d2b5-057f-467b-83f6-7f45cfa3b8f7,73,Jessica Patterson,sell,7474 days,5,Jessica Patterson,76fba540-2817-4293-b9ae-dd2aa77acbc1,2021-05-23T00:32:27,OTHER,melissalarson@example.org,2021-04-24,2023-10-06,fGQqXCLz*3,https://picsum.photos/494/740,positive

In [29]:
df.shape

(30004, 18)

In [30]:
df.isnull().sum()

_id_x             0
userId_x          0
skillId           0
score             0
user_name         0
skill_name        0
total_duration    0
count             0
name              0
role_id           0
joining_date      0
department        0
mail              0
created_at        0
updated_at        0
password          0
profileImage      0
role_name         0
dtype: int64

In [31]:
roles_df.isna().sum()

Unnamed: 0    0
_id           0
name          0
created_at    0
updated_at    0
desc          0
skillId       0
user_count    0
dtype: int64

In [32]:
merged_df=pd.merge(df,roles_df,left_on='skillId',right_on='skillId')
merged_df.shape
df=merged_df

In [33]:
df.shape

(30004, 25)

In [37]:
print("Original dtypes:")
print(df.dtypes)

# Convert dtypes
df=df.convert_dtypes()

# Check new dtypes
print("\nConverted dtypes:")
print(df.convert_dtypes().dtypes)

Original dtypes:
_id_x             string
userId_x          string
skillId           string
score              Int64
user_name         string
skill_name        string
total_duration    string
count              Int64
name_x            string
role_id           string
joining_date      string
department        string
mail              string
created_at_x      string
updated_at_x      string
password          string
profileImage      string
role_name         string
Unnamed: 0         Int64
_id               string
name_y            string
desc              string
user_count         Int64
dtype: object

Converted dtypes:
_id_x             string
userId_x          string
skillId           string
score              Int64
user_name         string
skill_name        string
total_duration    string
count              Int64
name_x            string
role_id           string
joining_date      string
department        string
mail              string
created_at_x      string
updated_at_x      string
password          string
profileImage      string
role_name         string
Unnamed: 0         Int64
_id               string
name_y            string
desc              string
user_count         Int64
dtype: object

In [35]:
df.drop(['updated_at_y','created_at_y',],inplace=True,axis=1)

In [38]:
df.drop(['name_y'],inplace=True,axis=1)

In [39]:
df.shape

(30004, 22)

In [40]:
# df.to_csv('E:/JMAN/fp/DataEngineering/mart/mart_user_certification.csv')
df.to_csv('E:/JMAN/fp/DataEngineering/mart/mart_user_skill.csv')