In [1]:
import pandas as pd

In [2]:
# user_csv=pd.read_csv('E:/JMAN/fp/DataEngineering/prep/prep_user_certification.csv')
user_csv=pd.read_csv('E:/JMAN/fp/DataEngineering/prep/prep_user_certification.csv')

In [3]:
df=pd.DataFrame(data=user_csv)

In [4]:
df.isnull().sum()

Unnamed: 0           0
_id                  0
userId               0
certificationId      0
certificationName    0
started_at           0
completed_at         0
competency           0
isVerified           0
imageData            0
user_name            0
dtype: int64

In [5]:
df.dropna(inplace=True)

In [6]:
df.drop_duplicates(inplace=True)

In [7]:
df.dtypes

Unnamed: 0            int64
_id                  object
userId               object
certificationId      object
certificationName    object
started_at           object
completed_at         object
competency           object
isVerified             bool
imageData            object
user_name            object
dtype: object

In [8]:
print("Original dtypes:")
print(df.dtypes)

# Convert dtypes
df=df.convert_dtypes()

# Check new dtypes
print("\nConverted dtypes:")
print(df.convert_dtypes().dtypes)

Original dtypes:
Unnamed: 0            int64
_id                  object
userId               object
certificationId      object
certificationName    object
started_at           object
completed_at         object
competency           object
isVerified             bool
imageData            object
user_name            object
dtype: object

Converted dtypes:
Unnamed: 0             Int64
_id                   string
userId                string
certificationId       string
certificationName     string
started_at            string
completed_at          string
competency            string
isVerified           boolean
imageData             string
user_name             string
dtype: object

In [9]:
df['started_at'] = [
    i.split(" ")[0] if 'T' not in i else i.split("T")[0] for i in df['started_at']
]

In [10]:
df['started_at']=pd.to_datetime(df['started_at'])

In [11]:
df['completed_at'] = [
    i.split(" ")[0] if 'T' not in i else i.split("T")[0] for i in df['completed_at']
]

In [12]:
df['completed_at']=pd.to_datetime(df['completed_at'])

In [13]:
df.dtypes

Unnamed: 0                    Int64
_id                          string
userId                       string
certificationId              string
certificationName            string
started_at           datetime64[ns]
completed_at         datetime64[ns]
competency                   string
isVerified                  boolean
imageData                    string
user_name                    string
dtype: object

In [14]:
# roles_df = pd.read_csv('E:/JMAN/fp/DataEngineering/prep/prep_user.csv')
roles_df = pd.read_csv('E:/JMAN/fp/DataEngineering/prep/prep_user.csv')
roles_df.head()

,Unnamed: 0,userId,total_duration,count,_id,name,role_id,joining_date,department,mail,created_at,updated_at,password,profileImage,role_name
0,0,0001cd17-b1ef-481e-8f16-b86c03222af3,298 days,5,0001cd17-b1ef-481e-8f16-b86c03222af3,Stephanie Doyle,4e0c4606-0668-4356-bb17-e3b13140c28e,2020-08-25T17:39:23,FULL_STACK,dianaharmon@example.com,2022-02-20,2022-05-23,c(0JdJY)+0,https://placekitten.com/949/26,UX/UI Designer
1,1,000897ae-ccc9-469e-92d6-e3ed79b4b369,1177 days,5,000897ae-ccc9-469e-92d6-e3ed79b4b369,Sonya Conrad,196c18a9-4aef-4755-a3ee-4b6f418c71e3,2022-05-12T17:19:00,ADMIN,darren95@example.org,2021-11-08,2021-11-22,%3u4!VV))j,https://dummyimage.com/967x454,Backend Developer
2,2,000a146b-94c2-45e6-99ac-eb62ac2b022e,3 days,5,000a146b-94c2-45e6-99ac-eb62ac2b022e,Rhonda Lyons,ccb4b4f9-80cb-4f1b-9ae8-f16d9da11659,2022-12-20T03:38:29,DEVOPS,oyoder@example.org,2024-05-03,2021-05-11,4ipDG2O9R$,https://dummyimage.com/203x506,Cloud Engineer
3,3,000b0fad-ede6-4786-bee6-b8cefba98cf3,706 days,5,000b0fad-ede6-4786-bee6-b8cefba98cf3,Anna Paul,663c1743-1dc9-4c1a-8200-701078aefaf8,2023-03-21T22:30:14,DEVOPS,josephlester@example.com,2023-05-15,2021-04-21,Li1B*f#3f@,https://placekitten.com/87/673,Technical Writer
4,4,000b87bb-2672-49e4-a4c5-ceb032b0395c,702 days,5,000b87bb-2672-49e4-a4c5-ceb032b0395c,Sarah Lee,791867b5-ae38-44aa-b2b0-c258b4f25afb,2024-04-19T05:14:46,ADMIN,courtney01@example.com,2023-08-02,2024-08-05,pV6Q&x@@M*,https://picsum.photos/496/736,Full Stack Developer

In [15]:
roles_df.shape

(30000, 15)

In [16]:
df.shape

(150000, 11)

In [17]:
df.isnull().sum()

Unnamed: 0           0
_id                  0
userId               0
certificationId      0
certificationName    0
started_at           0
completed_at         0
competency           0
isVerified           0
imageData            0
user_name            0
dtype: int64

In [18]:

merged_df=pd.merge(df,roles_df,left_on='userId',right_on='_id',how='inner')
df=merged_df

In [19]:
df.shape

(150000, 26)

In [20]:
# roles_df = pd.read_csv('E:/JMAN/fp/DataEngineering/prep/prep_certification.csv')
roles_df = pd.read_csv('E:/JMAN/fp/DataEngineering/prep/prep_certification.csv')
roles_df.head()

,Unnamed: 0,_id,name,issued_by,is_certificate,role,certificationId,user_count
0,0,f9f74721-d989-4b0a-a67e-8c65d6986b4b,AWS Certified Solutions Architect,Williams PLC,True,Software Engineer,f9f74721-d989-4b0a-a67e-8c65d6986b4b,823
1,1,d9fafa1f-b1c2-4cb0-bada-24c3a57449fc,Microsoft Certified: Azure Developer Associate,Boone Inc,True,Software Engineer,d9fafa1f-b1c2-4cb0-bada-24c3a57449fc,804
2,2,6371cb98-2998-41d8-82f8-9992a36685ad,Certified Ethical Hacker,Contreras Ltd,True,Software Engineer,6371cb98-2998-41d8-82f8-9992a36685ad,808
3,3,d43bcd22-b67c-4a2c-a5db-7a872928e3fe,Certified ScrumMaster,Smith-Valdez,True,Software Engineer,d43bcd22-b67c-4a2c-a5db-7a872928e3fe,851
4,4,2c986ea3-02c3-4369-b925-731d911849ef,AWS Certified Developer - Associate,Haas-Chambers,True,Software Engineer,2c986ea3-02c3-4369-b925-731d911849ef,810

In [21]:
df.isnull().sum()

Unnamed: 0_x         0
_id_x                0
userId_x             0
certificationId      0
certificationName    0
started_at           0
completed_at         0
competency           0
isVerified           0
imageData            0
user_name            0
Unnamed: 0_y         0
userId_y             0
total_duration       0
count                0
_id_y                0
name                 0
role_id              0
joining_date         0
department           0
mail                 0
created_at           0
updated_at           0
password             0
profileImage         0
role_name            0
dtype: int64

In [22]:
df.drop(['_id_y','userId_y',],inplace=True,axis=1)

In [23]:
df.shape

(150000, 24)

In [24]:
df.drop(['Unnamed: 0_y','Unnamed: 0_x',],inplace=True,axis=1)

In [25]:
df.rename({"_id_x":"_id","userId_x":"userId"},axis=1)

,_id,userId,certificationId,certificationName,started_at,completed_at,competency,isVerified,imageData,user_name,...,name,role_id,joining_date,department,mail,created_at,updated_at,password,profileImage,role_name
0,f37cc047-63a5-46fd-9e14-a8080733af37,67fb9f26-ec27-43d2-9966-a8a2e39bafa0,6371cb98-2998-41d8-82f8-9992a36685ad,Certified Ethical Hacker,2023-09-22,2023-10-08,ADVANCED,True,https://dummyimage.com/932x801,Willie French,...,Willie French,4a7cdfaf-b436-46e2-a8a2-5dc4835d40b9,2021-01-05T07:16:14,DATA_ENGINEERING,wilsonsusan@example.com,2022-11-03,2024-09-21,!I^jSfvr5g,https://dummyimage.com/558x59,Software Engineer
1,f3b6ffa1-3085-414e-990e-bc1268b87725,67fb9f26-ec27-43d2-9966-a8a2e39bafa0,f9f74721-d989-4b0a-a67e-8c65d6986b4b,AWS Certified Solutions Architect,2022-03-07,2023-06-24,BEGINNER,False,https://placekitten.com/94/54,Willie French,...,Willie French,4a7cdfaf-b436-46e2-a8a2-5dc4835d40b9,2021-01-05T07:16:14,DATA_ENGINEERING,wilsonsusan@example.com,2022-11-03,2024-09-21,!I^jSfvr5g,https://dummyimage.com/558x59,Software Engineer
2,1e45adaf-ba8e-44a5-b6ee-d9e26e68928e,67fb9f26-ec27-43d2-9966-a8a2e39bafa0,3ff2a4df-7cae-430f-80c7-878988d38ead,Certified Information Systems Security Profess...,2020-09-01,2022-01-08,INTERMEDIATE,True,https://picsum.photos/444/802,Willie French,...,Willie French,4a7cdfaf-b436-46e2-a8a2-5dc4835d40b9,2021-01-05T07:16:14,DATA_ENGINEERING,wilsonsusan@example.com,2022-11-03,2024-09-21,!I^jSfvr5g,https://dummyimage.com/558x59,Software Engineer
3,2d5c58ea-6936-4955-bf35-370a5b367254,67fb9f26-ec27-43d2-9966-a8a2e39bafa0,a6c6d728-8176-4a62-9df9-a102e79879b5,CompTIA Security+,2023-07-10,2023-07-10,BEGINNER,True,https://picsum.photos/637/338,Willie French,...,Willie French,4a7cdfaf-b436-46e2-a8a2-5dc4835d40b9,2021-01-05T07:16:14,DATA_ENGINEERING,wilsonsusan@example.com,2022-11-03,2024-09-21,!I^jSfvr5g,https://dummyimage.com/558x59,Software Engineer
4,3fe8010b-0dee-4c89-91fd-f8c0d5481422,67fb9f26-ec27-43d2-9966-a8a2e39bafa0,e63b693d-1c85-48c1-b5b7-15fa7583447a,Certified Kubernetes Administrator,2021-07-28,2021-09-07,INTERMEDIATE,False,https://placekitten.com/208/896,Willie French,...,Willie French,4a7cdfaf-b436-46e2-a8a2-5dc4835d40b9,2021-01-05T07:16:14,DATA_ENGINEERING,wilsonsusan@example.com,2022-11-03,2024-09-21,!I^jSfvr5g,https://dummyimage.com/558x59,Software Engineer
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149995,ab8d5716-de74-40a1-a286-21f69c1bfdb7,9e7050bd-8526-4fa9-a0e9-4f94fa81d1e6,9e94390f-0822-47a2-9332-d560f8e71d3e,Google Data Analytics Professional Certificate,2020-11-19,2023-06-29,ADVANCED,False,https://placekitten.com/780/648,Kristen Fox,...,Kristen Fox,663c1743-1dc9-4c1a-8200-701078aefaf8,2021-03-27T16:03:24,DATA_ANALYTICS,victoria28@example.com,2023-07-28,2021-02-02,*+MuJukV@3,https://dummyimage.com/255x241,Technical Writer
149996,aca4af07-68ca-4081-983d-d5aa42965af3,9e7050bd-8526-4fa9-a0e9-4f94fa81d1e6,a63629b4-a709-4196-ba88-4b0628b0e73b,Certified Information Systems Security Profess...,2022-12-08,2023-02-14,INTERMEDIATE,True,https://picsum.photos/681/463,Kristen Fox,...,Kristen Fox,663c1743-1dc9-4c1a-8200-701078aefaf8,2021-03-27T16:03:24,DATA_ANALYTICS,victoria28@example.com,2023-07-28,2021-02-02,*+MuJukV@3,https://dummyimage.com/255x241,Technical Writer
149997,b6af168c-fa16-4fcc-8b2e-dc807d091a29,9e7050bd-8526-4fa9-a0e9-4f94fa81d1e6,dd8fbd80-4e8a-42e4-a952-2d8c0c3bd297,Technical Communication Certification from Soc...,2020-01-29,2020-01-31,INTERMEDIATE,True,https://placekitten.com/91/830,Kristen Fox,...,Kristen Fox,663c1743-1dc9-4c1a-8200-701078aefaf8,2021-03-27T16:03:24,DATA_ANALYTICS,victoria28@example.com,2023-07-28,2021-02-02,*+MuJukV@3,https://dummyimage.com/255x241,Technical Writer
149998,0dadc48d-a667-4040-bb37-7e780ef19324,9e7050bd-8526-4fa9-a0e9-4f94fa81d1e6,76fe0649-22c0-4756-ae94-d1e65bb65a38,AWS Certified Solutions Architect,2023-08-23,2023-08-23,BEGINNER,False,https://dummyimage.com/674x142,Kristen Fox,...,Kristen Fox,663c1743-1dc9-4c1a-8200-701078aefaf8,2021-03-27T16:03:24,DATA_ANALYTICS,victoria28@example.com,2023-07-28,2021-02-02,*+MuJukV@3,https://dummyimage.com/255x241,Technical Writer
149999,85c76c28-1c14-4189-bcfc-698d535ebf3c,9e7050bd-8526-4fa9-a0e9-4f94fa81d1e6,d620ba0e-57e5-40f2-8f86-a9b1acf66a87,Microsoft Certified: Azure Developer Associate,2021-03-24,2021-12-26,INTERMEDIATE,True,https://dummyimage.com/644x274,Kristen Fox,...,Kristen Fox,663c1743-1dc9-4c1a-8200-701078aefaf8,2021-03-27T16:03:24,DATA_ANALYTICS,victoria28@example.com,2023-07-28,2021-02-02,*+MuJukV@3,https://dummyimage.com/255x241,Technical Writer

In [26]:
df.shape

(150000, 22)

In [27]:
df.isnull().sum()

_id_x                0
userId_x             0
certificationId      0
certificationName    0
started_at           0
completed_at         0
competency           0
isVerified           0
imageData            0
user_name            0
total_duration       0
count                0
name                 0
role_id              0
joining_date         0
department           0
mail                 0
created_at           0
updated_at           0
password             0
profileImage         0
role_name            0
dtype: int64

In [28]:
roles_df.isna().sum()

Unnamed: 0         0
_id                0
name               0
issued_by          0
is_certificate     0
role               0
certificationId    0
user_count         0
dtype: int64

In [29]:
merged_df=pd.merge(df,roles_df,left_on='certificationId',right_on='certificationId')
merged_df.shape
df=merged_df

In [30]:
df.shape

(150000, 29)

In [31]:
print("Original dtypes:")
print(df.dtypes)

# Convert dtypes
df=df.convert_dtypes()

# Check new dtypes
print("\nConverted dtypes:")
print(df.convert_dtypes().dtypes)

Original dtypes:
_id_x                        string
userId_x                     object
certificationId              object
certificationName            string
started_at           datetime64[ns]
completed_at         datetime64[ns]
competency                   string
isVerified                  boolean
imageData                    string
user_name                    string
total_duration               object
count                         int64
name_x                       object
role_id                      object
joining_date                 object
department                   object
mail                         object
created_at                   object
updated_at                   object
password                     object
profileImage                 object
role_name                    object
Unnamed: 0                    int64
_id                          object
name_y                       object
issued_by                    object
is_certificate                 bool
role                         object
user_count                    int64
dtype: object

Converted dtypes:
_id_x                        string
userId_x                     string
certificationId              string
certificationName            string
started_at           datetime64[ns]
completed_at         datetime64[ns]
competency                   string
isVerified                  boolean
imageData                    string
user_name                    string
total_duration               string
count                         Int64
name_x                       string
role_id                      string
joining_date                 string
department                   string
mail                         string
created_at                   string
updated_at                   string
password                     string
profileImage                 string
role_name                    string
Unnamed: 0                    Int64
_id                          string
name_y                       string
issued_by                    string
is_certificate              boolean
role                         string
user_count                    Int64
dtype: object

In [32]:
df.shape

(150000, 29)

In [36]:
# df.to_csv('E:/JMAN/fp/DataEngineering/mart/mart_user_certification.csv')
df.to_csv('E:/JMAN/fp/DataEngineering/mart/mart_user_certification.csv')