In [30]:
import pandas as pd

In [31]:
# user_csv=pd.read_csv('E:/JMAN/fp/DataEngineering/prep/prep_user_certification.csv')
user_csv=pd.read_csv('E:/JMAN/fp/DataEngineering/prep/prep_role_skill.csv')

In [32]:
df=pd.DataFrame(data=user_csv)

In [33]:
df.isnull().sum()

Unnamed: 0    0
_id           0
RoleId        0
department    0
skillId       0
role_name     0
skill_name    0
dtype: int64

In [34]:
df.shape

(204, 7)

In [35]:
df.dropna(inplace=True)

In [36]:
df.drop_duplicates(inplace=True)

In [37]:
df.dtypes

Unnamed: 0     int64
_id           object
RoleId        object
department    object
skillId       object
role_name     object
skill_name    object
dtype: object

In [38]:
print("Original dtypes:")
print(df.dtypes)

# Convert dtypes
df=df.convert_dtypes()

# Check new dtypes
print("\nConverted dtypes:")
print(df.convert_dtypes().dtypes)

Original dtypes:
Unnamed: 0     int64
_id           object
RoleId        object
department    object
skillId       object
role_name     object
skill_name    object
dtype: object

Converted dtypes:
Unnamed: 0     Int64
_id           string
RoleId        string
department    string
skillId       string
role_name     string
skill_name    string
dtype: object

In [39]:
df.dtypes

Unnamed: 0     Int64
_id           string
RoleId        string
department    string
skillId       string
role_name     string
skill_name    string
dtype: object

In [40]:
# roles_df = pd.read_csv('E:/JMAN/fp/DataEngineering/prep/prep_user.csv')
roles_df = pd.read_csv('E:/JMAN/fp/DataEngineering/prep/prep_role.csv')
roles_df.head()

,Unnamed: 0,_id,name,desc,created_at,updated_at,RoleId,user_count
0,0,66fd540a30450c2a76ac020f,Senior Software Engineer,Senior Software Engineer,2024-10-02,2024-10-02,66fd540a30450c2a76ac020f,6
1,1,66fd544630450c2a76ac0211,Solution Enabler,Solution Enabler,2024-10-02,2024-10-02,66fd544630450c2a76ac0211,7
2,2,66fd595030450c2a76ac0219,Software Engineer,Software Engineer,2024-10-02,2024-10-02,66fd595030450c2a76ac0219,5
3,3,100ac7ef-7112-488f-adf2-f9c1608d49b2,century,Possible capital fast or finally new Mr market.,2024-05-04,2023-09-07,100ac7ef-7112-488f-adf2-f9c1608d49b2,10
4,4,50d84c1b-4699-4a93-96ad-f1fd336cf39a,rock,Eat remember speak war always.,2024-07-07,2022-10-07,50d84c1b-4699-4a93-96ad-f1fd336cf39a,10

In [41]:
roles_df.shape

(23, 8)

In [42]:
df.shape
df

,Unnamed: 0,_id,RoleId,department,skillId,role_name,skill_name
0,0,66ff9021a325dc5b0d7d3a89,66fd595030450c2a76ac0219,FULL_STACK,66ff7be7d1312483599a8dd8,Software Engineer,Frontend
1,3,66ff904aa325dc5b0d7d3a8f,66fd540a30450c2a76ac020f,FULL_STACK,66ff7be7d1312483599a8dd8,Senior Software Engineer,Frontend
2,13,67023f301b525e6c3ca49ab7,66fd544630450c2a76ac0211,FULL_STACK,66fd1200959f8b790f41290f,Solution Enabler,Data Process
3,15,67023f301b525e6c3ca49ab9,66fd544630450c2a76ac0211,FULL_STACK,66ff7be7d1312483599a8dd8,Solution Enabler,Frontend
4,18,72d31304-c49f-49d7-8a52-b527ff3a2cab,100ac7ef-7112-488f-adf2-f9c1608d49b2,DATA_ENGINEERING,ea2ef5c4-4e9c-4d08-b232-d94be9df5e12,century,get
...,...,...,...,...,...,...,...
199,213,365e4659-c232-4582-8b3b-cd8b2e6e632f,76fba540-2817-4293-b9ae-dd2aa77acbc1,ADMIN,0baa0362-9abc-45ef-8da2-468fd7f19fb4,positive,cut
200,214,527680ad-7d67-46ce-b5ef-0928d67c9bfd,76fba540-2817-4293-b9ae-dd2aa77acbc1,DEVOPS,ba9b6172-9cb7-42e1-9372-2cfbc6b1ab4a,positive,bar
201,215,f07c2b35-3e1e-4c14-9027-4056b40229e4,76fba540-2817-4293-b9ae-dd2aa77acbc1,ADMIN,32a6285c-7ba3-4e1e-9016-7ed6e858e90c,positive,anyone
202,216,81e31540-249f-499d-92a5-49442c1b0cff,76fba540-2817-4293-b9ae-dd2aa77acbc1,DEVOPS,11f8e7bb-8e5b-41f0-a8cc-39dbfc7792ba,positive,reality
203,217,298cf970-1572-48d3-945c-8a25a82ea2be,76fba540-2817-4293-b9ae-dd2aa77acbc1,OTHER,49f3d6df-1c4c-41d4-86da-6b00b078753b,positive,thousand

In [43]:

merged_df=pd.merge(df,roles_df,left_on='RoleId',right_on='_id',how='inner')
df=merged_df
df.shape

(204, 15)

In [44]:
df.shape

(204, 15)

In [45]:
# roles_df = pd.read_csv('E:/JMAN/fp/DataEngineering/prep/prep_certification.csv')
roles_df = pd.read_csv('E:/JMAN/fp/DataEngineering/prep/prep_skill.csv')
roles_df.head()

,Unnamed: 0,_id,name,created_at,updated_at,desc,skillId_x,user_count_x,skillId_y,user_count_y,skillId,user_count
0,0,66fd116e959f8b790f412908,Database,2024-10-02,2024-10-02,DB,66fd116e959f8b790f412908,1.0,66fd116e959f8b790f412908,1.0,66fd116e959f8b790f412908,1
1,1,66fd1190959f8b790f41290a,Data Analysis,2024-10-02,2024-10-02,Data Analysis,66fd1190959f8b790f41290a,1.0,66fd1190959f8b790f41290a,1.0,66fd1190959f8b790f41290a,1
2,2,66fd1200959f8b790f41290f,Data Process,2024-10-02,2024-10-02,Data processing,66fd1200959f8b790f41290f,1.0,66fd1200959f8b790f41290f,1.0,66fd1200959f8b790f41290f,1
3,3,66ff7be7d1312483599a8dd8,Frontend,2024-10-04,2024-10-04,Frontend,66ff7be7d1312483599a8dd8,1.0,66ff7be7d1312483599a8dd8,1.0,66ff7be7d1312483599a8dd8,1
4,4,79e0ecd9-a547-462a-acb5-533722940278,share,2022-11-05,2023-06-24,Where site modern modern.,79e0ecd9-a547-462a-acb5-533722940278,261.0,79e0ecd9-a547-462a-acb5-533722940278,261.0,79e0ecd9-a547-462a-acb5-533722940278,261

In [52]:
df.isnull().sum()

Unnamed: 0_x    0
_id_x           0
RoleId_x        0
department      0
skillId         0
role_name       0
skill_name      0
Unnamed: 0_y    0
_id_y           0
name            0
desc            0
created_at      0
updated_at      0
RoleId_y        0
user_count      0
dtype: int64

In [53]:
df.shape

(204, 15)

In [54]:
df.drop(['Unnamed: 0_y','Unnamed: 0_x',],inplace=True,axis=1)

In [55]:
df.rename({"_id_x":"_id","userId_x":"userId"},axis=1)

,_id,RoleId_x,department,skillId,role_name,skill_name,_id_y,name,desc,created_at,updated_at,RoleId_y,user_count
0,66ff9021a325dc5b0d7d3a89,66fd595030450c2a76ac0219,FULL_STACK,66ff7be7d1312483599a8dd8,Software Engineer,Frontend,66fd595030450c2a76ac0219,Software Engineer,Software Engineer,2024-10-02,2024-10-02,66fd595030450c2a76ac0219,5
1,66ff904aa325dc5b0d7d3a8f,66fd540a30450c2a76ac020f,FULL_STACK,66ff7be7d1312483599a8dd8,Senior Software Engineer,Frontend,66fd540a30450c2a76ac020f,Senior Software Engineer,Senior Software Engineer,2024-10-02,2024-10-02,66fd540a30450c2a76ac020f,6
2,67023f301b525e6c3ca49ab7,66fd544630450c2a76ac0211,FULL_STACK,66fd1200959f8b790f41290f,Solution Enabler,Data Process,66fd544630450c2a76ac0211,Solution Enabler,Solution Enabler,2024-10-02,2024-10-02,66fd544630450c2a76ac0211,7
3,67023f301b525e6c3ca49ab9,66fd544630450c2a76ac0211,FULL_STACK,66ff7be7d1312483599a8dd8,Solution Enabler,Frontend,66fd544630450c2a76ac0211,Solution Enabler,Solution Enabler,2024-10-02,2024-10-02,66fd544630450c2a76ac0211,7
4,72d31304-c49f-49d7-8a52-b527ff3a2cab,100ac7ef-7112-488f-adf2-f9c1608d49b2,DATA_ENGINEERING,ea2ef5c4-4e9c-4d08-b232-d94be9df5e12,century,get,100ac7ef-7112-488f-adf2-f9c1608d49b2,century,Possible capital fast or finally new Mr market.,2024-05-04,2023-09-07,100ac7ef-7112-488f-adf2-f9c1608d49b2,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...
199,365e4659-c232-4582-8b3b-cd8b2e6e632f,76fba540-2817-4293-b9ae-dd2aa77acbc1,ADMIN,0baa0362-9abc-45ef-8da2-468fd7f19fb4,positive,cut,76fba540-2817-4293-b9ae-dd2aa77acbc1,positive,National project game cup fill executive.,2022-10-06,2021-04-07,76fba540-2817-4293-b9ae-dd2aa77acbc1,10
200,527680ad-7d67-46ce-b5ef-0928d67c9bfd,76fba540-2817-4293-b9ae-dd2aa77acbc1,DEVOPS,ba9b6172-9cb7-42e1-9372-2cfbc6b1ab4a,positive,bar,76fba540-2817-4293-b9ae-dd2aa77acbc1,positive,National project game cup fill executive.,2022-10-06,2021-04-07,76fba540-2817-4293-b9ae-dd2aa77acbc1,10
201,f07c2b35-3e1e-4c14-9027-4056b40229e4,76fba540-2817-4293-b9ae-dd2aa77acbc1,ADMIN,32a6285c-7ba3-4e1e-9016-7ed6e858e90c,positive,anyone,76fba540-2817-4293-b9ae-dd2aa77acbc1,positive,National project game cup fill executive.,2022-10-06,2021-04-07,76fba540-2817-4293-b9ae-dd2aa77acbc1,10
202,81e31540-249f-499d-92a5-49442c1b0cff,76fba540-2817-4293-b9ae-dd2aa77acbc1,DEVOPS,11f8e7bb-8e5b-41f0-a8cc-39dbfc7792ba,positive,reality,76fba540-2817-4293-b9ae-dd2aa77acbc1,positive,National project game cup fill executive.,2022-10-06,2021-04-07,76fba540-2817-4293-b9ae-dd2aa77acbc1,10
203,298cf970-1572-48d3-945c-8a25a82ea2be,76fba540-2817-4293-b9ae-dd2aa77acbc1,OTHER,49f3d6df-1c4c-41d4-86da-6b00b078753b,positive,thousand,76fba540-2817-4293-b9ae-dd2aa77acbc1,positive,National project game cup fill executive.,2022-10-06,2021-04-07,76fba540-2817-4293-b9ae-dd2aa77acbc1,10

In [56]:
df.isnull().sum()

_id_x         0
RoleId_x      0
department    0
skillId       0
role_name     0
skill_name    0
_id_y         0
name          0
desc          0
created_at    0
updated_at    0
RoleId_y      0
user_count    0
dtype: int64

In [57]:
df.drop(['RoleId_y','_id_y',],inplace=True,axis=1)

In [58]:
df.shape

(204, 11)

In [59]:
df.isnull().sum()

_id_x         0
RoleId_x      0
department    0
skillId       0
role_name     0
skill_name    0
name          0
desc          0
created_at    0
updated_at    0
user_count    0
dtype: int64

In [60]:
roles_df.isna().sum()

Unnamed: 0      0
_id             0
name            0
created_at      0
updated_at      0
desc            0
skillId_x       0
user_count_x    0
skillId_y       0
user_count_y    0
skillId         0
user_count      0
dtype: int64

In [61]:
merged_df=pd.merge(df,roles_df,left_on='skillId',right_on='skillId_x')
merged_df.shape
df=merged_df

C:\Users\mahes\AppData\Local\Temp\ipykernel_19820\2840661414.py:1: FutureWarning: Passing 'suffixes' which cause duplicate columns {'user_count_y', 'skillId_y'} in the result is deprecated and will raise a MergeError in a future version.
  merged_df=pd.merge(df,roles_df,left_on='skillId',right_on='skillId_x')

In [62]:
df.shape

(204, 23)

In [63]:
print("Original dtypes:")
print(df.dtypes)

# Convert dtypes
df=df.convert_dtypes()

# Check new dtypes
print("\nConverted dtypes:")
print(df.convert_dtypes().dtypes)

Original dtypes:
_id_x            string
RoleId_x         object
department       string
skillId_x        object
role_name        string
skill_name       string
name_x           object
desc_x           object
created_at_x     object
updated_at_x     object
user_count_x      int64
Unnamed: 0        int64
_id              object
name_y           object
created_at_y     object
updated_at_y     object
desc_y           object
skillId_x        object
user_count_x    float64
skillId_y        object
user_count_y    float64
skillId_y        object
user_count_y      int64
dtype: object

Converted dtypes:
_id_x           string
RoleId_x        string
department      string
skillId_x       string
role_name       string
skill_name      string
name_x          string
desc_x          string
created_at_x    string
updated_at_x    string
user_count_x     Int64
Unnamed: 0       Int64
_id             string
name_y          string
created_at_y    string
updated_at_y    string
desc_y          string
skillId_x       string
user_count_x     Int64
skillId_y       string
user_count_y     Int64
skillId_y       string
user_count_y     Int64
dtype: object

In [64]:
df.shape

(204, 23)

In [69]:
df.isnull().sum()

_id_x           0
RoleId_x        0
department      0
skillId_x       0
role_name       0
skill_name      0
name_x          0
desc_x          0
created_at_x    0
updated_at_x    0
user_count_x    0
Unnamed: 0      0
_id             0
name_y          0
created_at_y    0
updated_at_y    0
desc_y          0
skillId_x       0
user_count_x    0
dtype: int64

In [67]:
df.drop(['user_count_y','skillId_y'],inplace=True,axis=1)

In [70]:
df.drop(['Unnamed: 0'],inplace=True,axis=1)

In [71]:
df.shape

(204, 18)

In [73]:
# df.to_csv('E:/JMAN/fp/DataEngineering/mart/mart_user_certification.csv')
df.to_csv('E:/JMAN/fp/DataEngineering/mart/mart_role)skill.csv')