In [1]:
import pandas as pd

In [2]:
user_csv=pd.read_csv('C:/Users/RithikHarendarMahesh/Desktop/fp/DataEngineering/raw/raw_roles.csv')

In [3]:
df=pd.DataFrame(data=user_csv)

In [4]:
df.isnull().sum()

_id           0
name          0
desc          0
created_at    0
updated_at    0
dtype: int64

In [5]:
df

,_id,name,desc,created_at,updated_at
0,25886cc0-ab38-455b-a301-f739643e462d,Software Engineer,Machine bring instead choice feel.,2021-10-12T12:28:51,2021-09-06T10:23:59
1,a10702c1-1e25-4289-8304-a3f8ea9dd4ef,Data Scientist,Area live the accept control standard unit.,2022-05-06T14:17:18,2022-10-27T07:48:23
2,97645b80-65a2-4991-b2bd-21bf7da2b230,DevOps Engineer,Dog for personal.,2021-05-07T09:52:56,2024-09-13T04:00:39
3,2378806c-a3b2-4320-b09b-470b52d02954,Frontend Developer,Show all song.,2022-05-08T21:08:53,2023-03-07T11:08:17
4,508bfd78-6401-40ad-bc4b-dade38d40352,Backend Developer,Many hundred town single happen amount.,2020-12-29T10:08:24,2021-09-05T13:47:54
5,1fc24487-22cd-4e45-9276-6390a20f40fe,Full Stack Developer,Chance today practice present wind.,2023-08-04T18:21:30,2023-05-29T00:31:54
6,df5a8f57-5e81-47c8-89a1-589d9c62cedb,Data Analyst,Collection plant kitchen small medical tonight...,2021-12-17T01:11:05,2023-10-28T10:01:28
7,b4057508-20a7-4553-87f1-8dd813fe7eda,Cybersecurity Analyst,Job prevent cover character keep order deal.,2021-01-26T17:00:16,2021-01-25T12:25:38
8,38bd1ab2-e630-4311-9128-7438fe171719,Machine Learning Engineer,State else deep term.,2020-02-26T16:25:39,2024-03-01T17:17:35
9,e5718b9c-cddd-4a63-8ae7-324019377228,Cloud Engineer,Natural card that turn event front Mr.,2020-12-13T02:39:09,2023-12-03T10:22:34
10,46edc8ac-13ac-460b-9317-7642230502af,UX/UI Designer,Person hard certainly method improve.,2022-01-29T16:07:54,2021-01-10T17:57:34
11,718675e9-24e9-451b-a6e1-586aef8d0afb,Product Manager,Develop box none wall.,2022-12-11T20:19:11,2024-03-22T17:52:02
12,ad2e313d-73d0-4c14-a406-93f3ca78ef0d,Business Analyst,Step practice gun beyond indicate or little.,2020-06-27T14:23:04,2022-07-01T05:46:15
13,beb050bc-b355-4fa1-bb53-006eea46a697,Quality Assurance Engineer,Life increase moment model under natural.,2022-03-07T19:44:09,2024-02-19T12:33:35
14,90a9e49a-3fcc-494c-a3fa-1c5375311cbb,Technical Writer,Real under here room late more ask.,2024-01-09T20:38:19,2024-04-01T19:12:55

In [6]:
df.dropna(inplace=True)

In [7]:
df.drop_duplicates(inplace=True)

In [8]:
df.dtypes

_id           object
name          object
desc          object
created_at    object
updated_at    object
dtype: object

In [9]:
print("Original dtypes:")
print(df.dtypes)

# Convert dtypes
df=df.convert_dtypes()

# Check new dtypes
print("\nConverted dtypes:")
print(df.convert_dtypes().dtypes)

Original dtypes:
_id           object
name          object
desc          object
created_at    object
updated_at    object
dtype: object

Converted dtypes:
_id           string[python]
name          string[python]
desc          string[python]
created_at    string[python]
updated_at    string[python]
dtype: object

In [10]:
df['created_at'] = [
    i.split(" ")[0] if 'T' not in i else i.split("T")[0] for i in df['created_at']
]

In [11]:
df['created_at']=pd.to_datetime(df['created_at'])

In [12]:
df['updated_at'] = [
    i.split(" ")[0] if 'T' not in i else i.split("T")[0] for i in df['updated_at']
]

In [13]:
df['updated_at']=pd.to_datetime(df['updated_at'])

In [14]:
df.dtypes

_id           string[python]
name          string[python]
desc          string[python]
created_at    datetime64[ns]
updated_at    datetime64[ns]
dtype: object

In [15]:
user_skills_df=pd.read_csv('C:/Users/RithikHarendarMahesh/Desktop/fp/DataEngineering/prep/prep_user.csv')

In [16]:
user_skills_df.isnull().sum()

Unnamed: 0        0
userId            0
total_duration    0
count             0
_id               0
name              0
role_id           0
joining_date      0
department        0
mail              0
created_at        0
updated_at        0
password          0
profileImage      0
role_name         0
dtype: int64

In [17]:
skill_user_count = user_skills_df.groupby('role_id')['userId'].nunique().reset_index(name='user_count')

print(skill_user_count)
skill_user_count.isnull().sum()

                                 role_id  user_count
0   1fc24487-22cd-4e45-9276-6390a20f40fe        2000
1   2378806c-a3b2-4320-b09b-470b52d02954        2000
2   25886cc0-ab38-455b-a301-f739643e462d        2000
3   38bd1ab2-e630-4311-9128-7438fe171719        2000
4   46edc8ac-13ac-460b-9317-7642230502af        2000
5   508bfd78-6401-40ad-bc4b-dade38d40352        2000
6   718675e9-24e9-451b-a6e1-586aef8d0afb        2000
7   90a9e49a-3fcc-494c-a3fa-1c5375311cbb        2000
8   97645b80-65a2-4991-b2bd-21bf7da2b230        2000
9   a10702c1-1e25-4289-8304-a3f8ea9dd4ef        2000
10  ad2e313d-73d0-4c14-a406-93f3ca78ef0d        2000
11  b4057508-20a7-4553-87f1-8dd813fe7eda        2000
12  beb050bc-b355-4fa1-bb53-006eea46a697        2000
13  df5a8f57-5e81-47c8-89a1-589d9c62cedb        2000
14  e5718b9c-cddd-4a63-8ae7-324019377228        2000

role_id       0
user_count    0
dtype: int64

In [18]:
df.isnull().sum()

_id           0
name          0
desc          0
created_at    0
updated_at    0
dtype: int64

In [19]:
merged_df=df.merge(skill_user_count,left_on='_id',right_on='role_id',how='inner')
print(merged_df.shape)
merged_df.isnull().sum()

(15, 7)

_id           0
name          0
desc          0
created_at    0
updated_at    0
role_id       0
user_count    0
dtype: int64

In [20]:
role_skills_df=pd.read_csv('C:/Users/RithikHarendarMahesh/Desktop/fp/DataEngineering/raw/raw_role_skills.csv')

In [21]:
role_skills_df.isnull().sum()

roleId     0
skillId    0
name       0
dtype: int64

In [22]:
role_skills_df.shape

(150, 3)

In [23]:
skill_role_count = role_skills_df.groupby('roleId')['skillId'].nunique().reset_index(name='skill_count')

print(skill_role_count.shape)
skill_role_count.isnull().sum()
skill_role_count

(15, 2)

                                  roleId  skill_count
0   1fc24487-22cd-4e45-9276-6390a20f40fe           10
1   2378806c-a3b2-4320-b09b-470b52d02954           10
2   25886cc0-ab38-455b-a301-f739643e462d           10
3   38bd1ab2-e630-4311-9128-7438fe171719           10
4   46edc8ac-13ac-460b-9317-7642230502af           10
5   508bfd78-6401-40ad-bc4b-dade38d40352           10
6   718675e9-24e9-451b-a6e1-586aef8d0afb           10
7   90a9e49a-3fcc-494c-a3fa-1c5375311cbb           10
8   97645b80-65a2-4991-b2bd-21bf7da2b230           10
9   a10702c1-1e25-4289-8304-a3f8ea9dd4ef           10
10  ad2e313d-73d0-4c14-a406-93f3ca78ef0d           10
11  b4057508-20a7-4553-87f1-8dd813fe7eda           10
12  beb050bc-b355-4fa1-bb53-006eea46a697           10
13  df5a8f57-5e81-47c8-89a1-589d9c62cedb           10
14  e5718b9c-cddd-4a63-8ae7-324019377228           10

In [24]:
skill_role_count.isnull().sum(),skill_role_count.shape

(roleId         0
 skill_count    0
 dtype: int64,
 (15, 2))

In [25]:
df.isnull().sum()

_id           0
name          0
desc          0
created_at    0
updated_at    0
dtype: int64

In [26]:
merged_df=df.merge(skill_role_count,left_on='_id',right_on='roleId',how='inner')
df=merged_df
df.shape

(15, 7)

In [27]:
df.to_csv('C:/Users/RithikHarendarMahesh/Desktop/fp/DataEngineering/prep/prep_role.csv')