In [1]:
import pandas as pd

In [2]:
user_csv=pd.read_csv('C:/Users/RithikHarendarMahesh/Desktop/fp/DataEngineering/raw/raw_role_skills.csv')

In [3]:
df=pd.DataFrame(data=user_csv)

In [4]:
df

,roleId,skillId,name
0,25886cc0-ab38-455b-a301-f739643e462d,a4e275cc-e486-4c7c-9f7b-c40d068966f0,Java
1,25886cc0-ab38-455b-a301-f739643e462d,3d63d298-7c3b-4c64-bc19-dc68acc7e2a4,Python
2,25886cc0-ab38-455b-a301-f739643e462d,d48397d3-9242-4251-bb47-f5af84fe7a43,C#
3,25886cc0-ab38-455b-a301-f739643e462d,78c73ebf-f75f-4532-b441-3a7aeabae391,JavaScript
4,25886cc0-ab38-455b-a301-f739643e462d,1a39e0ee-e002-4c8d-9a8a-11e50c08c8de,React
...,...,...,...
145,90a9e49a-3fcc-494c-a3fa-1c5375311cbb,028217fd-dba5-48ca-930d-e048fb8dc146,Research Skills
146,90a9e49a-3fcc-494c-a3fa-1c5375311cbb,8cda0fab-ee95-45a6-9508-ebe56aa5abe5,Agile Methodologies
147,90a9e49a-3fcc-494c-a3fa-1c5375311cbb,109eeae7-dec8-4878-a156-13a66ae4e472,Communication Skills
148,90a9e49a-3fcc-494c-a3fa-1c5375311cbb,4ecf4620-0e9d-4ce3-807a-0d99635df1cb,User Documentation
149,90a9e49a-3fcc-494c-a3fa-1c5375311cbb,3e738cc0-83fb-4687-bc62-1d1f9ca0c9cb,Graphic Design

In [5]:
df.isnull().sum()

roleId     0
skillId    0
name       0
dtype: int64

In [6]:
df.dropna(inplace=True)

In [7]:
df.drop_duplicates(inplace=True)

In [8]:
df.dtypes

roleId     object
skillId    object
name       object
dtype: object

In [9]:
print("Original dtypes:")
print(df.dtypes)

# Convert dtypes
df=df.convert_dtypes()

# Check new dtypes
print("\nConverted dtypes:")
print(df.convert_dtypes().dtypes)

Original dtypes:
roleId     object
skillId    object
name       object
dtype: object

Converted dtypes:
roleId     string[python]
skillId    string[python]
name       string[python]
dtype: object

In [10]:
df.dtypes

roleId     string[python]
skillId    string[python]
name       string[python]
dtype: object

In [11]:
roles_df = pd.read_csv('C:/Users/RithikHarendarMahesh/Desktop/fp/DataEngineering/prep/prep_role.csv')
role_mapping = dict(zip(roles_df['_id'], roles_df['name']))
df['role_name'] = df['roleId'].map(role_mapping)
df.head()

,roleId,skillId,name,role_name
0,25886cc0-ab38-455b-a301-f739643e462d,a4e275cc-e486-4c7c-9f7b-c40d068966f0,Java,Software Engineer
1,25886cc0-ab38-455b-a301-f739643e462d,3d63d298-7c3b-4c64-bc19-dc68acc7e2a4,Python,Software Engineer
2,25886cc0-ab38-455b-a301-f739643e462d,d48397d3-9242-4251-bb47-f5af84fe7a43,C#,Software Engineer
3,25886cc0-ab38-455b-a301-f739643e462d,78c73ebf-f75f-4532-b441-3a7aeabae391,JavaScript,Software Engineer
4,25886cc0-ab38-455b-a301-f739643e462d,1a39e0ee-e002-4c8d-9a8a-11e50c08c8de,React,Software Engineer

In [12]:
roles_df = pd.read_csv('C:/Users/RithikHarendarMahesh/Desktop/fp/DataEngineering/prep/prep_skill.csv')
# roles_df = pd.read_csv('C:/Users/RithikHarendarMahesh/Desktop/fp/DataEngineering/prep/prep_skill.csv')
role_mapping = dict(zip(roles_df['_id'], roles_df['name']))
df['skill_name'] = df['skillId'].map(role_mapping)
df.head()

,roleId,skillId,name,role_name,skill_name
0,25886cc0-ab38-455b-a301-f739643e462d,a4e275cc-e486-4c7c-9f7b-c40d068966f0,Java,Software Engineer,Java
1,25886cc0-ab38-455b-a301-f739643e462d,3d63d298-7c3b-4c64-bc19-dc68acc7e2a4,Python,Software Engineer,Python
2,25886cc0-ab38-455b-a301-f739643e462d,d48397d3-9242-4251-bb47-f5af84fe7a43,C#,Software Engineer,C#
3,25886cc0-ab38-455b-a301-f739643e462d,78c73ebf-f75f-4532-b441-3a7aeabae391,JavaScript,Software Engineer,JavaScript
4,25886cc0-ab38-455b-a301-f739643e462d,1a39e0ee-e002-4c8d-9a8a-11e50c08c8de,React,Software Engineer,React

In [13]:
print("Original dtypes:")
print(df.dtypes)

# Convert dtypes
df=df.convert_dtypes()

# Check new dtypes
print("\nConverted dtypes:")
print(df.convert_dtypes().dtypes)

Original dtypes:
roleId        string[python]
skillId       string[python]
name          string[python]
role_name             object
skill_name            object
dtype: object

Converted dtypes:
roleId        string[python]
skillId       string[python]
name          string[python]
role_name     string[python]
skill_name    string[python]
dtype: object

In [14]:
df.shape

(150, 5)

In [15]:
df.isnull().sum()

roleId        0
skillId       0
name          0
role_name     0
skill_name    0
dtype: int64

In [16]:
df.dropna(inplace=True)

In [17]:
df.shape

(150, 5)

In [18]:
# df.to_csv('C:/Users/RithikHarendarMahesh/Desktop/fp/DataEngineering/prep/prep_role_skill.csv')
df.to_csv('C:/Users/RithikHarendarMahesh/Desktop/fp/DataEngineering/prep/prep_role_skill.csv')