In [3]:
import pandas as pd

In [4]:
user_csv=pd.read_csv('C:/Users/RithikHarendarMahesh/Desktop/fp/DataEngineering/raw/raw_users.csv')

In [5]:
df=pd.DataFrame(data=user_csv)

In [6]:
df.isnull().sum()

_id             0
name            0
role_id         0
joining_date    0
department      0
mail            0
created_at      0
updated_at      0
password        0
profileImage    0
dtype: int64

In [7]:
df.dropna(inplace=True)

In [8]:
df.drop_duplicates(inplace=True)

In [9]:
df.dtypes

_id             object
name            object
role_id         object
joining_date    object
department      object
mail            object
created_at      object
updated_at      object
password        object
profileImage    object
dtype: object

In [10]:
print("Original dtypes:")
print(df.dtypes)

# Convert dtypes
df=df.convert_dtypes()

# Check new dtypes
print("\nConverted dtypes:")
print(df.convert_dtypes().dtypes)

Original dtypes:
_id             object
name            object
role_id         object
joining_date    object
department      object
mail            object
created_at      object
updated_at      object
password        object
profileImage    object
dtype: object

Converted dtypes:
_id             string[python]
name            string[python]
role_id         string[python]
joining_date    string[python]
department      string[python]
mail            string[python]
created_at      string[python]
updated_at      string[python]
password        string[python]
profileImage    string[python]
dtype: object

In [11]:
df['created_at'] = [
    i.split(" ")[0] if 'T' not in i else i.split("T")[0] for i in df['created_at']
]

In [12]:
df['created_at']=pd.to_datetime(df['created_at'])

In [13]:
df['updated_at'] = [
    i.split(" ")[0] if 'T' not in i else i.split("T")[0] for i in df['updated_at']
]

In [14]:
df['updated_at']=pd.to_datetime(df['updated_at'])

In [15]:
df.dtypes

_id             string[python]
name            string[python]
role_id         string[python]
joining_date    string[python]
department      string[python]
mail            string[python]
created_at      datetime64[ns]
updated_at      datetime64[ns]
password        string[python]
profileImage    string[python]
dtype: object

In [16]:
pd.Categorical(df['department'])

['ADMIN', 'ADMIN', 'FULL_STACK', 'DATA_ANALYTICS', 'DATA_ANALYTICS', ..., 'ADMIN', 'DATA_ENGINEERING', 'FULL_STACK', 'DEVOPS', 'FULL_STACK']
Length: 30000
Categories (6, string): [ADMIN, DATA_ANALYTICS, DATA_ENGINEERING, DEVOPS, FULL_STACK, OTHER]

In [17]:
pd.Categorical(df['role_id'])

['25886cc0-ab38-455b-a301-f739643e462d', '25886cc0-ab38-455b-a301-f739643e462d', '25886cc0-ab38-455b-a301-f739643e462d', '25886cc0-ab38-455b-a301-f739643e462d', '25886cc0-ab38-455b-a301-f739643e462d', ..., '90a9e49a-3fcc-494c-a3fa-1c5375311cbb', '90a9e49a-3fcc-494c-a3fa-1c5375311cbb', '90a9e49a-3fcc-494c-a3fa-1c5375311cbb', '90a9e49a-3fcc-494c-a3fa-1c5375311cbb', '90a9e49a-3fcc-494c-a3fa-1c5375311cbb']
Length: 30000
Categories (15, string): [1fc24487-22cd-4e45-9276-6390a20f40fe, 2378806c-a3b2-4320-b09b-470b52d02954, 25886cc0-ab38-455b-a301-f739643e462d, 38bd1ab2-e630-4311-9128-7438fe171719, ..., b4057508-20a7-4553-87f1-8dd813fe7eda, beb050bc-b355-4fa1-bb53-006eea46a697, df5a8f57-5e81-47c8-89a1-589d9c62cedb, e5718b9c-cddd-4a63-8ae7-324019377228]

In [18]:
roles_df = pd.read_csv('C:/Users/RithikHarendarMahesh/Desktop/fp/DataEngineering/raw/raw_roles.csv')
role_mapping = dict(zip(roles_df['_id'], roles_df['name']))
df['role_name'] = df['role_id'].map(role_mapping)
df.head()

,_id,name,role_id,joining_date,department,mail,created_at,updated_at,password,profileImage,role_name
0,06bdb594-fb32-4612-9f5f-b381ccbfc9a5,Jonathan King,25886cc0-ab38-455b-a301-f739643e462d,2021-08-07T21:52:59,ADMIN,slee@example.net,2020-07-11,2021-03-18,0&^u3SZ!td,https://placekitten.com/397/1014,Software Engineer
1,579c6abd-99d0-4012-bc58-ee780164255d,Virginia Cruz,25886cc0-ab38-455b-a301-f739643e462d,2023-03-24T23:41:47,ADMIN,tanyachandler@example.com,2020-06-29,2023-07-14,%9vmVHbw*R,https://dummyimage.com/850x681,Software Engineer
2,a9c3b649-0db3-4299-8f6d-7a97bad2cb2d,Jerry Miller,25886cc0-ab38-455b-a301-f739643e462d,2023-05-11T20:58:36,FULL_STACK,erictaylor@example.org,2024-08-08,2020-04-16,(9PY!uq*lo,https://picsum.photos/939/1022,Software Engineer
3,483a48e4-05e4-4d09-929e-46c67884c20c,Derrick Watson,25886cc0-ab38-455b-a301-f739643e462d,2020-04-28T12:30:10,DATA_ANALYTICS,fcastillo@example.com,2022-02-19,2024-07-24,eKsO1jHf*9,https://dummyimage.com/516x416,Software Engineer
4,8eedfa9a-e5f6-494d-8dba-1418a06e167f,Vincent Woods,25886cc0-ab38-455b-a301-f739643e462d,2022-03-02T10:47:58,DATA_ANALYTICS,eenglish@example.com,2021-08-26,2023-09-01,gtpAK)n4*3,https://dummyimage.com/196x674,Software Engineer

In [19]:
print("Original dtypes:")
print(df.dtypes)

# Convert dtypes
df=df.convert_dtypes()

# Check new dtypes
print("\nConverted dtypes:")
print(df.convert_dtypes().dtypes)

Original dtypes:
_id             string[python]
name            string[python]
role_id         string[python]
joining_date    string[python]
department      string[python]
mail            string[python]
created_at      datetime64[ns]
updated_at      datetime64[ns]
password        string[python]
profileImage    string[python]
role_name               object
dtype: object

Converted dtypes:
_id             string[python]
name            string[python]
role_id         string[python]
joining_date    string[python]
department      string[python]
mail            string[python]
created_at      datetime64[ns]
updated_at      datetime64[ns]
password        string[python]
profileImage    string[python]
role_name       string[python]
dtype: object

In [20]:
user_cert_csv=pd.read_csv('C:/Users/RithikHarendarMahesh/Desktop/fp/DataEngineering/raw/raw_user_certifications.csv')

In [21]:
user_cert_df=pd.DataFrame(data=user_cert_csv)

In [22]:
user_cert_df.head()

,_id,userId,certificationId,certificationName,started_at,completed_at,competency,isVerified,imageData
0,5c2f5af4-9057-48f4-accb-de937c5cec78,06bdb594-fb32-4612-9f5f-b381ccbfc9a5,d9b6fc8a-59ab-42cd-9534-7f8dcc9e7b91,Certified Kubernetes Administrator,2022-03-22T03:14:56,2022-11-08T21:26:46,ADVANCED,True,https://picsum.photos/380/20
1,8443b459-1c45-4658-a256-5348e0488c6b,06bdb594-fb32-4612-9f5f-b381ccbfc9a5,ac3b01df-33cd-4e90-b107-ebb3d901fcd6,Certified ScrumMaster,2020-02-13T17:56:12,2020-06-10T23:02:06,INTERMEDIATE,False,https://picsum.photos/1016/256
2,72233b70-4e0a-4f52-8bf4-3766e6c4a8b1,06bdb594-fb32-4612-9f5f-b381ccbfc9a5,e94136f1-f035-458b-9920-14ebc37c9b80,Certified Ethical Hacker,2021-07-16T18:44:14,2022-09-15T18:44:17,BEGINNER,False,https://dummyimage.com/518x634
3,113e8e00-a8ac-40a1-8cd5-a93e277cefe3,06bdb594-fb32-4612-9f5f-b381ccbfc9a5,ac3b01df-33cd-4e90-b107-ebb3d901fcd6,Certified ScrumMaster,2021-07-13T02:48:19,2021-07-13T02:48:19.406526,BEGINNER,True,https://dummyimage.com/942x887
4,9a49a4a0-f03a-4fa0-8859-aae08ae04418,06bdb594-fb32-4612-9f5f-b381ccbfc9a5,50b0294c-a8f8-435e-bbc0-bbf09afcff14,AWS Certified Developer - Associate,2022-10-17T15:49:45,2024-05-30T17:49:31,EXPERT,False,https://dummyimage.com/288x198

In [23]:
user_cert_df['completed_at'] = [
    i.split(" ")[0] if 'T' not in i else i.split("T")[0] for i in user_cert_df['completed_at']
]

In [24]:
user_cert_df['started_at'] = [
    i.split(" ")[0] if 'T' not in i else i.split("T")[0] for i in user_cert_df['started_at']
]

In [25]:
user_cert_df['completed_at']=pd.to_datetime(user_cert_df['completed_at'])

In [26]:
user_cert_df['started_at']=pd.to_datetime(user_cert_df['started_at'])

In [27]:
(user_cert_df['completed_at'][0]-user_cert_df['started_at'][0])

Timedelta('231 days 00:00:00')

In [28]:
user_cert_df['duration'] =user_cert_df['completed_at'] - user_cert_df['started_at']

In [29]:
user_cert_df.head()

,_id,userId,certificationId,certificationName,started_at,completed_at,competency,isVerified,imageData,duration
0,5c2f5af4-9057-48f4-accb-de937c5cec78,06bdb594-fb32-4612-9f5f-b381ccbfc9a5,d9b6fc8a-59ab-42cd-9534-7f8dcc9e7b91,Certified Kubernetes Administrator,2022-03-22,2022-11-08,ADVANCED,True,https://picsum.photos/380/20,231 days
1,8443b459-1c45-4658-a256-5348e0488c6b,06bdb594-fb32-4612-9f5f-b381ccbfc9a5,ac3b01df-33cd-4e90-b107-ebb3d901fcd6,Certified ScrumMaster,2020-02-13,2020-06-10,INTERMEDIATE,False,https://picsum.photos/1016/256,118 days
2,72233b70-4e0a-4f52-8bf4-3766e6c4a8b1,06bdb594-fb32-4612-9f5f-b381ccbfc9a5,e94136f1-f035-458b-9920-14ebc37c9b80,Certified Ethical Hacker,2021-07-16,2022-09-15,BEGINNER,False,https://dummyimage.com/518x634,426 days
3,113e8e00-a8ac-40a1-8cd5-a93e277cefe3,06bdb594-fb32-4612-9f5f-b381ccbfc9a5,ac3b01df-33cd-4e90-b107-ebb3d901fcd6,Certified ScrumMaster,2021-07-13,2021-07-13,BEGINNER,True,https://dummyimage.com/942x887,0 days
4,9a49a4a0-f03a-4fa0-8859-aae08ae04418,06bdb594-fb32-4612-9f5f-b381ccbfc9a5,50b0294c-a8f8-435e-bbc0-bbf09afcff14,AWS Certified Developer - Associate,2022-10-17,2024-05-30,EXPERT,False,https://dummyimage.com/288x198,591 days

In [30]:


user_cert_df.loc[user_cert_df['duration']<pd.Timedelta('0 days')]

Empty DataFrame
Columns: [_id, userId, certificationId, certificationName, started_at, completed_at, competency, isVerified, imageData, duration]
Index: []

In [31]:
user_cert_df.isnull().sum()

_id                  0
userId               0
certificationId      0
certificationName    0
started_at           0
completed_at         0
competency           0
isVerified           0
imageData            0
duration             0
dtype: int64

In [32]:
grouped_df = user_cert_df.groupby(['userId']).size().reset_index(name='count')
grouped_df.shape

(30000, 2)

In [33]:
merged_df = grouped_df.merge(df, left_on='userId', right_on='_id', how='inner')

In [34]:
merged_df.head()

,userId,count,_id,name,role_id,joining_date,department,mail,created_at,updated_at,password,profileImage,role_name
0,000493ff-7d6e-41a8-b96a-d1e11eb11a7b,5,000493ff-7d6e-41a8-b96a-d1e11eb11a7b,Tamara Fields,718675e9-24e9-451b-a6e1-586aef8d0afb,2023-10-22T19:07:19,DATA_ANALYTICS,williamgarcia@example.org,2022-11-18,2023-06-24,q)QX70ZuML,https://dummyimage.com/867x425,Product Manager
1,0006310b-e138-4643-9580-491639213d52,5,0006310b-e138-4643-9580-491639213d52,Jeffrey Sparks,38bd1ab2-e630-4311-9128-7438fe171719,2023-07-25T15:52:32,DEVOPS,maciasdaniel@example.net,2020-11-17,2022-10-12,k4!RQdaj^2,https://placekitten.com/421/83,Machine Learning Engineer
2,0007d104-541e-4547-81c5-72c41a5ef087,5,0007d104-541e-4547-81c5-72c41a5ef087,Spencer Leonard,508bfd78-6401-40ad-bc4b-dade38d40352,2022-11-19T16:38:31,ADMIN,blackwelljoseph@example.com,2021-04-05,2024-04-30,*6V^tLnz+Y,https://dummyimage.com/254x741,Backend Developer
3,0007e8f0-2cd7-4084-960f-8e24912b92e9,5,0007e8f0-2cd7-4084-960f-8e24912b92e9,Juan Sullivan,718675e9-24e9-451b-a6e1-586aef8d0afb,2021-12-01T10:10:30,FULL_STACK,roblesjason@example.org,2023-02-03,2021-05-03,@IM@Dc#+_0,https://dummyimage.com/622x814,Product Manager
4,000a8195-e0c3-4b5b-b7bf-4299e228c271,5,000a8195-e0c3-4b5b-b7bf-4299e228c271,Robin Wiley,25886cc0-ab38-455b-a301-f739643e462d,2020-11-25T04:19:40,FULL_STACK,ashleyberry@example.com,2020-04-09,2023-02-05,@rs$uRlsk4,https://dummyimage.com/908x499,Software Engineer

In [35]:
merged_df.isna().sum()

userId          0
count           0
_id             0
name            0
role_id         0
joining_date    0
department      0
mail            0
created_at      0
updated_at      0
password        0
profileImage    0
role_name       0
dtype: int64

In [36]:
df=merged_df

In [37]:
grouped_df = user_cert_df.groupby('userId')['duration'].sum().reset_index(name='total_duration')
grouped_df.head()

                                 userId total_duration
0  000493ff-7d6e-41a8-b96a-d1e11eb11a7b       198 days
1  0006310b-e138-4643-9580-491639213d52      1405 days
2  0007d104-541e-4547-81c5-72c41a5ef087       614 days
3  0007e8f0-2cd7-4084-960f-8e24912b92e9      1428 days
4  000a8195-e0c3-4b5b-b7bf-4299e228c271      1288 days

In [38]:
merged_df = grouped_df.merge(df, left_on='userId', right_on='_id', how='inner')
merged_df.shape

(30000, 15)

In [39]:
merged_df.isnull().sum()

userId_x          0
total_duration    0
userId_y          0
count             0
_id               0
name              0
role_id           0
joining_date      0
department        0
mail              0
created_at        0
updated_at        0
password          0
profileImage      0
role_name         0
dtype: int64

In [40]:
merged_df.rename({"userId_x":"userId"},axis=1,inplace=True)

In [41]:
# merged_df.drop('total_duration_y', axis=1, inplace=True)
merged_df.drop('userId_y', axis=1, inplace=True)

In [42]:
merged_df.isna().sum()

userId            0
total_duration    0
count             0
_id               0
name              0
role_id           0
joining_date      0
department        0
mail              0
created_at        0
updated_at        0
password          0
profileImage      0
role_name         0
dtype: int64

In [43]:
df=merged_df
df.head()

,userId,total_duration,count,_id,name,role_id,joining_date,department,mail,created_at,updated_at,password,profileImage,role_name
0,000493ff-7d6e-41a8-b96a-d1e11eb11a7b,198 days,5,000493ff-7d6e-41a8-b96a-d1e11eb11a7b,Tamara Fields,718675e9-24e9-451b-a6e1-586aef8d0afb,2023-10-22T19:07:19,DATA_ANALYTICS,williamgarcia@example.org,2022-11-18,2023-06-24,q)QX70ZuML,https://dummyimage.com/867x425,Product Manager
1,0006310b-e138-4643-9580-491639213d52,1405 days,5,0006310b-e138-4643-9580-491639213d52,Jeffrey Sparks,38bd1ab2-e630-4311-9128-7438fe171719,2023-07-25T15:52:32,DEVOPS,maciasdaniel@example.net,2020-11-17,2022-10-12,k4!RQdaj^2,https://placekitten.com/421/83,Machine Learning Engineer
2,0007d104-541e-4547-81c5-72c41a5ef087,614 days,5,0007d104-541e-4547-81c5-72c41a5ef087,Spencer Leonard,508bfd78-6401-40ad-bc4b-dade38d40352,2022-11-19T16:38:31,ADMIN,blackwelljoseph@example.com,2021-04-05,2024-04-30,*6V^tLnz+Y,https://dummyimage.com/254x741,Backend Developer
3,0007e8f0-2cd7-4084-960f-8e24912b92e9,1428 days,5,0007e8f0-2cd7-4084-960f-8e24912b92e9,Juan Sullivan,718675e9-24e9-451b-a6e1-586aef8d0afb,2021-12-01T10:10:30,FULL_STACK,roblesjason@example.org,2023-02-03,2021-05-03,@IM@Dc#+_0,https://dummyimage.com/622x814,Product Manager
4,000a8195-e0c3-4b5b-b7bf-4299e228c271,1288 days,5,000a8195-e0c3-4b5b-b7bf-4299e228c271,Robin Wiley,25886cc0-ab38-455b-a301-f739643e462d,2020-11-25T04:19:40,FULL_STACK,ashleyberry@example.com,2020-04-09,2023-02-05,@rs$uRlsk4,https://dummyimage.com/908x499,Software Engineer

In [44]:
df.isnull().sum()

userId            0
total_duration    0
count             0
_id               0
name              0
role_id           0
joining_date      0
department        0
mail              0
created_at        0
updated_at        0
password          0
profileImage      0
role_name         0
dtype: int64

In [45]:
df.to_csv('C:/Users/RithikHarendarMahesh/Desktop/fp/DataEngineering/prep/prep_user.csv')