In [20]:
import pandas as pd

In [21]:
user_csv=pd.read_csv('C:/Users/RithikHarendarMahesh/Desktop/fp/DataEngineering/raw/raw_user_skills.csv')

In [22]:
df=pd.DataFrame(data=user_csv)

In [23]:
df.isnull().sum()

_id        0
userId     0
skillId    0
score      0
dtype: int64

In [24]:
df.dropna(inplace=True)

In [25]:
df.drop_duplicates(inplace=True)

In [26]:
df.dtypes

_id        object
userId     object
skillId    object
score       int64
dtype: object

In [27]:
print("Original dtypes:")
print(df.dtypes)

# Convert dtypes
df=df.convert_dtypes()

# Check new dtypes
print("\nConverted dtypes:")
print(df.convert_dtypes().dtypes)

Original dtypes:
_id        object
userId     object
skillId    object
score       int64
dtype: object

Converted dtypes:
_id        string[python]
userId     string[python]
skillId    string[python]
score               Int64
dtype: object

In [29]:
roles_df = pd.read_csv('C:/Users/RithikHarendarMahesh/Desktop/fp/DataEngineering/prep/prep_user.csv')
role_mapping = dict(zip(roles_df['_id'], roles_df['name']))
df['user_name'] = df['userId'].map(role_mapping)
df.head()

,_id,userId,skillId,score,user_name
0,67027ce18f14d777fee288b2,67013cc9a25cfa0d89dbb105,66ff7be7d1312483599a8dd8,76,abc
1,670291db398e7efea9400b77,67013cc9a25cfa0d89dbb105,66fd1200959f8b790f41290f,69,abc
2,67029ebd398e7efea9400b78,67013cc9a25cfa0d89dbb105,66fd116e959f8b790f412908,45,abc
3,6702a0f6398e7efea9400b7a,67013cc9a25cfa0d89dbb105,66fd1190959f8b790f41290a,32,abc
4,86b49d78-6290-41db-a693-16f9eaec36a8,cd283c7f-fe6e-4c71-b43d-783331fd1db6,4cf6b019-a296-429e-84ac-c41bd9687005,43,Ryan Nguyen

In [30]:
roles_df = pd.read_csv('C:/Users/RithikHarendarMahesh/Desktop/fp/DataEngineering/prep/prep_skill.csv')
role_mapping = dict(zip(roles_df['_id'], roles_df['name']))
df['skill_name'] = df['skillId'].map(role_mapping)
df.head()

,_id,userId,skillId,score,user_name,skill_name
0,67027ce18f14d777fee288b2,67013cc9a25cfa0d89dbb105,66ff7be7d1312483599a8dd8,76,abc,Frontend
1,670291db398e7efea9400b77,67013cc9a25cfa0d89dbb105,66fd1200959f8b790f41290f,69,abc,Data Process
2,67029ebd398e7efea9400b78,67013cc9a25cfa0d89dbb105,66fd116e959f8b790f412908,45,abc,Database
3,6702a0f6398e7efea9400b7a,67013cc9a25cfa0d89dbb105,66fd1190959f8b790f41290a,32,abc,Data Analysis
4,86b49d78-6290-41db-a693-16f9eaec36a8,cd283c7f-fe6e-4c71-b43d-783331fd1db6,4cf6b019-a296-429e-84ac-c41bd9687005,43,Ryan Nguyen,decade

In [31]:
print("Original dtypes:")
print(df.dtypes)

# Convert dtypes
df=df.convert_dtypes()

# Check new dtypes
print("\nConverted dtypes:")
print(df.convert_dtypes().dtypes)

Original dtypes:
_id           string[python]
userId        string[python]
skillId       string[python]
score                  Int64
user_name             object
skill_name            object
dtype: object

Converted dtypes:
_id           string[python]
userId        string[python]
skillId       string[python]
score                  Int64
user_name     string[python]
skill_name    string[python]
dtype: object

In [32]:
df.to_csv('C:/Users/RithikHarendarMahesh/Desktop/fp/DataEngineering/prep/prep_user_skill.csv')