In [57]:
import pandas as pd

In [58]:
user_csv=pd.read_csv('E:/JMAN/fp/DataEngineering/raw/raw_role_skills.csv')

In [59]:
df=pd.DataFrame(data=user_csv)

In [60]:
df

,roleId,skillId,name
0,4a7cdfaf-b436-46e2-a8a2-5dc4835d40b9,640c213d-8a6a-4056-8097-f503261f10f2,Java
1,4a7cdfaf-b436-46e2-a8a2-5dc4835d40b9,88e8b761-f319-43ad-b4a5-f7a4ec5ce84a,Python
2,4a7cdfaf-b436-46e2-a8a2-5dc4835d40b9,e191e70b-6f79-4445-b734-9cc534f8b0c5,C#
3,4a7cdfaf-b436-46e2-a8a2-5dc4835d40b9,c3fa5509-12fc-4ea6-8757-922636072436,JavaScript
4,4a7cdfaf-b436-46e2-a8a2-5dc4835d40b9,b67791b0-c917-4aed-bd8b-62d0f1ac33f8,React
...,...,...,...
145,663c1743-1dc9-4c1a-8200-701078aefaf8,e1d5913c-bc9a-4484-b983-5028060c0603,Research Skills
146,663c1743-1dc9-4c1a-8200-701078aefaf8,f8aaa6dc-3518-4c40-9e04-62a4b3e37e7b,Agile Methodologies
147,663c1743-1dc9-4c1a-8200-701078aefaf8,f8ccfc58-7d91-4a51-9e8f-dc77d31f2b5f,Communication Skills
148,663c1743-1dc9-4c1a-8200-701078aefaf8,f231332c-0e06-4dea-b0ba-d8e75839d80d,User Documentation
149,663c1743-1dc9-4c1a-8200-701078aefaf8,d422c946-f775-4e88-9531-a463c79624a2,Graphic Design

In [61]:
df.isnull().sum()

roleId     0
skillId    0
name       0
dtype: int64

In [62]:
df.dropna(inplace=True)

In [63]:
df.drop_duplicates(inplace=True)

In [64]:
df.dtypes

roleId     object
skillId    object
name       object
dtype: object

In [65]:
print("Original dtypes:")
print(df.dtypes)

# Convert dtypes
df=df.convert_dtypes()

# Check new dtypes
print("\nConverted dtypes:")
print(df.convert_dtypes().dtypes)

Original dtypes:
roleId     object
skillId    object
name       object
dtype: object

Converted dtypes:
roleId     string
skillId    string
name       string
dtype: object

In [66]:
df.dtypes

roleId     string
skillId    string
name       string
dtype: object

In [67]:
roles_df = pd.read_csv('E:/JMAN/fp/DataEngineering/prep/prep_role.csv')
role_mapping = dict(zip(roles_df['_id'], roles_df['name']))
df['role_name'] = df['roleId'].map(role_mapping)
df.head()

,roleId,skillId,name,role_name
0,4a7cdfaf-b436-46e2-a8a2-5dc4835d40b9,640c213d-8a6a-4056-8097-f503261f10f2,Java,Software Engineer
1,4a7cdfaf-b436-46e2-a8a2-5dc4835d40b9,88e8b761-f319-43ad-b4a5-f7a4ec5ce84a,Python,Software Engineer
2,4a7cdfaf-b436-46e2-a8a2-5dc4835d40b9,e191e70b-6f79-4445-b734-9cc534f8b0c5,C#,Software Engineer
3,4a7cdfaf-b436-46e2-a8a2-5dc4835d40b9,c3fa5509-12fc-4ea6-8757-922636072436,JavaScript,Software Engineer
4,4a7cdfaf-b436-46e2-a8a2-5dc4835d40b9,b67791b0-c917-4aed-bd8b-62d0f1ac33f8,React,Software Engineer

In [68]:
roles_df = pd.read_csv('E:/JMAN/fp/DataEngineering/prep/prep_skill.csv')
# roles_df = pd.read_csv('E:/JMAN/fp/DataEngineering/prep/prep_skill.csv')
role_mapping = dict(zip(roles_df['_id'], roles_df['name']))
df['skill_name'] = df['skillId'].map(role_mapping)
df.head()

,roleId,skillId,name,role_name,skill_name
0,4a7cdfaf-b436-46e2-a8a2-5dc4835d40b9,640c213d-8a6a-4056-8097-f503261f10f2,Java,Software Engineer,Java
1,4a7cdfaf-b436-46e2-a8a2-5dc4835d40b9,88e8b761-f319-43ad-b4a5-f7a4ec5ce84a,Python,Software Engineer,Python
2,4a7cdfaf-b436-46e2-a8a2-5dc4835d40b9,e191e70b-6f79-4445-b734-9cc534f8b0c5,C#,Software Engineer,C#
3,4a7cdfaf-b436-46e2-a8a2-5dc4835d40b9,c3fa5509-12fc-4ea6-8757-922636072436,JavaScript,Software Engineer,JavaScript
4,4a7cdfaf-b436-46e2-a8a2-5dc4835d40b9,b67791b0-c917-4aed-bd8b-62d0f1ac33f8,React,Software Engineer,React

In [69]:
print("Original dtypes:")
print(df.dtypes)

# Convert dtypes
df=df.convert_dtypes()

# Check new dtypes
print("\nConverted dtypes:")
print(df.convert_dtypes().dtypes)

Original dtypes:
roleId        string
skillId       string
name          string
role_name     object
skill_name    object
dtype: object

Converted dtypes:
roleId        string
skillId       string
name          string
role_name     string
skill_name    string
dtype: object

In [70]:
df.shape

(150, 5)

In [71]:
df.isnull().sum()

roleId        0
skillId       0
name          0
role_name     0
skill_name    0
dtype: int64

In [72]:
df.dropna(inplace=True)

In [73]:
df.shape

(150, 5)

In [74]:
# df.to_csv('E:/JMAN/fp/DataEngineering/prep/prep_role_skill.csv')
df.to_csv('E:/JMAN/fp/DataEngineering/prep/prep_role_skill.csv')