In [47]:
import pandas as pd

In [48]:
user_csv=pd.read_csv('C:/Users/RithikHarendarMahesh/Desktop/fp/DataEngineering/raw/raw_users.csv')

In [49]:
df=pd.DataFrame(data=user_csv)

In [50]:
df.isnull().sum()

_id             0
name            0
role_id         0
joining_date    0
department      0
mail            0
created_at      0
updated_at      0
password        0
profileImage    0
dtype: int64

In [51]:
df.dropna(inplace=True)

In [52]:
df.drop_duplicates(inplace=True)

In [53]:
df.dtypes

_id             object
name            object
role_id         object
joining_date    object
department      object
mail            object
created_at      object
updated_at      object
password        object
profileImage    object
dtype: object

In [54]:
print("Original dtypes:")
print(df.dtypes)

# Convert dtypes
df=df.convert_dtypes()

# Check new dtypes
print("\nConverted dtypes:")
print(df.convert_dtypes().dtypes)

Original dtypes:
_id             object
name            object
role_id         object
joining_date    object
department      object
mail            object
created_at      object
updated_at      object
password        object
profileImage    object
dtype: object

Converted dtypes:
_id             string[python]
name            string[python]
role_id         string[python]
joining_date    string[python]
department      string[python]
mail            string[python]
created_at      string[python]
updated_at      string[python]
password        string[python]
profileImage    string[python]
dtype: object

In [55]:
df['created_at'] = [
    i.split(" ")[0] if 'T' not in i else i.split("T")[0] for i in df['created_at']
]

In [56]:
df['created_at']=pd.to_datetime(df['created_at'])

In [57]:
df['updated_at'] = [
    i.split(" ")[0] if 'T' not in i else i.split("T")[0] for i in df['updated_at']
]

In [58]:
df['updated_at']=pd.to_datetime(df['updated_at'])

In [59]:
df.dtypes

_id             string[python]
name            string[python]
role_id         string[python]
joining_date    string[python]
department      string[python]
mail            string[python]
created_at      datetime64[ns]
updated_at      datetime64[ns]
password        string[python]
profileImage    string[python]
dtype: object

In [60]:
pd.Categorical(df['department'])

['ADMIN', 'DEVOPS', 'DEVOPS', 'DATA_ANALYTICS', 'FULL_STACK', ..., 'ADMIN', 'FULL_STACK', 'DATA_ANALYTICS', 'FULL_STACK', 'ADMIN']
Length: 10012
Categories (6, string): [ADMIN, DATA_ANALYTICS, DATA_ENGINEERING, DEVOPS, FULL_STACK, OTHER]

In [61]:
pd.Categorical(df['role_id'])

['66fe345174c62caaf765f1a0', '66fd540a30450c2a76ac020f', '66fd595030450c2a76ac0219', '66fd595030450c2a76ac0219', '66fd540a30450c2a76ac020f', ..., '90f2db4f-87a9-462a-86cf-db3f17909500', 'd8e0c8e2-a2e8-481e-ae43-252922f5b4d5', '35f46dfd-9092-450c-9a6c-15adba915ff4', '9a80ec84-d7be-4f88-a44e-71f81636c182', 'b432d55f-e5f8-44fd-acc3-02dcb6c7c295']
Length: 10012
Categories (25, string): [0f1eb5e5-4aff-4892-b959-f63493d2df5f, 1779a748-b62d-4911-bcd0-8db4cca11ccc, 197b4546-cd8d-48a0-b6b5-ecd4fe821452, 35f46dfd-9092-450c-9a6c-15adba915ff4, ..., d8e0c8e2-a2e8-481e-ae43-252922f5b4d5, f7da2380-0edf-45ac-9bb8-556715432a75, ff39073d-a039-4b00-aa42-337a06d673ae, ff5b02af-df76-4999-94c2-9911cff6ec24]

In [65]:
roles_df = pd.read_csv('C:/Users/RithikHarendarMahesh/Desktop/fp/DataEngineering/raw/raw_roles.csv')
role_mapping = dict(zip(roles_df['_id'], roles_df['name']))
df['role_name'] = df['role_id'].map(role_mapping)
df.head()

,_id,name,role_id,joining_date,department,mail,created_at,updated_at,password,profileImage,role_name
0,66fad1b6c79fafa475699b3a,Alice,66fe345174c62caaf765f1a0,2023-01-10,ADMIN,admin@example.com,2024-09-30,2024-09-30,Abcd@1234,"data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0...",ADMIN
1,66fe81770b5205e064c2aed9,emp5,66fd540a30450c2a76ac020f,15-01-2023,DEVOPS,emp5@gmail.com,2024-10-03,2024-10-07,Abcd@1234,"data:image/jpeg;base64,/9j/4AAQSkZJRgABAgEASAB...",Senior Software Engineer
2,66fe81770b5205e064c2aedd,emp9,66fd595030450c2a76ac0219,19-01-2023,DEVOPS,emp9@gmail.com,2024-10-03,2024-10-07,Abcd@1234,"data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...",Software Engineer
3,66fe81770b5205e064c2aedb,emp7,66fd595030450c2a76ac0219,17-01-2023,DATA_ANALYTICS,emp7@gmail.com,2024-10-03,2024-10-07,Abcd@1234,"data:image/jpeg;base64,/9j/4AAQSkZJRgABAgAAZAB...",Software Engineer
4,66fe81770b5205e064c2aed5,emp1,66fd540a30450c2a76ac020f,11-01-2023,FULL_STACK,emp1@gmail.com,2024-10-03,2024-10-07,Abcd@1234,"data:image/jpeg;base64,/9j/4AAQSkZJRgABAgEASAB...",Senior Software Engineer

In [67]:
print("Original dtypes:")
print(df.dtypes)

# Convert dtypes
df=df.convert_dtypes()

# Check new dtypes
print("\nConverted dtypes:")
print(df.convert_dtypes().dtypes)

Original dtypes:
_id             string[python]
name            string[python]
role_id         string[python]
joining_date    string[python]
department      string[python]
mail            string[python]
created_at      datetime64[ns]
updated_at      datetime64[ns]
password        string[python]
profileImage    string[python]
role_name               object
dtype: object

Converted dtypes:
_id             string[python]
name            string[python]
role_id         string[python]
joining_date    string[python]
department      string[python]
mail            string[python]
created_at      datetime64[ns]
updated_at      datetime64[ns]
password        string[python]
profileImage    string[python]
role_name       string[python]
dtype: object