In [1]:
import pandas as pd

In [3]:
user_csv=pd.read_csv('C:/Users/RithikHarendarMahesh/Desktop/fp/DataEngineering/raw/raw_user_certifications.csv')

In [4]:
df=pd.DataFrame(data=user_csv)

In [5]:
df.isnull().sum()

_id                  0
userId               0
certificationId      0
certificationName    0
started_at           0
completed_at         0
competency           0
isVerified           0
imageData            0
dtype: int64

In [6]:
df.dropna(inplace=True)

In [7]:
df.drop_duplicates(inplace=True)

In [8]:
df.dtypes

_id                  object
userId               object
certificationId      object
certificationName    object
started_at           object
completed_at         object
competency           object
isVerified             bool
imageData            object
dtype: object

In [9]:
print("Original dtypes:")
print(df.dtypes)

# Convert dtypes
df=df.convert_dtypes()

# Check new dtypes
print("\nConverted dtypes:")
print(df.convert_dtypes().dtypes)

Original dtypes:
_id                  object
userId               object
certificationId      object
certificationName    object
started_at           object
completed_at         object
competency           object
isVerified             bool
imageData            object
dtype: object

Converted dtypes:
_id                  string[python]
userId               string[python]
certificationId      string[python]
certificationName    string[python]
started_at           string[python]
completed_at         string[python]
competency           string[python]
isVerified                  boolean
imageData            string[python]
dtype: object

In [10]:
df['started_at'] = [
    i.split(" ")[0] if 'T' not in i else i.split("T")[0] for i in df['started_at']
]

In [11]:
df['started_at']=pd.to_datetime(df['started_at'])

In [12]:
df['completed_at'] = [
    i.split(" ")[0] if 'T' not in i else i.split("T")[0] for i in df['completed_at']
]

In [13]:
df['completed_at']=pd.to_datetime(df['completed_at'])

In [14]:
df.dtypes

_id                  string[python]
userId               string[python]
certificationId      string[python]
certificationName    string[python]
started_at           datetime64[ns]
completed_at         datetime64[ns]
competency           string[python]
isVerified                  boolean
imageData            string[python]
dtype: object

In [17]:
roles_df = pd.read_csv('C:/Users/RithikHarendarMahesh/Desktop/fp/DataEngineering/prep/prep_user.csv')
role_mapping = dict(zip(roles_df['_id'], roles_df['name']))
df['user_name'] = df['userId'].map(role_mapping)
df.head()

,_id,userId,certificationId,certificationName,started_at,completed_at,competency,isVerified,imageData,user_name
0,6702bca3c96bbf13f5ff2903,67013cc9a25cfa0d89dbb105,66febe5eca0ebab04690f2ac,ReactJS,2024-10-05,2024-10-09,BEGINNER,True,"data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAA...",abc
1,6702c4fb2a2f643b3baa88ab,67013cc9a25cfa0d89dbb105,66febfabca0ebab04690f2b1,ExpressJS,2024-10-06,2024-10-09,BEGINNER,True,"data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAA...",abc
2,67036548eb36bec3fb1849e7,66fe81770b5205e064c2aed5,66febe5eca0ebab04690f2ac,ReactJS,2024-10-02,2024-10-10,BEGINNER,False,"data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAA...",emp1
3,67036ccb93760f84b5e886ad,66fe81770b5205e064c2aed5,66febe5eca0ebab04690f2ac,ReactJS,2024-10-07,2024-10-09,INTERMEDIATE,False,"data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...",emp1
4,6703c24a5b1d1e7f98a9a959,66fe81770b5205e064c2aed5,6703c20b5b1d1e7f98a9a957,Web Scrapping using Python,2024-10-07,2024-10-10,BEGINNER,False,"data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...",emp1

In [18]:
print("Original dtypes:")
print(df.dtypes)

# Convert dtypes
df=df.convert_dtypes()

# Check new dtypes
print("\nConverted dtypes:")
print(df.convert_dtypes().dtypes)

Original dtypes:
_id                  string[python]
userId               string[python]
certificationId      string[python]
certificationName    string[python]
started_at           datetime64[ns]
completed_at         datetime64[ns]
competency           string[python]
isVerified                  boolean
imageData            string[python]
user_name                    object
dtype: object

Converted dtypes:
_id                  string[python]
userId               string[python]
certificationId      string[python]
certificationName    string[python]
started_at           datetime64[ns]
completed_at         datetime64[ns]
competency           string[python]
isVerified                  boolean
imageData            string[python]
user_name            string[python]
dtype: object

In [19]:
df.to_csv('C:/Users/RithikHarendarMahesh/Desktop/fp/DataEngineering/prep/prep_user_certifications.csv')