In [96]:
import pandas as pd

In [97]:
user_csv=pd.read_csv('E:/JMAN/fp/DataEngineering/raw/raw_users.csv')

In [98]:
df=pd.DataFrame(data=user_csv)

In [99]:
df.isnull().sum()

_id             0
name            0
role_id         0
joining_date    0
department      0
mail            0
created_at      0
updated_at      0
password        0
profileImage    0
dtype: int64

In [100]:
df.dropna(inplace=True)

In [101]:
df.drop_duplicates(inplace=True)

In [102]:
df.dtypes

_id             object
name            object
role_id         object
joining_date    object
department      object
mail            object
created_at      object
updated_at      object
password        object
profileImage    object
dtype: object

In [103]:
print("Original dtypes:")
print(df.dtypes)

# Convert dtypes
df=df.convert_dtypes()

# Check new dtypes
print("\nConverted dtypes:")
print(df.convert_dtypes().dtypes)

Original dtypes:
_id             object
name            object
role_id         object
joining_date    object
department      object
mail            object
created_at      object
updated_at      object
password        object
profileImage    object
dtype: object

Converted dtypes:
_id             string
name            string
role_id         string
joining_date    string
department      string
mail            string
created_at      string
updated_at      string
password        string
profileImage    string
dtype: object

In [104]:
df['created_at'] = [
    i.split(" ")[0] if 'T' not in i else i.split("T")[0] for i in df['created_at']
]

In [105]:
df['created_at']=pd.to_datetime(df['created_at'])

In [106]:
df['updated_at'] = [
    i.split(" ")[0] if 'T' not in i else i.split("T")[0] for i in df['updated_at']
]

In [107]:
df['updated_at']=pd.to_datetime(df['updated_at'])

In [108]:
df.dtypes

_id                     string
name                    string
role_id                 string
joining_date            string
department              string
mail                    string
created_at      datetime64[ns]
updated_at      datetime64[ns]
password                string
profileImage            string
dtype: object

In [109]:
pd.Categorical(df['department'])

['DATA_ENGINEERING', 'ADMIN', 'ADMIN', 'FULL_STACK', 'DATA_ANALYTICS', ..., 'DEVOPS', 'DEVOPS', 'DATA_ANALYTICS', 'OTHER', 'DATA_ANALYTICS']
Length: 30000
Categories (6, object): ['ADMIN', 'DATA_ANALYTICS', 'DATA_ENGINEERING', 'DEVOPS', 'FULL_STACK', 'OTHER']

In [110]:
pd.Categorical(df['role_id'])

['4a7cdfaf-b436-46e2-a8a2-5dc4835d40b9', '4a7cdfaf-b436-46e2-a8a2-5dc4835d40b9', '4a7cdfaf-b436-46e2-a8a2-5dc4835d40b9', '4a7cdfaf-b436-46e2-a8a2-5dc4835d40b9', '4a7cdfaf-b436-46e2-a8a2-5dc4835d40b9', ..., '663c1743-1dc9-4c1a-8200-701078aefaf8', '663c1743-1dc9-4c1a-8200-701078aefaf8', '663c1743-1dc9-4c1a-8200-701078aefaf8', '663c1743-1dc9-4c1a-8200-701078aefaf8', '663c1743-1dc9-4c1a-8200-701078aefaf8']
Length: 30000
Categories (15, object): ['196c18a9-4aef-4755-a3ee-4b6f418c71e3', '1a52dd70-8466-4e47-8600-1677136f4fec', '2ff032a8-e315-4073-afa5-9906c87db625', '4a7cdfaf-b436-46e2-a8a2-5dc4835d40b9', ..., 'c581ca4e-3b3e-47fe-b1c1-ac3dcaf75783', 'ccb4b4f9-80cb-4f1b-9ae8-f16d9da11659', 'd70499b1-0629-47f6-ad56-cd859093daf9', 'e35f4200-b9f8-44c1-b417-09d833a343d9']

In [111]:
roles_df = pd.read_csv('E:/JMAN/fp/DataEngineering/raw/raw_roles.csv')
role_mapping = dict(zip(roles_df['_id'], roles_df['name']))
df['role_name'] = df['role_id'].map(role_mapping)
df.head()

,_id,name,role_id,joining_date,department,mail,created_at,updated_at,password,profileImage,role_name
0,67fb9f26-ec27-43d2-9966-a8a2e39bafa0,Willie French,4a7cdfaf-b436-46e2-a8a2-5dc4835d40b9,2021-01-05T07:16:14,DATA_ENGINEERING,wilsonsusan@example.com,2022-11-03,2024-09-21,!I^jSfvr5g,https://dummyimage.com/558x59,Software Engineer
1,0372c88a-079f-4d09-b662-74c84c18217d,John Torres,4a7cdfaf-b436-46e2-a8a2-5dc4835d40b9,2022-09-25T05:52:37,ADMIN,rflores@example.org,2020-08-10,2024-02-19,X!+06vPaD^,https://dummyimage.com/673x958,Software Engineer
2,85de085d-af92-4756-9593-758f8d1924f4,Eric Lucas,4a7cdfaf-b436-46e2-a8a2-5dc4835d40b9,2023-05-29T22:58:51,ADMIN,zjones@example.org,2022-07-29,2022-08-05,6gOnW&dh&&,https://picsum.photos/734/599,Software Engineer
3,39aef360-3396-4311-a769-a1a7c4dc9d44,Ryan Ware,4a7cdfaf-b436-46e2-a8a2-5dc4835d40b9,2021-09-21T08:35:14,FULL_STACK,dbrooks@example.com,2024-07-10,2021-06-04,&cMjDl6bb9,https://dummyimage.com/248x182,Software Engineer
4,6d8eb96b-19d9-4d3a-990d-aa1d1b4b1673,Diane Wright,4a7cdfaf-b436-46e2-a8a2-5dc4835d40b9,2021-06-20T11:49:28,DATA_ANALYTICS,millernicole@example.com,2020-11-18,2020-07-31,L9MUsiI9&e,https://dummyimage.com/560x1024,Software Engineer

In [112]:
print("Original dtypes:")
print(df.dtypes)

# Convert dtypes
df=df.convert_dtypes()

# Check new dtypes
print("\nConverted dtypes:")
print(df.convert_dtypes().dtypes)

Original dtypes:
_id                     string
name                    string
role_id                 string
joining_date            string
department              string
mail                    string
created_at      datetime64[ns]
updated_at      datetime64[ns]
password                string
profileImage            string
role_name               object
dtype: object

Converted dtypes:
_id                     string
name                    string
role_id                 string
joining_date            string
department              string
mail                    string
created_at      datetime64[ns]
updated_at      datetime64[ns]
password                string
profileImage            string
role_name               string
dtype: object

In [113]:
user_cert_csv=pd.read_csv('E:/JMAN/fp/DataEngineering/raw/raw_user_certifications.csv')

In [114]:
user_cert_df=pd.DataFrame(data=user_cert_csv)

In [115]:
user_cert_df.head()

,_id,userId,certificationId,certificationName,started_at,completed_at,competency,isVerified,imageData
0,f37cc047-63a5-46fd-9e14-a8080733af37,67fb9f26-ec27-43d2-9966-a8a2e39bafa0,6371cb98-2998-41d8-82f8-9992a36685ad,Certified Ethical Hacker,2023-09-22T08:24:37,2023-10-08T19:14:05,ADVANCED,True,https://dummyimage.com/932x801
1,f3b6ffa1-3085-414e-990e-bc1268b87725,67fb9f26-ec27-43d2-9966-a8a2e39bafa0,f9f74721-d989-4b0a-a67e-8c65d6986b4b,AWS Certified Solutions Architect,2022-03-07T16:24:10,2023-06-24T21:12:10,BEGINNER,False,https://placekitten.com/94/54
2,1e45adaf-ba8e-44a5-b6ee-d9e26e68928e,67fb9f26-ec27-43d2-9966-a8a2e39bafa0,3ff2a4df-7cae-430f-80c7-878988d38ead,Certified Information Systems Security Profess...,2020-09-01T19:36:14,2022-01-08T15:20:39,INTERMEDIATE,True,https://picsum.photos/444/802
3,2d5c58ea-6936-4955-bf35-370a5b367254,67fb9f26-ec27-43d2-9966-a8a2e39bafa0,a6c6d728-8176-4a62-9df9-a102e79879b5,CompTIA Security+,2023-07-10T03:00:07,2023-07-10T03:00:07.225735,BEGINNER,True,https://picsum.photos/637/338
4,3fe8010b-0dee-4c89-91fd-f8c0d5481422,67fb9f26-ec27-43d2-9966-a8a2e39bafa0,e63b693d-1c85-48c1-b5b7-15fa7583447a,Certified Kubernetes Administrator,2021-07-28T22:32:06,2021-09-07T14:55:14,INTERMEDIATE,False,https://placekitten.com/208/896

In [116]:
user_cert_df['completed_at'] = [
    i.split(" ")[0] if 'T' not in i else i.split("T")[0] for i in user_cert_df['completed_at']
]

In [117]:
user_cert_df['started_at'] = [
    i.split(" ")[0] if 'T' not in i else i.split("T")[0] for i in user_cert_df['started_at']
]

In [118]:
user_cert_df['completed_at']=pd.to_datetime(user_cert_df['completed_at'])

In [119]:
user_cert_df['started_at']=pd.to_datetime(user_cert_df['started_at'])

In [120]:
(user_cert_df['completed_at'][0]-user_cert_df['started_at'][0])

Timedelta('16 days 00:00:00')

In [121]:
user_cert_df['duration'] =user_cert_df['completed_at'] - user_cert_df['started_at']

In [122]:
user_cert_df.head()

,_id,userId,certificationId,certificationName,started_at,completed_at,competency,isVerified,imageData,duration
0,f37cc047-63a5-46fd-9e14-a8080733af37,67fb9f26-ec27-43d2-9966-a8a2e39bafa0,6371cb98-2998-41d8-82f8-9992a36685ad,Certified Ethical Hacker,2023-09-22,2023-10-08,ADVANCED,True,https://dummyimage.com/932x801,16 days
1,f3b6ffa1-3085-414e-990e-bc1268b87725,67fb9f26-ec27-43d2-9966-a8a2e39bafa0,f9f74721-d989-4b0a-a67e-8c65d6986b4b,AWS Certified Solutions Architect,2022-03-07,2023-06-24,BEGINNER,False,https://placekitten.com/94/54,474 days
2,1e45adaf-ba8e-44a5-b6ee-d9e26e68928e,67fb9f26-ec27-43d2-9966-a8a2e39bafa0,3ff2a4df-7cae-430f-80c7-878988d38ead,Certified Information Systems Security Profess...,2020-09-01,2022-01-08,INTERMEDIATE,True,https://picsum.photos/444/802,494 days
3,2d5c58ea-6936-4955-bf35-370a5b367254,67fb9f26-ec27-43d2-9966-a8a2e39bafa0,a6c6d728-8176-4a62-9df9-a102e79879b5,CompTIA Security+,2023-07-10,2023-07-10,BEGINNER,True,https://picsum.photos/637/338,0 days
4,3fe8010b-0dee-4c89-91fd-f8c0d5481422,67fb9f26-ec27-43d2-9966-a8a2e39bafa0,e63b693d-1c85-48c1-b5b7-15fa7583447a,Certified Kubernetes Administrator,2021-07-28,2021-09-07,INTERMEDIATE,False,https://placekitten.com/208/896,41 days

In [123]:


user_cert_df.loc[user_cert_df['duration']<pd.Timedelta('0 days')]

Empty DataFrame
Columns: [_id, userId, certificationId, certificationName, started_at, completed_at, competency, isVerified, imageData, duration]
Index: []

In [124]:
user_cert_df.isnull().sum()

_id                  0
userId               0
certificationId      0
certificationName    0
started_at           0
completed_at         0
competency           0
isVerified           0
imageData            0
duration             0
dtype: int64

In [125]:
grouped_df = user_cert_df.groupby(['userId']).size().reset_index(name='count')
grouped_df.shape

(30000, 2)

In [126]:
merged_df = grouped_df.merge(df, left_on='userId', right_on='_id', how='inner')

In [127]:
merged_df.head()

,userId,count,_id,name,role_id,joining_date,department,mail,created_at,updated_at,password,profileImage,role_name
0,0001cd17-b1ef-481e-8f16-b86c03222af3,5,0001cd17-b1ef-481e-8f16-b86c03222af3,Stephanie Doyle,4e0c4606-0668-4356-bb17-e3b13140c28e,2020-08-25T17:39:23,FULL_STACK,dianaharmon@example.com,2022-02-20,2022-05-23,c(0JdJY)+0,https://placekitten.com/949/26,UX/UI Designer
1,000897ae-ccc9-469e-92d6-e3ed79b4b369,5,000897ae-ccc9-469e-92d6-e3ed79b4b369,Sonya Conrad,196c18a9-4aef-4755-a3ee-4b6f418c71e3,2022-05-12T17:19:00,ADMIN,darren95@example.org,2021-11-08,2021-11-22,%3u4!VV))j,https://dummyimage.com/967x454,Backend Developer
2,000a146b-94c2-45e6-99ac-eb62ac2b022e,5,000a146b-94c2-45e6-99ac-eb62ac2b022e,Rhonda Lyons,ccb4b4f9-80cb-4f1b-9ae8-f16d9da11659,2022-12-20T03:38:29,DEVOPS,oyoder@example.org,2024-05-03,2021-05-11,4ipDG2O9R$,https://dummyimage.com/203x506,Cloud Engineer
3,000b0fad-ede6-4786-bee6-b8cefba98cf3,5,000b0fad-ede6-4786-bee6-b8cefba98cf3,Anna Paul,663c1743-1dc9-4c1a-8200-701078aefaf8,2023-03-21T22:30:14,DEVOPS,josephlester@example.com,2023-05-15,2021-04-21,Li1B*f#3f@,https://placekitten.com/87/673,Technical Writer
4,000b87bb-2672-49e4-a4c5-ceb032b0395c,5,000b87bb-2672-49e4-a4c5-ceb032b0395c,Sarah Lee,791867b5-ae38-44aa-b2b0-c258b4f25afb,2024-04-19T05:14:46,ADMIN,courtney01@example.com,2023-08-02,2024-08-05,pV6Q&x@@M*,https://picsum.photos/496/736,Full Stack Developer

In [128]:
merged_df.isna().sum()

userId          0
count           0
_id             0
name            0
role_id         0
joining_date    0
department      0
mail            0
created_at      0
updated_at      0
password        0
profileImage    0
role_name       0
dtype: int64

In [129]:
df=merged_df

In [130]:
grouped_df = user_cert_df.groupby('userId')['duration'].sum().reset_index(name='total_duration')
grouped_df.head()

                                 userId total_duration
0  0001cd17-b1ef-481e-8f16-b86c03222af3       298 days
1  000897ae-ccc9-469e-92d6-e3ed79b4b369      1177 days
2  000a146b-94c2-45e6-99ac-eb62ac2b022e         3 days
3  000b0fad-ede6-4786-bee6-b8cefba98cf3       706 days
4  000b87bb-2672-49e4-a4c5-ceb032b0395c       702 days

In [131]:
merged_df = grouped_df.merge(df, left_on='userId', right_on='_id', how='inner')
merged_df.shape

(30000, 15)

In [132]:
merged_df.isnull().sum()

userId_x          0
total_duration    0
userId_y          0
count             0
_id               0
name              0
role_id           0
joining_date      0
department        0
mail              0
created_at        0
updated_at        0
password          0
profileImage      0
role_name         0
dtype: int64

In [133]:
merged_df.rename({"userId_x":"userId"},axis=1,inplace=True)

In [134]:
# merged_df.drop('total_duration_y', axis=1, inplace=True)
merged_df.drop('userId_y', axis=1, inplace=True)

In [135]:
merged_df.isna().sum()

userId            0
total_duration    0
count             0
_id               0
name              0
role_id           0
joining_date      0
department        0
mail              0
created_at        0
updated_at        0
password          0
profileImage      0
role_name         0
dtype: int64

In [136]:
df=merged_df
df.head()

,userId,total_duration,count,_id,name,role_id,joining_date,department,mail,created_at,updated_at,password,profileImage,role_name
0,0001cd17-b1ef-481e-8f16-b86c03222af3,298 days,5,0001cd17-b1ef-481e-8f16-b86c03222af3,Stephanie Doyle,4e0c4606-0668-4356-bb17-e3b13140c28e,2020-08-25T17:39:23,FULL_STACK,dianaharmon@example.com,2022-02-20,2022-05-23,c(0JdJY)+0,https://placekitten.com/949/26,UX/UI Designer
1,000897ae-ccc9-469e-92d6-e3ed79b4b369,1177 days,5,000897ae-ccc9-469e-92d6-e3ed79b4b369,Sonya Conrad,196c18a9-4aef-4755-a3ee-4b6f418c71e3,2022-05-12T17:19:00,ADMIN,darren95@example.org,2021-11-08,2021-11-22,%3u4!VV))j,https://dummyimage.com/967x454,Backend Developer
2,000a146b-94c2-45e6-99ac-eb62ac2b022e,3 days,5,000a146b-94c2-45e6-99ac-eb62ac2b022e,Rhonda Lyons,ccb4b4f9-80cb-4f1b-9ae8-f16d9da11659,2022-12-20T03:38:29,DEVOPS,oyoder@example.org,2024-05-03,2021-05-11,4ipDG2O9R$,https://dummyimage.com/203x506,Cloud Engineer
3,000b0fad-ede6-4786-bee6-b8cefba98cf3,706 days,5,000b0fad-ede6-4786-bee6-b8cefba98cf3,Anna Paul,663c1743-1dc9-4c1a-8200-701078aefaf8,2023-03-21T22:30:14,DEVOPS,josephlester@example.com,2023-05-15,2021-04-21,Li1B*f#3f@,https://placekitten.com/87/673,Technical Writer
4,000b87bb-2672-49e4-a4c5-ceb032b0395c,702 days,5,000b87bb-2672-49e4-a4c5-ceb032b0395c,Sarah Lee,791867b5-ae38-44aa-b2b0-c258b4f25afb,2024-04-19T05:14:46,ADMIN,courtney01@example.com,2023-08-02,2024-08-05,pV6Q&x@@M*,https://picsum.photos/496/736,Full Stack Developer

In [137]:
df.isnull().sum()

userId            0
total_duration    0
count             0
_id               0
name              0
role_id           0
joining_date      0
department        0
mail              0
created_at        0
updated_at        0
password          0
profileImage      0
role_name         0
dtype: int64

In [138]:
df.to_csv('E:/JMAN/fp/DataEngineering/prep/prep_user.csv')