In [13]:
import pandas as pd

In [14]:
user_csv=pd.read_csv('E:/JMAN/fp/DataEngineering/raw/raw_user_skills.csv')
# user_csv=pd.read_csv('E:/JMAN/fp/DataEngineering/raw/raw_user_skills.csv')

In [15]:
df=pd.DataFrame(data=user_csv)

In [16]:
df.isnull().sum()

_id        0
userId     0
skillId    0
score      0
dtype: int64

In [17]:
df.dropna(inplace=True)

In [18]:
df.drop_duplicates(inplace=True)

In [19]:
df.dtypes

_id        object
userId     object
skillId    object
score       int64
dtype: object

In [20]:
print("Original dtypes:")
print(df.dtypes)

# Convert dtypes
df=df.convert_dtypes()

# Check new dtypes
print("\nConverted dtypes:")
print(df.convert_dtypes().dtypes)

Original dtypes:
_id        object
userId     object
skillId    object
score       int64
dtype: object

Converted dtypes:
_id        string
userId     string
skillId    string
score       Int64
dtype: object

In [21]:
# roles_df = pd.read_csv('E:/JMAN/fp/DataEngineering/prep/prep_user.csv')
roles_df = pd.read_csv('E:/JMAN/fp/DataEngineering/prep/prep_user.csv')
roles_df
role_mapping = dict(zip(roles_df['_id'], roles_df['name']))
df['user_name'] = df['userId'].map(role_mapping)
df.head()

,_id,userId,skillId,score,user_name
0,ddce7f6e-0771-4e3d-aba6-f772c08fd03a,75d5aae9-1b22-4ab7-ab0c-191b0691138d,a6eed375-6d77-4807-a736-757fd1419455,32,Amy Dodson
1,f032fcd8-ed5f-41d1-9a19-94e86507c2e5,75d5aae9-1b22-4ab7-ab0c-191b0691138d,9aa196b9-ca3f-4c25-b42d-18454715bd29,93,Amy Dodson
2,8967b2c0-59d9-4383-aa20-461c5985080c,75d5aae9-1b22-4ab7-ab0c-191b0691138d,4eafa144-e580-4b4c-9096-19f64aa2aebc,92,Amy Dodson
3,cf8d89d7-3ac7-4d95-aa07-62a291a8e8f9,75d5aae9-1b22-4ab7-ab0c-191b0691138d,82ffc361-84f5-4c12-92a4-a592de26c702,94,Amy Dodson
4,215f4928-d1dd-422f-afb4-5f6d23b88782,75d5aae9-1b22-4ab7-ab0c-191b0691138d,273d1c01-d465-4814-9406-443a480674d1,69,Amy Dodson

In [22]:
# roles_df = pd.read_csv('E:/JMAN/fp/DataEngineering/prep/prep_skill.csv')
roles_df = pd.read_csv('E:/JMAN/fp/DataEngineering/prep/prep_skill.csv')
role_mapping = dict(zip(roles_df['_id'], roles_df['name']))
df['skill_name'] = df['skillId'].map(role_mapping)
df

,_id,userId,skillId,score,user_name,skill_name
0,ddce7f6e-0771-4e3d-aba6-f772c08fd03a,75d5aae9-1b22-4ab7-ab0c-191b0691138d,a6eed375-6d77-4807-a736-757fd1419455,32,Amy Dodson,Content Creation
1,f032fcd8-ed5f-41d1-9a19-94e86507c2e5,75d5aae9-1b22-4ab7-ab0c-191b0691138d,9aa196b9-ca3f-4c25-b42d-18454715bd29,93,Amy Dodson,Networking
2,8967b2c0-59d9-4383-aa20-461c5985080c,75d5aae9-1b22-4ab7-ab0c-191b0691138d,4eafa144-e580-4b4c-9096-19f64aa2aebc,92,Amy Dodson,HTML/CSS
3,cf8d89d7-3ac7-4d95-aa07-62a291a8e8f9,75d5aae9-1b22-4ab7-ab0c-191b0691138d,82ffc361-84f5-4c12-92a4-a592de26c702,94,Amy Dodson,React
4,215f4928-d1dd-422f-afb4-5f6d23b88782,75d5aae9-1b22-4ab7-ab0c-191b0691138d,273d1c01-d465-4814-9406-443a480674d1,69,Amy Dodson,React
...,...,...,...,...,...,...
299995,d89f796c-ea9b-4131-b8d2-50daa673ad7e,0ab8f3ba-3491-4640-8884-549a0825ece4,d8b92035-1dfd-43ac-8338-4ba31ff1cab4,11,Teresa Robinson,Testing/Debugging
299996,2d7f5ccf-4152-428a-b123-9280afa3145c,0ab8f3ba-3491-4640-8884-549a0825ece4,2c94b709-3e9e-484e-af94-1810370da18d,33,Teresa Robinson,RESTful APIs
299997,da2cde11-9d78-421f-ba18-d9cfddc35252,0ab8f3ba-3491-4640-8884-549a0825ece4,e813b1b7-8b79-459d-901c-36a45b169cdb,56,Teresa Robinson,Data Visualization
299998,ba19440b-b07a-45fb-95b4-285b7fb01ba8,0ab8f3ba-3491-4640-8884-549a0825ece4,2d513e39-23d4-41c0-aea0-9ade9bb923e1,61,Teresa Robinson,Machine Learning
299999,92a341b4-8ade-4a4c-8626-41e50ec0ddfc,0ab8f3ba-3491-4640-8884-549a0825ece4,68dbb4cd-04eb-4015-9436-92dd21c7cd98,53,Teresa Robinson,User Documentation

In [23]:
print("Original dtypes:")
print(df.dtypes)

# Convert dtypes
df=df.convert_dtypes()

# Check new dtypes
print("\nConverted dtypes:")
print(df.convert_dtypes().dtypes)

Original dtypes:
_id           string
userId        string
skillId       string
score          Int64
user_name     object
skill_name    object
dtype: object

Converted dtypes:
_id           string
userId        string
skillId       string
score          Int64
user_name     string
skill_name    string
dtype: object

In [24]:
# df.to_csv('E:/JMAN/fp/DataEngineering/prep/prep_user_skill.csv')
df.to_csv('E:/JMAN/fp/DataEngineering/prep/prep_user_skill.csv')