In [1]:
import pandas as pd

In [2]:
user_csv=pd.read_csv('C:/Users/RithikHarendarMahesh/Desktop/fp/DataEngineering/raw/raw_user_skills.csv')
# user_csv=pd.read_csv('C:/Users/RithikHarendarMahesh/Desktop/fp/DataEngineering/raw/raw_user_skills.csv')

In [3]:
df=pd.DataFrame(data=user_csv)

In [4]:
df.isnull().sum()

_id        0
userId     0
skillId    0
score      0
dtype: int64

In [5]:
df.dropna(inplace=True)

In [6]:
df.drop_duplicates(inplace=True)

In [7]:
df.dtypes

_id        object
userId     object
skillId    object
score       int64
dtype: object

In [8]:
print("Original dtypes:")
print(df.dtypes)

# Convert dtypes
df=df.convert_dtypes()

# Check new dtypes
print("\nConverted dtypes:")
print(df.convert_dtypes().dtypes)

Original dtypes:
_id        object
userId     object
skillId    object
score       int64
dtype: object

Converted dtypes:
_id        string[python]
userId     string[python]
skillId    string[python]
score               Int64
dtype: object

In [9]:
# roles_df = pd.read_csv('C:/Users/RithikHarendarMahesh/Desktop/fp/DataEngineering/prep/prep_user.csv')
roles_df = pd.read_csv('C:/Users/RithikHarendarMahesh/Desktop/fp/DataEngineering/prep/prep_user.csv')
roles_df
role_mapping = dict(zip(roles_df['_id'], roles_df['name']))
df['user_name'] = df['userId'].map(role_mapping)
df.head()

,_id,userId,skillId,score,user_name
0,a9b18a7b-85c1-4762-964f-d2a26add7d5f,06bdb594-fb32-4612-9f5f-b381ccbfc9a5,2589b8ee-c39c-47d2-bcac-e565a069a7dc,41,Jonathan King
1,34423a3f-b35c-4459-9738-78c4d2505049,06bdb594-fb32-4612-9f5f-b381ccbfc9a5,cf4801b6-76e9-4b22-9290-9173d711a185,87,Jonathan King
2,dcc90d79-f07e-43d0-93e9-8e1dcb108867,06bdb594-fb32-4612-9f5f-b381ccbfc9a5,c111b0b2-8eeb-43df-a3ac-82ee700d64d2,13,Jonathan King
3,0e33d968-01f6-46fb-b4fa-1a4e14202f2e,06bdb594-fb32-4612-9f5f-b381ccbfc9a5,8ebdb0e5-8295-4453-a1da-a1eae233ed83,53,Jonathan King
4,c7a3f07b-1f4a-45a8-ae75-5833398faf89,06bdb594-fb32-4612-9f5f-b381ccbfc9a5,25807973-e3bb-43f1-8f4a-8183e0dc0171,96,Jonathan King

In [10]:
# roles_df = pd.read_csv('C:/Users/RithikHarendarMahesh/Desktop/fp/DataEngineering/prep/prep_skill.csv')
roles_df = pd.read_csv('C:/Users/RithikHarendarMahesh/Desktop/fp/DataEngineering/prep/prep_skill.csv')
role_mapping = dict(zip(roles_df['_id'], roles_df['name']))
df['skill_name'] = df['skillId'].map(role_mapping)
df

,_id,userId,skillId,score,user_name,skill_name
0,a9b18a7b-85c1-4762-964f-d2a26add7d5f,06bdb594-fb32-4612-9f5f-b381ccbfc9a5,2589b8ee-c39c-47d2-bcac-e565a069a7dc,41,Jonathan King,Cloud Security
1,34423a3f-b35c-4459-9738-78c4d2505049,06bdb594-fb32-4612-9f5f-b381ccbfc9a5,cf4801b6-76e9-4b22-9290-9173d711a185,87,Jonathan King,Deep Learning
2,dcc90d79-f07e-43d0-93e9-8e1dcb108867,06bdb594-fb32-4612-9f5f-b381ccbfc9a5,c111b0b2-8eeb-43df-a3ac-82ee700d64d2,13,Jonathan King,Serverless Architectures
3,0e33d968-01f6-46fb-b4fa-1a4e14202f2e,06bdb594-fb32-4612-9f5f-b381ccbfc9a5,8ebdb0e5-8295-4453-a1da-a1eae233ed83,53,Jonathan King,Design Systems
4,c7a3f07b-1f4a-45a8-ae75-5833398faf89,06bdb594-fb32-4612-9f5f-b381ccbfc9a5,25807973-e3bb-43f1-8f4a-8183e0dc0171,96,Jonathan King,Networking
...,...,...,...,...,...,...
299995,d3dba183-7ac3-41ba-90e9-4541648a2c3e,a353557c-7f71-4344-b479-177e4279112e,c1491f2c-a400-48e8-bb13-dab12c42f259,19,Courtney Martin,Version Control/Git
299996,b10fd8da-b3de-40da-9e18-1663e8899055,a353557c-7f71-4344-b479-177e4279112e,d0fe1f5f-281f-4e10-9cfb-4142d203a7a4,73,Courtney Martin,Python
299997,a172d326-9b21-4cba-9e78-3a8d0a5015a9,a353557c-7f71-4344-b479-177e4279112e,3d63d298-7c3b-4c64-bc19-dc68acc7e2a4,96,Courtney Martin,Python
299998,d9fc6381-2d82-4ca7-a654-f7642f3d57d0,a353557c-7f71-4344-b479-177e4279112e,08067270-979f-45d9-ba1b-47aa9e2af0e2,88,Courtney Martin,CI/CD
299999,c4a90379-2a53-40f6-bd4e-0b316e44d071,a353557c-7f71-4344-b479-177e4279112e,9bf474a3-c39f-4d0b-b06e-bc3c911d82a8,87,Courtney Martin,Stakeholder Management

In [11]:
print("Original dtypes:")
print(df.dtypes)

# Convert dtypes
df=df.convert_dtypes()

# Check new dtypes
print("\nConverted dtypes:")
print(df.convert_dtypes().dtypes)

Original dtypes:
_id           string[python]
userId        string[python]
skillId       string[python]
score                  Int64
user_name             object
skill_name            object
dtype: object

Converted dtypes:
_id           string[python]
userId        string[python]
skillId       string[python]
score                  Int64
user_name     string[python]
skill_name    string[python]
dtype: object

In [12]:
# df.to_csv('C:/Users/RithikHarendarMahesh/Desktop/fp/DataEngineering/prep/prep_user_skill.csv')
df.to_csv('C:/Users/RithikHarendarMahesh/Desktop/fp/DataEngineering/prep/prep_user_skill.csv')