In [116]:
import pandas as pd

In [117]:
user_csv=pd.read_csv('C:/Users/RithikHarendarMahesh/Desktop/fp/DataEngineering/raw/raw_users.csv')

In [118]:
df=pd.DataFrame(data=user_csv)

In [119]:
df.isnull().sum()

_id             0
name            0
role_id         0
joining_date    0
department      0
mail            0
created_at      0
updated_at      0
password        0
profileImage    0
dtype: int64

In [120]:
df.dropna(inplace=True)

In [121]:
df.drop_duplicates(inplace=True)

In [122]:
df.dtypes

_id             object
name            object
role_id         object
joining_date    object
department      object
mail            object
created_at      object
updated_at      object
password        object
profileImage    object
dtype: object

In [123]:
print("Original dtypes:")
print(df.dtypes)

# Convert dtypes
df=df.convert_dtypes()

# Check new dtypes
print("\nConverted dtypes:")
print(df.convert_dtypes().dtypes)

Original dtypes:
_id             object
name            object
role_id         object
joining_date    object
department      object
mail            object
created_at      object
updated_at      object
password        object
profileImage    object
dtype: object

Converted dtypes:
_id             string[python]
name            string[python]
role_id         string[python]
joining_date    string[python]
department      string[python]
mail            string[python]
created_at      string[python]
updated_at      string[python]
password        string[python]
profileImage    string[python]
dtype: object

In [124]:
df['created_at'] = [
    i.split(" ")[0] if 'T' not in i else i.split("T")[0] for i in df['created_at']
]

In [125]:
df['created_at']=pd.to_datetime(df['created_at'])

In [126]:
df['updated_at'] = [
    i.split(" ")[0] if 'T' not in i else i.split("T")[0] for i in df['updated_at']
]

In [127]:
df['updated_at']=pd.to_datetime(df['updated_at'])

In [128]:
df.dtypes

_id             string[python]
name            string[python]
role_id         string[python]
joining_date    string[python]
department      string[python]
mail            string[python]
created_at      datetime64[ns]
updated_at      datetime64[ns]
password        string[python]
profileImage    string[python]
dtype: object

In [129]:
pd.Categorical(df['department'])

['ADMIN', 'DEVOPS', 'DEVOPS', 'DATA_ANALYTICS', 'FULL_STACK', ..., 'ADMIN', 'ADMIN', 'OTHER', 'DATA_ANALYTICS', 'FULL_STACK']
Length: 30013
Categories (6, string): [ADMIN, DATA_ANALYTICS, DATA_ENGINEERING, DEVOPS, FULL_STACK, OTHER]

In [130]:
pd.Categorical(df['role_id'])

['66fe345174c62caaf765f1a0', '66fd540a30450c2a76ac020f', '66fd595030450c2a76ac0219', '66fd595030450c2a76ac0219', '66fd540a30450c2a76ac020f', ..., '4e2d1418-0c83-48a2-9a93-6b50ac26e040', '4e2d1418-0c83-48a2-9a93-6b50ac26e040', '642f662c-67dc-4fbb-9049-2eced614b67b', 'cc848d0b-5ac9-4f0a-98c0-3d0979c3c9a1', 'ab04f326-4048-4b80-bacc-a57ada9df3d3']
Length: 30013
Categories (25, string): [048bb997-92d8-4698-bb29-58976f05d262, 15eccef0-3ddf-4abb-8255-dfb5dd1629a4, 4e2d1418-0c83-48a2-9a93-6b50ac26e040, 5057cb20-bd33-4194-90e1-fe3153bd9411, ..., ca6d9b79-81fc-431b-a0bb-85d1f2f99447, cc848d0b-5ac9-4f0a-98c0-3d0979c3c9a1, dc67d28b-38f4-4844-99a9-bc47fb26308c, ee19d957-7fb3-473c-9840-73d7a2b38247]

In [131]:
roles_df = pd.read_csv('C:/Users/RithikHarendarMahesh/Desktop/fp/DataEngineering/raw/raw_roles.csv')
role_mapping = dict(zip(roles_df['_id'], roles_df['name']))
df['role_name'] = df['role_id'].map(role_mapping)
df.head()

,_id,name,role_id,joining_date,department,mail,created_at,updated_at,password,profileImage,role_name
0,66fad1b6c79fafa475699b3a,Alice,66fe345174c62caaf765f1a0,2023-01-10,ADMIN,admin@example.com,2024-09-30,2024-09-30,Abcd@1234,"data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0...",ADMIN
1,66fe81770b5205e064c2aed9,emp5,66fd540a30450c2a76ac020f,15-01-2023,DEVOPS,emp5@gmail.com,2024-10-03,2024-10-07,Abcd@1234,"data:image/jpeg;base64,/9j/4AAQSkZJRgABAgEASAB...",Senior Software Engineer
2,66fe81770b5205e064c2aedd,emp9,66fd595030450c2a76ac0219,19-01-2023,DEVOPS,emp9@gmail.com,2024-10-03,2024-10-07,Abcd@1234,"data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...",Software Engineer
3,66fe81770b5205e064c2aedb,emp7,66fd595030450c2a76ac0219,17-01-2023,DATA_ANALYTICS,emp7@gmail.com,2024-10-03,2024-10-07,Abcd@1234,"data:image/jpeg;base64,/9j/4AAQSkZJRgABAgAAZAB...",Software Engineer
4,66fe81770b5205e064c2aed5,emp1,66fd540a30450c2a76ac020f,11-01-2023,FULL_STACK,emp1@gmail.com,2024-10-03,2024-10-07,Abcd@1234,"data:image/jpeg;base64,/9j/4AAQSkZJRgABAgEASAB...",Senior Software Engineer

In [132]:
print("Original dtypes:")
print(df.dtypes)

# Convert dtypes
df=df.convert_dtypes()

# Check new dtypes
print("\nConverted dtypes:")
print(df.convert_dtypes().dtypes)

Original dtypes:
_id             string[python]
name            string[python]
role_id         string[python]
joining_date    string[python]
department      string[python]
mail            string[python]
created_at      datetime64[ns]
updated_at      datetime64[ns]
password        string[python]
profileImage    string[python]
role_name               object
dtype: object

Converted dtypes:
_id             string[python]
name            string[python]
role_id         string[python]
joining_date    string[python]
department      string[python]
mail            string[python]
created_at      datetime64[ns]
updated_at      datetime64[ns]
password        string[python]
profileImage    string[python]
role_name       string[python]
dtype: object

In [133]:
user_cert_csv=pd.read_csv('C:/Users/RithikHarendarMahesh/Desktop/fp/DataEngineering/raw/raw_user_certifications.csv')

In [134]:
user_cert_df=pd.DataFrame(data=user_cert_csv)

In [135]:
user_cert_df.head()

,_id,userId,certificationId,certificationName,started_at,completed_at,competency,isVerified,imageData
0,6702bca3c96bbf13f5ff2903,67013cc9a25cfa0d89dbb105,66febe5eca0ebab04690f2ac,ReactJS,2024-10-05 18:30:00,2024-10-09 18:30:00,BEGINNER,True,"data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAA..."
1,6702c4fb2a2f643b3baa88ab,67013cc9a25cfa0d89dbb105,66febfabca0ebab04690f2b1,ExpressJS,2024-10-06 17:07:46.009000,2024-10-09 18:30:00,BEGINNER,True,"data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAA..."
2,67036548eb36bec3fb1849e7,66fe81770b5205e064c2aed5,66febe5eca0ebab04690f2ac,ReactJS,2024-10-02 18:30:00,2024-10-10 18:30:00,BEGINNER,False,"data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAA..."
3,67036ccb93760f84b5e886ad,66fe81770b5205e064c2aed5,66febe5eca0ebab04690f2ac,ReactJS,2024-10-07 05:08:12.856000,2024-10-09 18:30:00,INTERMEDIATE,False,"data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA..."
4,6703c24a5b1d1e7f98a9a959,66fe81770b5205e064c2aed5,6703c20b5b1d1e7f98a9a957,Web Scrapping using Python,2024-10-07 11:12:47.559000,2024-10-10 18:30:00,BEGINNER,False,"data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA..."

In [136]:
user_cert_df['completed_at'] = [
    i.split(" ")[0] if 'T' not in i else i.split("T")[0] for i in user_cert_df['completed_at']
]

In [137]:
user_cert_df['started_at'] = [
    i.split(" ")[0] if 'T' not in i else i.split("T")[0] for i in user_cert_df['started_at']
]

In [138]:
user_cert_df['completed_at']=pd.to_datetime(user_cert_df['completed_at'])

In [139]:
user_cert_df['started_at']=pd.to_datetime(user_cert_df['started_at'])

In [140]:
(user_cert_df['completed_at'][0]-user_cert_df['started_at'][0])

Timedelta('4 days 00:00:00')

In [141]:
user_cert_df['duration'] =user_cert_df['completed_at'] - user_cert_df['started_at']

In [142]:
user_cert_df.head()

,_id,userId,certificationId,certificationName,started_at,completed_at,competency,isVerified,imageData,duration
0,6702bca3c96bbf13f5ff2903,67013cc9a25cfa0d89dbb105,66febe5eca0ebab04690f2ac,ReactJS,2024-10-05,2024-10-09,BEGINNER,True,"data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAA...",4 days
1,6702c4fb2a2f643b3baa88ab,67013cc9a25cfa0d89dbb105,66febfabca0ebab04690f2b1,ExpressJS,2024-10-06,2024-10-09,BEGINNER,True,"data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAA...",3 days
2,67036548eb36bec3fb1849e7,66fe81770b5205e064c2aed5,66febe5eca0ebab04690f2ac,ReactJS,2024-10-02,2024-10-10,BEGINNER,False,"data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAA...",8 days
3,67036ccb93760f84b5e886ad,66fe81770b5205e064c2aed5,66febe5eca0ebab04690f2ac,ReactJS,2024-10-07,2024-10-09,INTERMEDIATE,False,"data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...",2 days
4,6703c24a5b1d1e7f98a9a959,66fe81770b5205e064c2aed5,6703c20b5b1d1e7f98a9a957,Web Scrapping using Python,2024-10-07,2024-10-10,BEGINNER,False,"data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...",3 days

In [143]:


user_cert_df.loc[user_cert_df['duration']<pd.Timedelta('0 days')]

Empty DataFrame
Columns: [_id, userId, certificationId, certificationName, started_at, completed_at, competency, isVerified, imageData, duration]
Index: []

In [144]:
user_cert_df.isnull().sum()

_id                  0
userId               0
certificationId      0
certificationName    0
started_at           0
completed_at         0
competency           0
isVerified           0
imageData            0
duration             0
dtype: int64

In [152]:
grouped_df = user_cert_df.groupby(['userId']).size().reset_index(name='count')
grouped_df.shape

(30002, 2)

In [146]:
merged_df = grouped_df.merge(df, left_on='userId', right_on='_id', how='inner')

In [147]:
merged_df.head()

,userId,count,_id,name,role_id,joining_date,department,mail,created_at,updated_at,password,profileImage,role_name
0,0003bbfb-fbc1-488a-a477-4aa25b629f0e,5,0003bbfb-fbc1-488a-a477-4aa25b629f0e,Michael Ferguson,15eccef0-3ddf-4abb-8255-dfb5dd1629a4,2021-07-27T12:34:37,DATA_ENGINEERING,williamsdavid@example.net,2023-12-06,2020-03-22,@1Yhwb0lRa,https://dummyimage.com/771x819,huge
1,0003bc75-2c39-482b-82fe-24c94870774c,5,0003bc75-2c39-482b-82fe-24c94870774c,Kristin Price,15eccef0-3ddf-4abb-8255-dfb5dd1629a4,2022-12-03T21:31:09,FULL_STACK,paula55@example.com,2024-04-23,2020-09-08,ST7gW+Qcl*,https://placekitten.com/197/309,huge
2,00052d26-807f-4dc6-b25b-6ab841aa6908,5,00052d26-807f-4dc6-b25b-6ab841aa6908,Jennifer Robinson,82f3e2ab-fee2-427c-b06e-23562476999f,2024-03-07T00:06:58,DEVOPS,gordonkristina@example.com,2020-01-28,2021-07-28,2t0IXLFaO%,https://dummyimage.com/556x385,talk
3,000721e9-5569-4792-9bb6-50ff5e968c10,5,000721e9-5569-4792-9bb6-50ff5e968c10,Gregory Stewart,dc67d28b-38f4-4844-99a9-bc47fb26308c,2021-07-27T07:20:38,ADMIN,jackhammond@example.net,2024-07-06,2023-05-08,aK^6jRsGVf,https://dummyimage.com/319x1020,understand
4,0007beba-0dec-4e3f-b905-962a93088aab,5,0007beba-0dec-4e3f-b905-962a93088aab,Bradley Brown,dc67d28b-38f4-4844-99a9-bc47fb26308c,2021-10-22T00:39:33,FULL_STACK,opowell@example.com,2023-12-02,2021-10-22,+*cLJvZ^c4,https://placekitten.com/798/931,understand

In [162]:
merged_df.isna().sum()

count           0
_id             0
name            0
role_id         0
joining_date    0
department      0
mail            0
created_at      0
updated_at      0
password        0
profileImage    0
role_name       0
dtype: int64

In [163]:
df=merged_df

In [176]:
grouped_df = user_cert_df.groupby('userId')['duration'].sum().reset_index(name='total_duration')
grouped_df.head()

                                 userId total_duration
0  0003bbfb-fbc1-488a-a477-4aa25b629f0e      4182 days
1  0003bc75-2c39-482b-82fe-24c94870774c      3699 days
2  00052d26-807f-4dc6-b25b-6ab841aa6908      6289 days
3  000721e9-5569-4792-9bb6-50ff5e968c10      2304 days
4  0007beba-0dec-4e3f-b905-962a93088aab      3265 days

In [177]:
merged_df = grouped_df.merge(df, left_on='userId', right_on='_id', how='inner')
merged_df.shape

(30002, 16)

In [ ]:
merged_df.drop('userId',axis=1)

In [180]:
merged_df.drop('total_duration_y',axis=1)

,userId_x,total_duration_x,userId_y,count,_id,name,role_id,joining_date,department,mail,created_at,updated_at,password,profileImage,role_name
0,0003bbfb-fbc1-488a-a477-4aa25b629f0e,4182 days,0003bbfb-fbc1-488a-a477-4aa25b629f0e,5,0003bbfb-fbc1-488a-a477-4aa25b629f0e,Michael Ferguson,15eccef0-3ddf-4abb-8255-dfb5dd1629a4,2021-07-27T12:34:37,DATA_ENGINEERING,williamsdavid@example.net,2023-12-06,2020-03-22,@1Yhwb0lRa,https://dummyimage.com/771x819,huge
1,0003bc75-2c39-482b-82fe-24c94870774c,3699 days,0003bc75-2c39-482b-82fe-24c94870774c,5,0003bc75-2c39-482b-82fe-24c94870774c,Kristin Price,15eccef0-3ddf-4abb-8255-dfb5dd1629a4,2022-12-03T21:31:09,FULL_STACK,paula55@example.com,2024-04-23,2020-09-08,ST7gW+Qcl*,https://placekitten.com/197/309,huge
2,00052d26-807f-4dc6-b25b-6ab841aa6908,6289 days,00052d26-807f-4dc6-b25b-6ab841aa6908,5,00052d26-807f-4dc6-b25b-6ab841aa6908,Jennifer Robinson,82f3e2ab-fee2-427c-b06e-23562476999f,2024-03-07T00:06:58,DEVOPS,gordonkristina@example.com,2020-01-28,2021-07-28,2t0IXLFaO%,https://dummyimage.com/556x385,talk
3,000721e9-5569-4792-9bb6-50ff5e968c10,2304 days,000721e9-5569-4792-9bb6-50ff5e968c10,5,000721e9-5569-4792-9bb6-50ff5e968c10,Gregory Stewart,dc67d28b-38f4-4844-99a9-bc47fb26308c,2021-07-27T07:20:38,ADMIN,jackhammond@example.net,2024-07-06,2023-05-08,aK^6jRsGVf,https://dummyimage.com/319x1020,understand
4,0007beba-0dec-4e3f-b905-962a93088aab,3265 days,0007beba-0dec-4e3f-b905-962a93088aab,5,0007beba-0dec-4e3f-b905-962a93088aab,Bradley Brown,dc67d28b-38f4-4844-99a9-bc47fb26308c,2021-10-22T00:39:33,FULL_STACK,opowell@example.com,2023-12-02,2021-10-22,+*cLJvZ^c4,https://placekitten.com/798/931,understand
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29997,fff6b02f-5bc9-460f-b730-7a6cbe20935c,4533 days,fff6b02f-5bc9-460f-b730-7a6cbe20935c,5,fff6b02f-5bc9-460f-b730-7a6cbe20935c,Jose Gardner,8f37445a-fdda-4cc8-b3e3-1471fe7f218a,2023-08-12T02:21:42,DEVOPS,thomas88@example.com,2023-01-11,2022-03-10,!pNrYdkna4,https://dummyimage.com/432x337,tax
29998,fff99805-f0d1-4735-b600-a458303ba1ba,5047 days,fff99805-f0d1-4735-b600-a458303ba1ba,5,fff99805-f0d1-4735-b600-a458303ba1ba,Nicole Parker,82f3e2ab-fee2-427c-b06e-23562476999f,2022-04-02T16:32:00,DATA_ENGINEERING,xwalls@example.org,2023-04-27,2020-05-26,&3GMiOoCfm,https://dummyimage.com/768x338,talk
29999,fffbfe81-8fd7-45ec-8b9a-7b0aa9df006c,2779 days,fffbfe81-8fd7-45ec-8b9a-7b0aa9df006c,5,fffbfe81-8fd7-45ec-8b9a-7b0aa9df006c,Terry Kennedy,ab04f326-4048-4b80-bacc-a57ada9df3d3,2020-03-10T11:47:44,DEVOPS,michellereynolds@example.net,2021-07-19,2020-04-13,G0UKfp)C(v,https://picsum.photos/133/128,budget
30000,ffff1968-58cd-48ab-b53e-c9fb21af89ca,4696 days,ffff1968-58cd-48ab-b53e-c9fb21af89ca,5,ffff1968-58cd-48ab-b53e-c9fb21af89ca,Rebecca Carpenter,dc67d28b-38f4-4844-99a9-bc47fb26308c,2021-04-27T13:01:20,DEVOPS,lawrencejames@example.com,2024-05-04,2020-05-29,g44S20r^o%,https://dummyimage.com/382x619,understand
30001,ffff7d5d-1a87-4860-b187-f8208f10a3b6,2783 days,ffff7d5d-1a87-4860-b187-f8208f10a3b6,5,ffff7d5d-1a87-4860-b187-f8208f10a3b6,Melissa Vaughn,048bb997-92d8-4698-bb29-58976f05d262,2021-10-25T04:12:11,DEVOPS,pamhaas@example.net,2022-01-18,2020-10-30,Dhm66HlS6#,https://picsum.photos/93/494,individual

In [185]:
merged_df.rename({"total_duration_x":"total_duration","userId_x":"userId"},axis=1,inplace=True)

In [186]:
merged_df.drop('total_duration_y', axis=1, inplace=True)
merged_df.drop('userId_y', axis=1, inplace=True)

In [188]:
merged_df.isna().sum()

userId            0
total_duration    0
count             0
_id               0
name              0
role_id           0
joining_date      0
department        0
mail              0
created_at        0
updated_at        0
password          0
profileImage      0
role_name         0
dtype: int64

In [187]:
df=merged_df
df.head()

,userId,total_duration,count,_id,name,role_id,joining_date,department,mail,created_at,updated_at,password,profileImage,role_name
0,0003bbfb-fbc1-488a-a477-4aa25b629f0e,4182 days,5,0003bbfb-fbc1-488a-a477-4aa25b629f0e,Michael Ferguson,15eccef0-3ddf-4abb-8255-dfb5dd1629a4,2021-07-27T12:34:37,DATA_ENGINEERING,williamsdavid@example.net,2023-12-06,2020-03-22,@1Yhwb0lRa,https://dummyimage.com/771x819,huge
1,0003bc75-2c39-482b-82fe-24c94870774c,3699 days,5,0003bc75-2c39-482b-82fe-24c94870774c,Kristin Price,15eccef0-3ddf-4abb-8255-dfb5dd1629a4,2022-12-03T21:31:09,FULL_STACK,paula55@example.com,2024-04-23,2020-09-08,ST7gW+Qcl*,https://placekitten.com/197/309,huge
2,00052d26-807f-4dc6-b25b-6ab841aa6908,6289 days,5,00052d26-807f-4dc6-b25b-6ab841aa6908,Jennifer Robinson,82f3e2ab-fee2-427c-b06e-23562476999f,2024-03-07T00:06:58,DEVOPS,gordonkristina@example.com,2020-01-28,2021-07-28,2t0IXLFaO%,https://dummyimage.com/556x385,talk
3,000721e9-5569-4792-9bb6-50ff5e968c10,2304 days,5,000721e9-5569-4792-9bb6-50ff5e968c10,Gregory Stewart,dc67d28b-38f4-4844-99a9-bc47fb26308c,2021-07-27T07:20:38,ADMIN,jackhammond@example.net,2024-07-06,2023-05-08,aK^6jRsGVf,https://dummyimage.com/319x1020,understand
4,0007beba-0dec-4e3f-b905-962a93088aab,3265 days,5,0007beba-0dec-4e3f-b905-962a93088aab,Bradley Brown,dc67d28b-38f4-4844-99a9-bc47fb26308c,2021-10-22T00:39:33,FULL_STACK,opowell@example.com,2023-12-02,2021-10-22,+*cLJvZ^c4,https://placekitten.com/798/931,understand

In [189]:
df.isnull().sum()

userId            0
total_duration    0
count             0
_id               0
name              0
role_id           0
joining_date      0
department        0
mail              0
created_at        0
updated_at        0
password          0
profileImage      0
role_name         0
dtype: int64

In [191]:
df.to_csv('C:/Users/RithikHarendarMahesh/Desktop/fp/DataEngineering/prep/prep_user.csv')