In [22]:
import pandas as pd

In [23]:
# user_csv=pd.read_csv('E:/JMAN/fp/DataEngineering/raw/raw_skills.csv')
user_csv=pd.read_csv('E:/JMAN/fp/DataEngineering/raw/raw_skills.csv')

In [24]:
df=pd.DataFrame(data=user_csv)

In [25]:
df.isnull().sum()

_id           0
name          0
created_at    0
updated_at    0
desc          0
dtype: int64

In [26]:
df.dropna(inplace=True)

In [27]:
df.drop_duplicates(inplace=True)

In [28]:
df.dtypes

_id           object
name          object
created_at    object
updated_at    object
desc          object
dtype: object

In [29]:
print("Original dtypes:")
print(df.dtypes)

# Convert dtypes
df=df.convert_dtypes()

# Check new dtypes
print("\nConverted dtypes:")
print(df.convert_dtypes().dtypes)

Original dtypes:
_id           object
name          object
created_at    object
updated_at    object
desc          object
dtype: object

Converted dtypes:
_id           string
name          string
created_at    string
updated_at    string
desc          string
dtype: object

In [30]:
df['created_at'] = [
    i.split(" ")[0] if 'T' not in i else i.split("T")[0] for i in df['created_at']
]

In [31]:
df['created_at']=pd.to_datetime(df['created_at'])

In [32]:
df['updated_at'] = [
    i.split(" ")[0] if 'T' not in i else i.split("T")[0] for i in df['updated_at']
]

In [33]:
df['updated_at']=pd.to_datetime(df['updated_at'])

In [34]:
df.dtypes

_id                   string
name                  string
created_at    datetime64[ns]
updated_at    datetime64[ns]
desc                  string
dtype: object

In [35]:
df.shape

(150, 5)

In [36]:
df

,_id,name,created_at,updated_at,desc
0,640c213d-8a6a-4056-8097-f503261f10f2,Java,2023-11-30,2024-08-22,Java
1,88e8b761-f319-43ad-b4a5-f7a4ec5ce84a,Python,2021-05-09,2023-10-08,Python
2,e191e70b-6f79-4445-b734-9cc534f8b0c5,C#,2021-05-05,2021-07-02,C#
3,c3fa5509-12fc-4ea6-8757-922636072436,JavaScript,2020-11-25,2023-04-21,JavaScript
4,b67791b0-c917-4aed-bd8b-62d0f1ac33f8,React,2023-09-13,2023-12-07,React
...,...,...,...,...,...
145,834a8fcc-a8ad-4bc8-a2f7-c28da5fbd251,Wireframing,2024-09-05,2023-11-23,Wireframing
146,a37599ab-347f-4833-aa88-801d35d1d8e2,Market Research,2023-10-29,2021-09-26,Market Research
147,1e87e1d8-4048-4a84-8486-0ef215f28ded,Product Lifecycle Management,2024-08-06,2023-12-15,Product Lifecycle Management
148,9306a071-a343-4d9a-b256-252252d14079,Communication Skills,2024-05-02,2021-08-28,Communication Skills
149,867dfdeb-3cf3-47b9-8ca4-d07b48f11090,Leadership,2020-09-06,2024-07-17,Leadership

In [37]:
user_skills_df=pd.read_csv('E:/JMAN/fp/DataEngineering/raw/raw_user_skills.csv')
# user_skills_df=pd.read_csv('E:/JMAN/fp/DataEngineering/prep/prep_user_skill.csv')

In [38]:
user_skills_df.shape

(300000, 4)

In [39]:
skill_user_count = user_skills_df.groupby('skillId')['userId'].nunique().reset_index(name='user_count')

print(skill_user_count)

                                  skillId  user_count
0    0074a9dc-faa2-4598-879f-f686729c7b49        2041
1    00da8420-57ae-4fa2-b05c-e9328cb72c07        1896
2    0159c8e1-09fa-46e8-b100-68385fb83e74        1986
3    04334ee4-0bf9-4e71-9e09-088ca64c6707        2050
4    056b3d19-4e67-48ca-85ef-8cc10ae8ed1a        1958
..                                    ...         ...
145  f8aaa6dc-3518-4c40-9e04-62a4b3e37e7b        1916
146  f8ccfc58-7d91-4a51-9e8f-dc77d31f2b5f        2015
147  fb84f784-1707-44ae-83aa-bc8ff9395a58        1989
148  fca9bb97-14d2-49ff-a1c8-7eb515c4824f        2008
149  fdca0240-5b81-4a33-b4f6-3b933ebe8f10        1918

[150 rows x 2 columns]

In [40]:
merged_df=pd.merge(df,skill_user_count,left_on='_id',right_on='skillId',how='inner')
df=merged_df
df.isnull().sum()
merged_df

,_id,name,created_at,updated_at,desc,skillId,user_count
0,640c213d-8a6a-4056-8097-f503261f10f2,Java,2023-11-30,2024-08-22,Java,640c213d-8a6a-4056-8097-f503261f10f2,2035
1,88e8b761-f319-43ad-b4a5-f7a4ec5ce84a,Python,2021-05-09,2023-10-08,Python,88e8b761-f319-43ad-b4a5-f7a4ec5ce84a,1965
2,e191e70b-6f79-4445-b734-9cc534f8b0c5,C#,2021-05-05,2021-07-02,C#,e191e70b-6f79-4445-b734-9cc534f8b0c5,1913
3,c3fa5509-12fc-4ea6-8757-922636072436,JavaScript,2020-11-25,2023-04-21,JavaScript,c3fa5509-12fc-4ea6-8757-922636072436,1997
4,b67791b0-c917-4aed-bd8b-62d0f1ac33f8,React,2023-09-13,2023-12-07,React,b67791b0-c917-4aed-bd8b-62d0f1ac33f8,1990
...,...,...,...,...,...,...,...
145,834a8fcc-a8ad-4bc8-a2f7-c28da5fbd251,Wireframing,2024-09-05,2023-11-23,Wireframing,834a8fcc-a8ad-4bc8-a2f7-c28da5fbd251,1957
146,a37599ab-347f-4833-aa88-801d35d1d8e2,Market Research,2023-10-29,2021-09-26,Market Research,a37599ab-347f-4833-aa88-801d35d1d8e2,2001
147,1e87e1d8-4048-4a84-8486-0ef215f28ded,Product Lifecycle Management,2024-08-06,2023-12-15,Product Lifecycle Management,1e87e1d8-4048-4a84-8486-0ef215f28ded,2055
148,9306a071-a343-4d9a-b256-252252d14079,Communication Skills,2024-05-02,2021-08-28,Communication Skills,9306a071-a343-4d9a-b256-252252d14079,2040
149,867dfdeb-3cf3-47b9-8ca4-d07b48f11090,Leadership,2020-09-06,2024-07-17,Leadership,867dfdeb-3cf3-47b9-8ca4-d07b48f11090,1945

In [41]:
df.shape

(150, 7)

In [42]:
# df.to_csv('E:/JMAN/fp/DataEngineering/prep/prep_skill.csv')
df.to_csv('E:/JMAN/fp/DataEngineering/prep/prep_skill.csv')