In [22]:
import pandas as pd

In [23]:
user_csv=pd.read_csv('E:/JMAN/fp/DataEngineering/raw/raw_role_skills.csv')

In [24]:
df=pd.DataFrame(data=user_csv)

In [25]:
df.isnull().sum()

_id           0
RoleId        0
department    0
skillId       0
dtype: int64

In [26]:
df.dropna(inplace=True)

In [27]:
df.drop_duplicates(inplace=True)

In [28]:
df.dtypes

_id           object
RoleId        object
department    object
skillId       object
dtype: object

In [29]:
print("Original dtypes:")
print(df.dtypes)

# Convert dtypes
df=df.convert_dtypes()

# Check new dtypes
print("\nConverted dtypes:")
print(df.convert_dtypes().dtypes)

Original dtypes:
_id           object
RoleId        object
department    object
skillId       object
dtype: object

Converted dtypes:
_id           string
RoleId        string
department    string
skillId       string
dtype: object

In [30]:
df.dtypes

_id           string
RoleId        string
department    string
skillId       string
dtype: object

In [31]:
roles_df = pd.read_csv('E:/JMAN/fp/DataEngineering/prep/prep_role.csv')
role_mapping = dict(zip(roles_df['_id'], roles_df['name']))
df['role_name'] = df['RoleId'].map(role_mapping)
df.head()

,_id,RoleId,department,skillId,role_name
0,66ff9021a325dc5b0d7d3a89,66fd595030450c2a76ac0219,FULL_STACK,66ff7be7d1312483599a8dd8,Software Engineer
1,66ff9021a325dc5b0d7d3a8a,66fd595030450c2a76ac0219,FULL_STACK,66ff7bf4d1312483599a8dd9,Software Engineer
2,66ff9021a325dc5b0d7d3a8b,66fd595030450c2a76ac0219,FULL_STACK,66ff7bffd1312483599a8dda,Software Engineer
3,66ff904aa325dc5b0d7d3a8f,66fd540a30450c2a76ac020f,FULL_STACK,66ff7be7d1312483599a8dd8,Senior Software Engineer
4,66ff904aa325dc5b0d7d3a92,66fd540a30450c2a76ac020f,FULL_STACK,66ff7c1ed1312483599a8ddb,Senior Software Engineer

In [32]:
roles_df = pd.read_csv('E:/JMAN/fp/DataEngineering/prep/prep_skill.csv')
# roles_df = pd.read_csv('E:/JMAN/fp/DataEngineering/prep/prep_skill.csv')
role_mapping = dict(zip(roles_df['_id'], roles_df['name']))
df['skill_name'] = df['skillId'].map(role_mapping)
df.head()

,_id,RoleId,department,skillId,role_name,skill_name
0,66ff9021a325dc5b0d7d3a89,66fd595030450c2a76ac0219,FULL_STACK,66ff7be7d1312483599a8dd8,Software Engineer,Frontend
1,66ff9021a325dc5b0d7d3a8a,66fd595030450c2a76ac0219,FULL_STACK,66ff7bf4d1312483599a8dd9,Software Engineer,NaN
2,66ff9021a325dc5b0d7d3a8b,66fd595030450c2a76ac0219,FULL_STACK,66ff7bffd1312483599a8dda,Software Engineer,NaN
3,66ff904aa325dc5b0d7d3a8f,66fd540a30450c2a76ac020f,FULL_STACK,66ff7be7d1312483599a8dd8,Senior Software Engineer,Frontend
4,66ff904aa325dc5b0d7d3a92,66fd540a30450c2a76ac020f,FULL_STACK,66ff7c1ed1312483599a8ddb,Senior Software Engineer,NaN

In [34]:
print("Original dtypes:")
print(df.dtypes)

# Convert dtypes
df=df.convert_dtypes()

# Check new dtypes
print("\nConverted dtypes:")
print(df.convert_dtypes().dtypes)

Original dtypes:
_id           string
RoleId        string
department    string
skillId       string
role_name     string
skill_name    string
dtype: object

Converted dtypes:
_id           string
RoleId        string
department    string
skillId       string
role_name     string
skill_name    string
dtype: object

In [35]:
df.shape

(218, 6)

In [36]:
df.isnull().sum()

_id            0
RoleId         0
department     0
skillId        0
role_name      0
skill_name    14
dtype: int64

In [42]:
df.dropna(inplace=True)

In [43]:
df.shape

(204, 6)

In [44]:
# df.to_csv('E:/JMAN/fp/DataEngineering/prep/prep_role_skill.csv')
df.to_csv('E:/JMAN/fp/DataEngineering/prep/prep_role_skill.csv')