In [1]:
import pandas as pd

In [2]:
# user_csv=pd.read_csv('C:/Users/RithikHarendarMahesh/Desktop/fp/DataEngineering/raw/raw_skills.csv')
user_csv=pd.read_csv('E:/JMAN/fp/DataEngineering/raw/raw_skills.csv')

In [3]:
df=pd.DataFrame(data=user_csv)

In [4]:
df.isnull().sum()

_id           0
name          0
created_at    0
updated_at    0
desc          0
dtype: int64

In [5]:
df.dropna(inplace=True)

In [6]:
df.drop_duplicates(inplace=True)

In [7]:
df.dtypes

_id           object
name          object
created_at    object
updated_at    object
desc          object
dtype: object

In [8]:
print("Original dtypes:")
print(df.dtypes)

# Convert dtypes
df=df.convert_dtypes()

# Check new dtypes
print("\nConverted dtypes:")
print(df.convert_dtypes().dtypes)

Original dtypes:
_id           object
name          object
created_at    object
updated_at    object
desc          object
dtype: object

Converted dtypes:
_id           string
name          string
created_at    string
updated_at    string
desc          string
dtype: object

In [9]:
df['created_at'] = [
    i.split(" ")[0] if 'T' not in i else i.split("T")[0] for i in df['created_at']
]

In [10]:
df['created_at']=pd.to_datetime(df['created_at'])

In [11]:
df['updated_at'] = [
    i.split(" ")[0] if 'T' not in i else i.split("T")[0] for i in df['updated_at']
]

In [12]:
df['updated_at']=pd.to_datetime(df['updated_at'])

In [13]:
df.dtypes

_id                   string
name                  string
created_at    datetime64[ns]
updated_at    datetime64[ns]
desc                  string
dtype: object

In [14]:
df.shape

(115, 5)

In [16]:
user_skills_df=pd.read_csv('E:/JMAN/fp/DataEngineering/prep/prep_user_skill.csv')
# user_skills_df=pd.read_csv('C:/Users/RithikHarendarMahesh/Desktop/fp/DataEngineering/prep/prep_user_skill.csv')

In [17]:
user_skills_df.shape

(30004, 7)

In [18]:
skill_user_count = user_skills_df.groupby('skillId')['userId'].nunique().reset_index(name='user_count')

print(skill_user_count)

                                  skillId  user_count
0    00572a05-abf5-4888-acea-6a58732d107f         301
1    022e1aef-26df-439d-b59c-3b0f162c2a64         309
2    0830c0ce-958a-4df0-8073-8857d9805530         312
3    085a5cd5-fb32-465a-bb00-9cdd65278c97         296
4    0b94551b-a857-4c15-8834-7fbb7f87b766         298
..                                    ...         ...
99   f206899d-4b4f-434e-9e80-adccc3b3b0f8         278
100  f23342cb-757b-4719-9c14-13405a9efb93         335
101  f286d7a2-7728-41a1-9f77-9230942b8500         284
102  f38d0944-88e9-4f35-9e9a-658edf765424         287
103  fc819e29-8d7c-44a8-ae38-91dc0a39a0e5         315

[104 rows x 2 columns]

In [20]:
merged_df=pd.merge(df,skill_user_count,left_on='_id',right_on='skillId',how='inner')
df=merged_df
df.isnull().sum()
merged_df

,_id,name,created_at,updated_at,desc,skillId,user_count
0,66fd116e959f8b790f412908,Database,2024-10-02,2024-10-02,DB,66fd116e959f8b790f412908,1
1,66fd1190959f8b790f41290a,Data Analysis,2024-10-02,2024-10-02,Data Analysis,66fd1190959f8b790f41290a,1
2,66fd1200959f8b790f41290f,Data Process,2024-10-02,2024-10-02,Data processing,66fd1200959f8b790f41290f,1
3,66ff7be7d1312483599a8dd8,Frontend,2024-10-04,2024-10-04,Frontend,66ff7be7d1312483599a8dd8,1
4,79e0ecd9-a547-462a-acb5-533722940278,share,2022-11-05,2023-06-24,Where site modern modern.,79e0ecd9-a547-462a-acb5-533722940278,261
...,...,...,...,...,...,...,...
99,022e1aef-26df-439d-b59c-3b0f162c2a64,summer,2021-12-29,2022-06-19,Imagine heart specific personal address someth...,022e1aef-26df-439d-b59c-3b0f162c2a64,309
100,58462e8f-5fc1-4c97-8a74-1b974c825a5d,run,2021-07-14,2022-09-30,Large thought career see find professional edg...,58462e8f-5fc1-4c97-8a74-1b974c825a5d,282
101,38ca10cd-980d-4494-90a7-780de5b20e30,science,2021-02-24,2021-10-02,Pretty result series save visit understand six...,38ca10cd-980d-4494-90a7-780de5b20e30,346
102,12519c93-eb5c-4a32-9078-8b5657052517,reach,2020-07-23,2020-12-19,Class work voice.,12519c93-eb5c-4a32-9078-8b5657052517,273
103,00572a05-abf5-4888-acea-6a58732d107f,arm,2023-12-18,2022-03-16,Trouble plan work today prepare in about indiv...,00572a05-abf5-4888-acea-6a58732d107f,301

In [21]:
df.shape

(104, 7)

In [23]:
# df.to_csv('C:/Users/RithikHarendarMahesh/Desktop/fp/DataEngineering/prep/prep_skill.csv')
df.to_csv('E:/JMAN/fp/DataEngineering/prep/prep_skill.csv')