In [1]:
import pandas as pd

In [2]:
user_csv=pd.read_csv('E:/JMAN/fp/DataEngineering/raw/raw_user_skills.csv')
# user_csv=pd.read_csv('C:/Users/RithikHarendarMahesh/Desktop/fp/DataEngineering/raw/raw_user_skills.csv')

FileNotFoundError: [Errno 2] No such file or directory: 'E:/JMAN/fp/DataEngineering/raw/raw_user_skills.csv'

In [5]:
df=pd.DataFrame(data=user_csv)

In [6]:
df.isnull().sum()

_id        0
userId     0
skillId    0
score      0
dtype: int64

In [7]:
df.dropna(inplace=True)

In [8]:
df.drop_duplicates(inplace=True)

In [9]:
df.dtypes

_id        object
userId     object
skillId    object
score       int64
dtype: object

In [10]:
print("Original dtypes:")
print(df.dtypes)

# Convert dtypes
df=df.convert_dtypes()

# Check new dtypes
print("\nConverted dtypes:")
print(df.convert_dtypes().dtypes)

Original dtypes:
_id        object
userId     object
skillId    object
score       int64
dtype: object

Converted dtypes:
_id        string
userId     string
skillId    string
score       Int64
dtype: object

In [14]:
# roles_df = pd.read_csv('C:/Users/RithikHarendarMahesh/Desktop/fp/DataEngineering/prep/prep_user.csv')
roles_df = pd.read_csv('E:/JMAN/fp/DataEngineering/prep/prep_user.csv')
roles_df
role_mapping = dict(zip(roles_df['_id'], roles_df['name']))
df['user_name'] = df['userId'].map(role_mapping)
df.head()

,_id,userId,skillId,score,user_name
0,67027ce18f14d777fee288b2,67013cc9a25cfa0d89dbb105,66ff7be7d1312483599a8dd8,76,abc
1,670291db398e7efea9400b77,67013cc9a25cfa0d89dbb105,66fd1200959f8b790f41290f,69,abc
2,67029ebd398e7efea9400b78,67013cc9a25cfa0d89dbb105,66fd116e959f8b790f412908,45,abc
3,6702a0f6398e7efea9400b7a,67013cc9a25cfa0d89dbb105,66fd1190959f8b790f41290a,32,abc
4,73c0a600-8e77-4a3c-85ea-fec5aebbbcd0,096c4b55-c067-47e3-8721-55c340aee997,41c92930-fe69-4c34-80e8-66ab07a1dc6c,98,Doris Figueroa

In [19]:
# roles_df = pd.read_csv('C:/Users/RithikHarendarMahesh/Desktop/fp/DataEngineering/prep/prep_skill.csv')
roles_df = pd.read_csv('E:/JMAN/fp/DataEngineering/prep/prep_skill.csv')
role_mapping = dict(zip(roles_df['_id'], roles_df['name']))
df['skill_name'] = df['skillId'].map(role_mapping)
df

,_id,userId,skillId,score,user_name,skill_name
0,67027ce18f14d777fee288b2,67013cc9a25cfa0d89dbb105,66ff7be7d1312483599a8dd8,76,abc,Frontend
1,670291db398e7efea9400b77,67013cc9a25cfa0d89dbb105,66fd1200959f8b790f41290f,69,abc,Data Process
2,67029ebd398e7efea9400b78,67013cc9a25cfa0d89dbb105,66fd116e959f8b790f412908,45,abc,Database
3,6702a0f6398e7efea9400b7a,67013cc9a25cfa0d89dbb105,66fd1190959f8b790f41290a,32,abc,Data Analysis
4,73c0a600-8e77-4a3c-85ea-fec5aebbbcd0,096c4b55-c067-47e3-8721-55c340aee997,41c92930-fe69-4c34-80e8-66ab07a1dc6c,98,Doris Figueroa,sell
...,...,...,...,...,...,...
29999,59a33ee4-2c36-4969-997b-041be47a2902,f9242b7f-47cb-40f3-bfa5-46edd65a10b8,66126a5d-859e-4c0a-86fd-1e85a07e0e77,64,Todd Edwards,goal
30000,c4283d35-2a51-4e1a-bff2-3614f4ff8817,f55a8ea9-2791-4cc9-8923-9a7ac48d6817,4beafb0e-0466-469f-bd8c-c9144a8990f4,55,Keith King,study
30001,fc205256-e7e4-4229-98bc-7032e600bb69,d307ceab-5357-4e32-8c81-d9e5730b16d2,e9ba9fa1-d3a4-40a7-9d8d-7164a9c24571,42,Andrew Evans,drive
30002,18167838-0f38-430c-9c25-126f7eb0e90c,b5dfd72e-9cfd-4c40-9907-7ec861bb3a95,318a5960-4df1-4d72-b7cf-25ebe740e081,55,Robert Hodge,professional
30003,b4c8df37-2d63-4108-9bb7-3dcb68404edb,52b93321-9024-4f5a-87af-24b91520bbb4,be33d2b5-057f-467b-83f6-7f45cfa3b8f7,73,Jessica Patterson,sell

In [20]:
print("Original dtypes:")
print(df.dtypes)

# Convert dtypes
df=df.convert_dtypes()

# Check new dtypes
print("\nConverted dtypes:")
print(df.convert_dtypes().dtypes)

Original dtypes:
_id           string
userId        string
skillId       string
score          Int64
user_name     string
skill_name    object
dtype: object

Converted dtypes:
_id           string
userId        string
skillId       string
score          Int64
user_name     string
skill_name    string
dtype: object

In [21]:
# df.to_csv('C:/Users/RithikHarendarMahesh/Desktop/fp/DataEngineering/prep/prep_user_skill.csv')
df.to_csv('E:/JMAN/fp/DataEngineering/prep/prep_user_skill.csv')