In [2]:
import pandas as pd

In [3]:
user_csv=pd.read_csv('C:/Users/RithikHarendarMahesh/Desktop/fp/DataEngineering/raw/raw_certifications.csv')

In [4]:
df=pd.DataFrame(data=user_csv)

In [5]:
df.isnull().sum()

_id               0
name              0
issued_by         0
is_certificate    0
dtype: int64

In [6]:
df.dropna(inplace=True)

In [7]:
df.drop_duplicates(inplace=True)

In [8]:
df.dtypes

_id               object
name              object
issued_by         object
is_certificate      bool
dtype: object

In [9]:
print("Original dtypes:")
print(df.dtypes)

# Convert dtypes
df=df.convert_dtypes()

# Check new dtypes
print("\nConverted dtypes:")
print(df.convert_dtypes().dtypes)

Original dtypes:
_id               object
name              object
issued_by         object
is_certificate      bool
dtype: object

Converted dtypes:
_id               string[python]
name              string[python]
issued_by         string[python]
is_certificate           boolean
dtype: object

In [10]:
df.dtypes

_id               string[python]
name              string[python]
issued_by         string[python]
is_certificate           boolean
dtype: object

In [12]:
user_skills_df=pd.read_csv('C:/Users/RithikHarendarMahesh/Desktop/fp/DataEngineering/prep/prep_user_certification.csv')

In [13]:
user_skills_df.isnull().sum()

Unnamed: 0           0
_id                  0
userId               0
certificationId      0
certificationName    0
started_at           0
completed_at         0
competency           0
isVerified           0
imageData            0
user_name            0
dtype: int64

In [14]:
skill_user_count = user_skills_df.groupby('certificationId')['userId'].nunique().reset_index(name='user_count')

print(skill_user_count)

                          certificationId  user_count
0    03db08cb-fb3e-456e-b069-e9a718b04698        1481
1    042db6a7-218e-4668-815a-7d68c2957213        1522
2    087b0a88-5f2d-492b-8301-2f6e908f9472        1524
3    088f9cb5-fb4e-42d7-a3fd-fc876313a74a        1502
4    0a30ef8e-1a70-4cc2-8b8a-f410c85bb7e2        1466
..                                    ...         ...
99   efacce41-9971-42c0-9556-63c7071a92bf        1494
100  f3b624de-dc01-41c1-b31f-6ef4af3bafae        1519
101  f6fd48dc-71fd-4114-b1be-09953e618edb        1469
102  f89be188-7f23-4227-b685-1fcfe920897e        1531
103  faa21b74-1310-4b4a-8c69-3ae01475a9ce        1474

[104 rows x 2 columns]

In [15]:
merged_df=df.merge(skill_user_count,left_on='_id',right_on='certificationId',how='inner')
df=merged_df
df.isnull().sum()

_id                0
name               0
issued_by          0
is_certificate     0
certificationId    0
user_count         0
dtype: int64

In [16]:
df

,_id,name,issued_by,is_certificate,certificationId,user_count
0,66febe5eca0ebab04690f2ac,ReactJS,Coursera,True,66febe5eca0ebab04690f2ac,2
1,66febfabca0ebab04690f2b1,ExpressJS,Udemy,False,66febfabca0ebab04690f2b1,1
2,6703c19c5b1d1e7f98a9a951,DBT,DBT,True,6703c19c5b1d1e7f98a9a951,1
3,6703c20b5b1d1e7f98a9a957,Web Scrapping using Python,Youtube,False,6703c20b5b1d1e7f98a9a957,1
4,3da2ea1a-945f-4b61-bc09-f1973f395ad7,Rush-Neal,Group,True,3da2ea1a-945f-4b61-bc09-f1973f395ad7,1512
...,...,...,...,...,...,...
99,3eb27e2e-1fc8-46d7-9560-7d651a70f06f,Soto Group,Group,False,3eb27e2e-1fc8-46d7-9560-7d651a70f06f,1530
100,aaedf450-136e-4d4c-8878-68708f1ee9f9,"Norris, Brennan and Allen",Ltd,True,aaedf450-136e-4d4c-8878-68708f1ee9f9,1534
101,11ffa8fb-c959-4466-94ea-d56969daa4e8,Foster-Hanna,Inc,False,11ffa8fb-c959-4466-94ea-d56969daa4e8,1498
102,41e61cff-4a09-4016-8c88-bbfb660c21e4,"Hill, Woodard and Phillips",Ltd,True,41e61cff-4a09-4016-8c88-bbfb660c21e4,1518
103,4e9b7eef-b94e-431f-b2f2-7891f5a4bbff,Huber-Moore,and Sons,True,4e9b7eef-b94e-431f-b2f2-7891f5a4bbff,1429

In [17]:
df.to_csv('C:/Users/RithikHarendarMahesh/Desktop/fp/DataEngineering/prep/prep_certification.csv')