In [48]:
import pandas as pd

In [49]:
user_csv=pd.read_csv('C:/Users/RithikHarendarMahesh/Desktop/fp/DataEngineering/raw/raw_roles.csv')

In [50]:
df=pd.DataFrame(data=user_csv)

In [51]:
df.isnull().sum()

_id           0
name          0
desc          0
created_at    0
updated_at    0
dtype: int64

In [52]:
df.dropna(inplace=True)

In [53]:
df.drop_duplicates(inplace=True)

In [54]:
df.dtypes

_id           object
name          object
desc          object
created_at    object
updated_at    object
dtype: object

In [55]:
print("Original dtypes:")
print(df.dtypes)

# Convert dtypes
df=df.convert_dtypes()

# Check new dtypes
print("\nConverted dtypes:")
print(df.convert_dtypes().dtypes)

Original dtypes:
_id           object
name          object
desc          object
created_at    object
updated_at    object
dtype: object

Converted dtypes:
_id           string[python]
name          string[python]
desc          string[python]
created_at    string[python]
updated_at    string[python]
dtype: object

In [56]:
df['created_at'] = [
    i.split(" ")[0] if 'T' not in i else i.split("T")[0] for i in df['created_at']
]

In [57]:
df['created_at']=pd.to_datetime(df['created_at'])

In [58]:
df['updated_at'] = [
    i.split(" ")[0] if 'T' not in i else i.split("T")[0] for i in df['updated_at']
]

In [59]:
df['updated_at']=pd.to_datetime(df['updated_at'])

In [60]:
df.dtypes

_id           string[python]
name          string[python]
desc          string[python]
created_at    datetime64[ns]
updated_at    datetime64[ns]
dtype: object

In [61]:
user_skills_df=pd.read_csv('C:/Users/RithikHarendarMahesh/Desktop/fp/DataEngineering/prep/prep_user.csv')

In [62]:
user_skills_df.isnull().sum()

Unnamed: 0        0
userId            0
total_duration    0
count             0
_id               0
name              0
role_id           0
joining_date      0
department        0
mail              0
created_at        0
updated_at        0
password          0
profileImage      0
role_name         0
dtype: int64

In [63]:
skill_user_count = user_skills_df.groupby('role_id')['userId'].nunique().reset_index(name='user_count')

print(skill_user_count)
skill_user_count.isnull().sum()

                                 role_id  user_count
0   048bb997-92d8-4698-bb29-58976f05d262        1495
1   15eccef0-3ddf-4abb-8255-dfb5dd1629a4        1465
2   4e2d1418-0c83-48a2-9a93-6b50ac26e040        1501
3   5057cb20-bd33-4194-90e1-fe3153bd9411        1442
4   58d3d191-867b-4e93-90bb-f56579e1f656        1486
5   642f662c-67dc-4fbb-9049-2eced614b67b        1508
6               66fd540a30450c2a76ac020f           1
7               66fd544630450c2a76ac0211           1
8   82f3e2ab-fee2-427c-b06e-23562476999f        1539
9   89597b8d-073f-4250-b712-1bb4abda8d52        1512
10  8f37445a-fdda-4cc8-b3e3-1471fe7f218a        1515
11  948a80f9-77ba-480d-ab12-ce6e153a7593        1441
12  95c5e3f2-b07f-4564-b327-e9ec2ec7458f        1489
13  9bde7d21-ec16-476f-83d1-5fb8cc80b429        1506
14  ab04f326-4048-4b80-bacc-a57ada9df3d3        1534
15  b26e9fe5-a12a-4bbd-94ca-b6de9b24ed41        1536
16  b5b1665a-7d83-4034-a623-5c752adff66c        1512
17  badac142-82c7-4b4b-bed3-796873e206ed        1491
18  ca6d9b79-81fc-431b-a0bb-85d1f2f99447        1511
19  cc848d0b-5ac9-4f0a-98c0-3d0979c3c9a1        1498
20  dc67d28b-38f4-4844-99a9-bc47fb26308c        1494
21  ee19d957-7fb3-473c-9840-73d7a2b38247        1525

role_id       0
user_count    0
dtype: int64

In [64]:
df.isnull().sum()

_id           0
name          0
desc          0
created_at    0
updated_at    0
dtype: int64

In [66]:
merged_df=df.merge(skill_user_count,left_on='_id',right_on='role_id',how='inner')
merged_df.isnull().sum()

_id           0
name          0
desc          0
created_at    0
updated_at    0
role_id       0
user_count    0
dtype: int64

In [68]:
role_skills_df=pd.read_csv('C:/Users/RithikHarendarMahesh/Desktop/fp/DataEngineering/prep/prep_role_skill.csv')

In [69]:
role_skills_df.isnull().sum()

Unnamed: 0    0
_id           0
RoleId        0
department    0
skillId       0
role_name     0
skill_name    0
dtype: int64

In [70]:
skill_role_count = role_skills_df.groupby('RoleId')['skillId'].nunique().reset_index(name='user_count')

print(skill_role_count)
skill_role_count.isnull().sum()

                                  RoleId  user_count
0   048bb997-92d8-4698-bb29-58976f05d262           1
1   15eccef0-3ddf-4abb-8255-dfb5dd1629a4           1
2   4e2d1418-0c83-48a2-9a93-6b50ac26e040           1
3   5057cb20-bd33-4194-90e1-fe3153bd9411           1
4   58d3d191-867b-4e93-90bb-f56579e1f656           1
5   642f662c-67dc-4fbb-9049-2eced614b67b           1
6               66fd540a30450c2a76ac020f           6
7               66fd544630450c2a76ac0211           7
8               66fd595030450c2a76ac0219           5
9   82f3e2ab-fee2-427c-b06e-23562476999f           1
10  89597b8d-073f-4250-b712-1bb4abda8d52           1
11  8f37445a-fdda-4cc8-b3e3-1471fe7f218a           1
12  948a80f9-77ba-480d-ab12-ce6e153a7593           1
13  95c5e3f2-b07f-4564-b327-e9ec2ec7458f           1
14  9bde7d21-ec16-476f-83d1-5fb8cc80b429           1
15  ab04f326-4048-4b80-bacc-a57ada9df3d3           1
16  b26e9fe5-a12a-4bbd-94ca-b6de9b24ed41           1
17  b5b1665a-7d83-4034-a623-5c752adff66c           1
18  badac142-82c7-4b4b-bed3-796873e206ed           1
19  ca6d9b79-81fc-431b-a0bb-85d1f2f99447           1
20  cc848d0b-5ac9-4f0a-98c0-3d0979c3c9a1           1
21  dc67d28b-38f4-4844-99a9-bc47fb26308c           1
22  ee19d957-7fb3-473c-9840-73d7a2b38247           1

RoleId        0
user_count    0
dtype: int64

In [72]:
skill_role_count.isnull().sum()

RoleId        0
user_count    0
dtype: int64

In [73]:
df.isnull().sum()

_id           0
name          0
desc          0
created_at    0
updated_at    0
dtype: int64

In [78]:
merged_df=df.merge(skill_role_count,left_on='_id',right_on='RoleId',how='inner')
df=merged_df
df.shape

(23, 9)

In [77]:
df.to_csv('C:/Users/RithikHarendarMahesh/Desktop/fp/DataEngineering/prep/prep_role.csv')