In [1]:
import pandas as pd

In [2]:
user_csv=pd.read_csv('C:/Users/RithikHarendarMahesh/Desktop/fp/DataEngineering/raw/raw_users.csv')

In [3]:
df=pd.DataFrame(data=user_csv)

In [4]:
df.isnull().sum()

_id             0
name            0
role_id         0
joining_date    0
department      0
mail            0
created_at      0
updated_at      0
password        0
profileImage    0
dtype: int64

In [5]:
df.dropna(inplace=True)

In [6]:
df.drop_duplicates(inplace=True)

In [7]:
df.dtypes

_id             object
name            object
role_id         object
joining_date    object
department      object
mail            object
created_at      object
updated_at      object
password        object
profileImage    object
dtype: object

In [8]:
print("Original dtypes:")
print(df.dtypes)

# Convert dtypes
df=df.convert_dtypes()

# Check new dtypes
print("\nConverted dtypes:")
print(df.convert_dtypes().dtypes)

Original dtypes:
_id             object
name            object
role_id         object
joining_date    object
department      object
mail            object
created_at      object
updated_at      object
password        object
profileImage    object
dtype: object

Converted dtypes:
_id             string[python]
name            string[python]
role_id         string[python]
joining_date    string[python]
department      string[python]
mail            string[python]
created_at      string[python]
updated_at      string[python]
password        string[python]
profileImage    string[python]
dtype: object

In [9]:
df['created_at'] = [
    i.split(" ")[0] if 'T' not in i else i.split("T")[0] for i in df['created_at']
]

In [10]:
df['created_at']=pd.to_datetime(df['created_at'])

In [11]:
df['updated_at'] = [
    i.split(" ")[0] if 'T' not in i else i.split("T")[0] for i in df['updated_at']
]

In [12]:
df['updated_at']=pd.to_datetime(df['updated_at'])

In [13]:
df.dtypes

_id             string[python]
name            string[python]
role_id         string[python]
joining_date    string[python]
department      string[python]
mail            string[python]
created_at      datetime64[ns]
updated_at      datetime64[ns]
password        string[python]
profileImage    string[python]
dtype: object

In [14]:
pd.Categorical(df['department'])

['FULL_STACK', 'ADMIN', 'DATA_ANALYTICS', 'DATA_ENGINEERING', 'DATA_ANALYTICS', ..., 'ADMIN', 'DATA_ENGINEERING', 'DEVOPS', 'DATA_ENGINEERING', 'DEVOPS']
Length: 30000
Categories (6, string): [ADMIN, DATA_ANALYTICS, DATA_ENGINEERING, DEVOPS, FULL_STACK, OTHER]

In [15]:
pd.Categorical(df['role_id'])

['a20d6246-3283-473d-a52e-5cabbdf6abbd', 'a20d6246-3283-473d-a52e-5cabbdf6abbd', 'a20d6246-3283-473d-a52e-5cabbdf6abbd', 'a20d6246-3283-473d-a52e-5cabbdf6abbd', 'a20d6246-3283-473d-a52e-5cabbdf6abbd', ..., '72868372-bdef-4907-8489-6edc76e168f3', '72868372-bdef-4907-8489-6edc76e168f3', '72868372-bdef-4907-8489-6edc76e168f3', '72868372-bdef-4907-8489-6edc76e168f3', '72868372-bdef-4907-8489-6edc76e168f3']
Length: 30000
Categories (15, string): [05b1c93d-ec4c-4290-ae91-9eb4da5680b0, 08d528ea-0cda-4bf6-b4b2-b423a59c1b4e, 1fa20db4-cf8a-46e5-aba7-45de907a06e8, 63eee1b7-bf3a-4ac5-ab18-ae3dee14b84a, ..., d5071e6b-f7cc-4d33-b40a-d7ad9afc2504, efdd32cc-d901-4d04-b6af-1d48ec8b9e94, f72ec459-f376-4e10-b7c3-b4ab387b7109, fdd4e01c-ba6e-4c5e-803a-056a1da12c5d]

In [16]:
roles_df = pd.read_csv('C:/Users/RithikHarendarMahesh/Desktop/fp/DataEngineering/raw/raw_roles.csv')
role_mapping = dict(zip(roles_df['_id'], roles_df['name']))
df['role_name'] = df['role_id'].map(role_mapping)
df.head()

,_id,name,role_id,joining_date,department,mail,created_at,updated_at,password,profileImage,role_name
0,75d5aae9-1b22-4ab7-ab0c-191b0691138d,Amy Dodson,a20d6246-3283-473d-a52e-5cabbdf6abbd,2020-07-14T18:36:56,FULL_STACK,amanda42@example.net,2020-09-04,2020-12-02,i9BBOP&k*W,https://picsum.photos/1019/721,Software Engineer
1,d4bd8321-ff2c-4992-8a7a-8bdff78df267,Jacqueline Walker,a20d6246-3283-473d-a52e-5cabbdf6abbd,2024-02-12T19:05:54,ADMIN,dgarrett@example.org,2023-05-31,2022-08-10,VR&H3C^w8P,https://picsum.photos/600/343,Software Engineer
2,b166ac7d-24df-4eeb-a8f7-faac4703b2ad,Richard Gould,a20d6246-3283-473d-a52e-5cabbdf6abbd,2023-05-28T12:32:57,DATA_ANALYTICS,knightmark@example.org,2020-07-15,2020-02-22,k4@LKK*c+h,https://picsum.photos/226/737,Software Engineer
3,ee982295-2f9c-45ca-8fc6-a31cfcc572f4,Megan Matthews,a20d6246-3283-473d-a52e-5cabbdf6abbd,2021-07-03T04:35:34,DATA_ENGINEERING,morgankristen@example.org,2022-05-01,2024-03-09,!u4@NKHzX6,https://dummyimage.com/799x267,Software Engineer
4,eba60f45-aa2f-468f-aa04-66d3728a3272,Sarah Tran,a20d6246-3283-473d-a52e-5cabbdf6abbd,2024-01-23T18:20:40,DATA_ANALYTICS,scott91@example.com,2024-05-04,2022-03-18,$0XTlc7St!,https://placekitten.com/870/977,Software Engineer

In [17]:
print("Original dtypes:")
print(df.dtypes)

# Convert dtypes
df=df.convert_dtypes()

# Check new dtypes
print("\nConverted dtypes:")
print(df.convert_dtypes().dtypes)

Original dtypes:
_id             string[python]
name            string[python]
role_id         string[python]
joining_date    string[python]
department      string[python]
mail            string[python]
created_at      datetime64[ns]
updated_at      datetime64[ns]
password        string[python]
profileImage    string[python]
role_name               object
dtype: object

Converted dtypes:
_id             string[python]
name            string[python]
role_id         string[python]
joining_date    string[python]
department      string[python]
mail            string[python]
created_at      datetime64[ns]
updated_at      datetime64[ns]
password        string[python]
profileImage    string[python]
role_name       string[python]
dtype: object

In [18]:
user_cert_csv=pd.read_csv('C:/Users/RithikHarendarMahesh/Desktop/fp/DataEngineering/raw/raw_user_certifications.csv')

In [19]:
user_cert_df=pd.DataFrame(data=user_cert_csv)

In [20]:
user_cert_df.head()

,_id,userId,certificationId,certificationName,started_at,completed_at,competency,isVerified,imageData
0,186e1ac2-534e-4f79-a662-ebb20db2d750,75d5aae9-1b22-4ab7-ab0c-191b0691138d,f339096d-44d5-4f55-9dc7-f116ff409ad1,CompTIA Security+,2022-07-25T17:55:37,2022-07-25T17:55:37.678388,INTERMEDIATE,True,https://placekitten.com/173/405
1,1f917f7d-49c8-4e07-a46b-47d25e9e5f61,75d5aae9-1b22-4ab7-ab0c-191b0691138d,41c305bf-37c4-4a6b-9219-0ea44462fd03,Certified Kubernetes Administrator,2022-12-29T08:17:22,2023-08-02T04:10:18,INTERMEDIATE,True,https://picsum.photos/434/665
2,3569a0f5-47f1-4a9b-b5ef-b565198c78fd,75d5aae9-1b22-4ab7-ab0c-191b0691138d,1b28edd3-9679-4285-adc4-709a01eeb17e,AWS Certified Developer - Associate,2020-10-03T04:54:24,2020-10-03T04:54:24.563315,ADVANCED,True,https://placekitten.com/918/316
3,2f6d0907-2c19-4da1-aec2-b71e7bc664d6,75d5aae9-1b22-4ab7-ab0c-191b0691138d,baa99073-7ecd-4b71-98d3-c030ef45f137,Certified Information Systems Security Profess...,2020-03-15T17:13:31,2020-04-25T06:02:44,EXPERT,False,https://dummyimage.com/667x321
4,945d54b8-193e-47f7-85fc-e9ec98a8cb31,75d5aae9-1b22-4ab7-ab0c-191b0691138d,d1b007ef-92f7-44d3-b666-7b2fa74fc770,Microsoft Certified: Azure Developer Associate,2021-07-02T08:18:01,2021-07-02T08:18:01.652593,ADVANCED,False,https://picsum.photos/372/637

In [21]:
user_cert_df['completed_at'] = [
    i.split(" ")[0] if 'T' not in i else i.split("T")[0] for i in user_cert_df['completed_at']
]

In [22]:
user_cert_df['started_at'] = [
    i.split(" ")[0] if 'T' not in i else i.split("T")[0] for i in user_cert_df['started_at']
]

In [23]:
user_cert_df['completed_at']=pd.to_datetime(user_cert_df['completed_at'])

In [24]:
user_cert_df['started_at']=pd.to_datetime(user_cert_df['started_at'])

In [25]:
(user_cert_df['completed_at'][0]-user_cert_df['started_at'][0])

Timedelta('0 days 00:00:00')

In [26]:
user_cert_df['duration'] =user_cert_df['completed_at'] - user_cert_df['started_at']

In [27]:
user_cert_df.head()

,_id,userId,certificationId,certificationName,started_at,completed_at,competency,isVerified,imageData,duration
0,186e1ac2-534e-4f79-a662-ebb20db2d750,75d5aae9-1b22-4ab7-ab0c-191b0691138d,f339096d-44d5-4f55-9dc7-f116ff409ad1,CompTIA Security+,2022-07-25,2022-07-25,INTERMEDIATE,True,https://placekitten.com/173/405,0 days
1,1f917f7d-49c8-4e07-a46b-47d25e9e5f61,75d5aae9-1b22-4ab7-ab0c-191b0691138d,41c305bf-37c4-4a6b-9219-0ea44462fd03,Certified Kubernetes Administrator,2022-12-29,2023-08-02,INTERMEDIATE,True,https://picsum.photos/434/665,216 days
2,3569a0f5-47f1-4a9b-b5ef-b565198c78fd,75d5aae9-1b22-4ab7-ab0c-191b0691138d,1b28edd3-9679-4285-adc4-709a01eeb17e,AWS Certified Developer - Associate,2020-10-03,2020-10-03,ADVANCED,True,https://placekitten.com/918/316,0 days
3,2f6d0907-2c19-4da1-aec2-b71e7bc664d6,75d5aae9-1b22-4ab7-ab0c-191b0691138d,baa99073-7ecd-4b71-98d3-c030ef45f137,Certified Information Systems Security Profess...,2020-03-15,2020-04-25,EXPERT,False,https://dummyimage.com/667x321,41 days
4,945d54b8-193e-47f7-85fc-e9ec98a8cb31,75d5aae9-1b22-4ab7-ab0c-191b0691138d,d1b007ef-92f7-44d3-b666-7b2fa74fc770,Microsoft Certified: Azure Developer Associate,2021-07-02,2021-07-02,ADVANCED,False,https://picsum.photos/372/637,0 days

In [28]:


user_cert_df.loc[user_cert_df['duration']<pd.Timedelta('0 days')]

Empty DataFrame
Columns: [_id, userId, certificationId, certificationName, started_at, completed_at, competency, isVerified, imageData, duration]
Index: []

In [29]:
user_cert_df.isnull().sum()

_id                  0
userId               0
certificationId      0
certificationName    0
started_at           0
completed_at         0
competency           0
isVerified           0
imageData            0
duration             0
dtype: int64

In [30]:
grouped_df = user_cert_df.groupby(['userId']).size().reset_index(name='count')
grouped_df.shape

(30000, 2)

In [31]:
merged_df = grouped_df.merge(df, left_on='userId', right_on='_id', how='inner')

In [32]:
merged_df.head()

,userId,count,_id,name,role_id,joining_date,department,mail,created_at,updated_at,password,profileImage,role_name
0,00055339-c1aa-4320-beb6-2c1980efc4b5,5,00055339-c1aa-4320-beb6-2c1980efc4b5,Angela King,63eee1b7-bf3a-4ac5-ab18-ae3dee14b84a,2024-08-20T17:30:52,OTHER,corey59@example.net,2020-04-27,2022-09-23,mr2NoT6z!n,https://picsum.photos/812/504,Product Manager
1,00093079-b0d6-482f-aa32-565d51805610,5,00093079-b0d6-482f-aa32-565d51805610,Jared Davis,fdd4e01c-ba6e-4c5e-803a-056a1da12c5d,2023-06-13T16:59:24,FULL_STACK,john88@example.com,2024-09-19,2023-04-17,Z#)O0Z(aqU,https://picsum.photos/963/883,Data Scientist
2,000b5f83-ebe3-43f6-b70b-bead0b3db09b,5,000b5f83-ebe3-43f6-b70b-bead0b3db09b,Donna Carter,d5071e6b-f7cc-4d33-b40a-d7ad9afc2504,2022-06-01T23:09:47,DATA_ENGINEERING,cynthiacox@example.org,2021-05-19,2020-08-09,%Y7*%Wkfft,https://placekitten.com/979/872,Backend Developer
3,000b92c9-4878-4c99-8106-f885414ff33d,5,000b92c9-4878-4c99-8106-f885414ff33d,Brian Shaw,ba184a03-28da-415b-b005-3a75f7e1bc87,2023-11-13T17:09:21,DATA_ENGINEERING,kayla72@example.org,2024-02-15,2020-03-27,sq8W6iPtK$,https://placekitten.com/412/779,Cybersecurity Analyst
4,000b9ef5-3d26-4a94-8bf9-28d5e7949dc2,5,000b9ef5-3d26-4a94-8bf9-28d5e7949dc2,Randall Morales,05b1c93d-ec4c-4290-ae91-9eb4da5680b0,2020-10-18T21:00:30,FULL_STACK,edward81@example.com,2022-04-30,2020-06-04,%K2Zlv^T+6,https://placekitten.com/171/401,Full Stack Developer

In [33]:
merged_df.isna().sum()

userId          0
count           0
_id             0
name            0
role_id         0
joining_date    0
department      0
mail            0
created_at      0
updated_at      0
password        0
profileImage    0
role_name       0
dtype: int64

In [34]:
df=merged_df

In [35]:
grouped_df = user_cert_df.groupby('userId')['duration'].sum().reset_index(name='total_duration')
grouped_df.head()

                                 userId total_duration
0  00055339-c1aa-4320-beb6-2c1980efc4b5        30 days
1  00093079-b0d6-482f-aa32-565d51805610       857 days
2  000b5f83-ebe3-43f6-b70b-bead0b3db09b       855 days
3  000b92c9-4878-4c99-8106-f885414ff33d       369 days
4  000b9ef5-3d26-4a94-8bf9-28d5e7949dc2       222 days

In [36]:
merged_df = grouped_df.merge(df, left_on='userId', right_on='_id', how='inner')
merged_df.shape

(30000, 15)

In [37]:
merged_df.isnull().sum()

userId_x          0
total_duration    0
userId_y          0
count             0
_id               0
name              0
role_id           0
joining_date      0
department        0
mail              0
created_at        0
updated_at        0
password          0
profileImage      0
role_name         0
dtype: int64

In [38]:
merged_df.drop('userId',axis=1)

KeyError: "['userId'] not found in axis"

In [269]:
merged_df.drop('userId_y',axis=1)

,userId_x,total_duration,count,_id,name,role_id,joining_date,department,mail,created_at,updated_at,password,profileImage,role_name
0,00001762-6384-4247-ba53-54ea1640d1c7,6730 days,5,00001762-6384-4247-ba53-54ea1640d1c7,George Davis,19adcd6a-d040-43f5-8df4-f2776037d25e,2020-01-13T22:40:37,DEVOPS,kmyers@example.com,2020-05-17,2022-08-31,$$NE4RGu*3,https://picsum.photos/383/584,improve
1,00007389-374a-4695-aa55-e934e296c10d,7451 days,5,00007389-374a-4695-aa55-e934e296c10d,Richard Wood,100ac7ef-7112-488f-adf2-f9c1608d49b2,2022-12-13T03:11:03,DEVOPS,stacyjennings@example.net,2020-05-19,2021-03-04,w2AER@Cp@v,https://dummyimage.com/258x598,century
2,00056dbe-77c8-4c3c-a431-ebd19236bf46,2677 days,5,00056dbe-77c8-4c3c-a431-ebd19236bf46,John Johnson,9a857edb-7685-453d-bc33-ed5032191e9c,2020-03-09T11:55:40,OTHER,curtiscordova@example.com,2021-08-27,2023-01-11,Xr67Ru9j%5,https://dummyimage.com/116x586,money
3,000aef55-a6de-4d27-826e-fe081937fefd,4958 days,5,000aef55-a6de-4d27-826e-fe081937fefd,Diana Wagner,76fba540-2817-4293-b9ae-dd2aa77acbc1,2020-07-25T05:33:12,DATA_ANALYTICS,samantha69@example.org,2024-02-27,2024-02-09,x5OCm3Qm$4,https://dummyimage.com/607x451,positive
4,000c3b60-2ec0-4623-8924-dc9974974acb,4166 days,5,000c3b60-2ec0-4623-8924-dc9974974acb,Lauren Villegas,68d523fe-d71a-4a66-915a-950cbce914e2,2024-07-18T22:41:03,DEVOPS,corey49@example.net,2023-01-17,2023-09-12,pAH(9Rbl7+,https://dummyimage.com/113x292,talk
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29997,fff44b16-8e59-4e16-a86d-0df997e3b356,4517 days,5,fff44b16-8e59-4e16-a86d-0df997e3b356,Darrell Pittman,7403751e-02d6-4560-ab09-c7528a0fb8ab,2021-05-31T18:25:31,DATA_ENGINEERING,jwilliamson@example.net,2021-05-23,2022-06-29,@9ZwOfDIsk,https://dummyimage.com/23x303,result
29998,fff5c6f1-5788-4896-8060-c8ff7a89c1d5,4375 days,5,fff5c6f1-5788-4896-8060-c8ff7a89c1d5,Derrick Hartman,22cb7f0f-28bb-454c-9f48-73c97e0efe5e,2024-03-14T00:12:47,DATA_ANALYTICS,roblesamanda@example.org,2021-06-03,2020-04-26,Iz1!T1Li!^,https://picsum.photos/479/8,office
29999,fff7f8d8-b960-4763-a072-354d451c7b7b,5685 days,5,fff7f8d8-b960-4763-a072-354d451c7b7b,Sean Cabrera,2c8336a8-a2e4-4c10-8705-901c8f6b4775,2024-08-13T11:32:27,ADMIN,eflynn@example.com,2024-04-20,2023-06-13,u7Wo5akE)4,https://placekitten.com/617/641,Democrat
30000,fff93e3c-8043-46c1-9cde-35b28841d46b,6079 days,5,fff93e3c-8043-46c1-9cde-35b28841d46b,Mr. Brett Miller MD,68d523fe-d71a-4a66-915a-950cbce914e2,2020-03-17T16:10:28,DEVOPS,stephaniestokes@example.com,2024-09-01,2020-09-10,oW6Ym0jdW(,https://dummyimage.com/300x911,talk
30001,fffa8c5a-633b-427e-844c-c61145722998,3722 days,5,fffa8c5a-633b-427e-844c-c61145722998,Christopher Johnson,76fba540-2817-4293-b9ae-dd2aa77acbc1,2023-11-05T06:44:31,OTHER,yporter@example.com,2020-09-09,2021-06-06,0Bx7AcuS(U,https://picsum.photos/250/573,positive

In [270]:
merged_df.rename({"userId_x":"userId"},axis=1,inplace=True)

In [272]:
# merged_df.drop('total_duration_y', axis=1, inplace=True)
merged_df.drop('userId_y', axis=1, inplace=True)

In [273]:
merged_df.isna().sum()

userId            0
total_duration    0
count             0
_id               0
name              0
role_id           0
joining_date      0
department        0
mail              0
created_at        0
updated_at        0
password          0
profileImage      0
role_name         0
dtype: int64

In [274]:
df=merged_df
df.head()

,userId,total_duration,count,_id,name,role_id,joining_date,department,mail,created_at,updated_at,password,profileImage,role_name
0,00001762-6384-4247-ba53-54ea1640d1c7,6730 days,5,00001762-6384-4247-ba53-54ea1640d1c7,George Davis,19adcd6a-d040-43f5-8df4-f2776037d25e,2020-01-13T22:40:37,DEVOPS,kmyers@example.com,2020-05-17,2022-08-31,$$NE4RGu*3,https://picsum.photos/383/584,improve
1,00007389-374a-4695-aa55-e934e296c10d,7451 days,5,00007389-374a-4695-aa55-e934e296c10d,Richard Wood,100ac7ef-7112-488f-adf2-f9c1608d49b2,2022-12-13T03:11:03,DEVOPS,stacyjennings@example.net,2020-05-19,2021-03-04,w2AER@Cp@v,https://dummyimage.com/258x598,century
2,00056dbe-77c8-4c3c-a431-ebd19236bf46,2677 days,5,00056dbe-77c8-4c3c-a431-ebd19236bf46,John Johnson,9a857edb-7685-453d-bc33-ed5032191e9c,2020-03-09T11:55:40,OTHER,curtiscordova@example.com,2021-08-27,2023-01-11,Xr67Ru9j%5,https://dummyimage.com/116x586,money
3,000aef55-a6de-4d27-826e-fe081937fefd,4958 days,5,000aef55-a6de-4d27-826e-fe081937fefd,Diana Wagner,76fba540-2817-4293-b9ae-dd2aa77acbc1,2020-07-25T05:33:12,DATA_ANALYTICS,samantha69@example.org,2024-02-27,2024-02-09,x5OCm3Qm$4,https://dummyimage.com/607x451,positive
4,000c3b60-2ec0-4623-8924-dc9974974acb,4166 days,5,000c3b60-2ec0-4623-8924-dc9974974acb,Lauren Villegas,68d523fe-d71a-4a66-915a-950cbce914e2,2024-07-18T22:41:03,DEVOPS,corey49@example.net,2023-01-17,2023-09-12,pAH(9Rbl7+,https://dummyimage.com/113x292,talk

In [275]:
df.isnull().sum()

userId            0
total_duration    0
count             0
_id               0
name              0
role_id           0
joining_date      0
department        0
mail              0
created_at        0
updated_at        0
password          0
profileImage      0
role_name         0
dtype: int64

In [276]:
df.to_csv('C:/Users/RithikHarendarMahesh/Desktop/fp/DataEngineering/prep/prep_user.csv')