In [149]:
import pandas as pd

In [150]:
user_csv=pd.read_csv('E:/JMAN/fp/DataEngineering/raw/raw_roles.csv')

In [151]:
df=pd.DataFrame(data=user_csv)

In [152]:
df.isnull().sum()

_id           0
name          0
desc          0
created_at    0
updated_at    0
dtype: int64

In [153]:
df

,_id,name,desc,created_at,updated_at
0,a20d6246-3283-473d-a52e-5cabbdf6abbd,Software Engineer,Street challenge collection approach kitchen a...,2020-03-08T03:51:57,2020-09-27T23:08:02
1,fdd4e01c-ba6e-4c5e-803a-056a1da12c5d,Data Scientist,Writer among technology administration.,2023-12-13T07:59:00,2020-12-01T01:28:28
2,1fa20db4-cf8a-46e5-aba7-45de907a06e8,DevOps Engineer,People high race agreement officer with field.,2020-05-05T14:05:42,2024-05-19T13:39:00
3,f72ec459-f376-4e10-b7c3-b4ab387b7109,Frontend Developer,Beyond wife value already.,2022-10-19T11:26:17,2021-12-18T01:05:04
4,d5071e6b-f7cc-4d33-b40a-d7ad9afc2504,Backend Developer,Especially take within list contain foreign ap...,2024-05-28T10:14:03,2021-04-23T08:21:22
5,05b1c93d-ec4c-4290-ae91-9eb4da5680b0,Full Stack Developer,Leave participant strong dog.,2020-01-23T21:18:33,2022-02-24T01:58:47
6,08d528ea-0cda-4bf6-b4b2-b423a59c1b4e,Data Analyst,Them also month your.,2021-12-04T16:14:09,2021-06-27T23:34:57
7,ba184a03-28da-415b-b005-3a75f7e1bc87,Cybersecurity Analyst,Million quality talk energy thing behind.,2024-01-23T22:43:45,2020-01-18T04:18:21
8,c6ab4ce4-1bf9-46fa-be79-db147b641fa1,Machine Learning Engineer,Space follow notice.,2023-04-24T12:40:34,2021-12-26T01:15:05
9,a0feede4-8411-42e5-9d0c-ee1cd6e2bfd9,Cloud Engineer,Music student defense hot relationship.,2022-08-02T09:24:38,2024-04-29T17:19:16
10,b16ac891-33d1-465a-ad60-5673ebf36ed5,UX/UI Designer,Specific they themselves arrive consider.,2021-12-14T10:02:44,2023-10-06T17:38:41
11,63eee1b7-bf3a-4ac5-ab18-ae3dee14b84a,Product Manager,Including story sell.,2022-06-05T07:24:07,2024-05-02T19:56:49
12,cd19c072-4a6d-47c0-a3d9-3627ca2ee111,Business Analyst,Wait heavy senior of.,2021-04-24T12:45:43,2021-04-27T11:43:06
13,efdd32cc-d901-4d04-b6af-1d48ec8b9e94,Quality Assurance Engineer,Them whatever she reduce idea former.,2020-07-17T02:21:31,2024-02-09T17:53:09
14,72868372-bdef-4907-8489-6edc76e168f3,Technical Writer,Add site nor before would focus research.,2023-10-07T10:27:51,2021-04-12T03:29:14

In [126]:
df.dropna(inplace=True)

In [127]:
df.drop_duplicates(inplace=True)

In [128]:
df.dtypes

_id           object
name          object
desc          object
created_at    object
updated_at    object
dtype: object

In [129]:
print("Original dtypes:")
print(df.dtypes)

# Convert dtypes
df=df.convert_dtypes()

# Check new dtypes
print("\nConverted dtypes:")
print(df.convert_dtypes().dtypes)

Original dtypes:
_id           object
name          object
desc          object
created_at    object
updated_at    object
dtype: object

Converted dtypes:
_id           string
name          string
desc          string
created_at    string
updated_at    string
dtype: object

In [130]:
df['created_at'] = [
    i.split(" ")[0] if 'T' not in i else i.split("T")[0] for i in df['created_at']
]

In [131]:
df['created_at']=pd.to_datetime(df['created_at'])

In [132]:
df['updated_at'] = [
    i.split(" ")[0] if 'T' not in i else i.split("T")[0] for i in df['updated_at']
]

In [133]:
df['updated_at']=pd.to_datetime(df['updated_at'])

In [134]:
df.dtypes

_id                   string
name                  string
desc                  string
created_at    datetime64[ns]
updated_at    datetime64[ns]
dtype: object

In [135]:
user_skills_df=pd.read_csv('E:/JMAN/fp/DataEngineering/prep/prep_user.csv')

In [136]:
user_skills_df.isnull().sum()

Unnamed: 0        0
userId            0
total_duration    0
count             0
_id               0
name              0
role_id           0
joining_date      0
department        0
mail              0
created_at        0
updated_at        0
password          0
profileImage      0
role_name         0
dtype: int64

In [137]:
skill_user_count = user_skills_df.groupby('role_id')['userId'].nunique().reset_index(name='user_count')

print(skill_user_count)
skill_user_count.isnull().sum()

                                 role_id  user_count
0   05b1c93d-ec4c-4290-ae91-9eb4da5680b0        2000
1   08d528ea-0cda-4bf6-b4b2-b423a59c1b4e        2000
2   1fa20db4-cf8a-46e5-aba7-45de907a06e8        2000
3   63eee1b7-bf3a-4ac5-ab18-ae3dee14b84a        2000
4   72868372-bdef-4907-8489-6edc76e168f3        2000
5   a0feede4-8411-42e5-9d0c-ee1cd6e2bfd9        2000
6   a20d6246-3283-473d-a52e-5cabbdf6abbd        2000
7   b16ac891-33d1-465a-ad60-5673ebf36ed5        2000
8   ba184a03-28da-415b-b005-3a75f7e1bc87        2000
9   c6ab4ce4-1bf9-46fa-be79-db147b641fa1        2000
10  cd19c072-4a6d-47c0-a3d9-3627ca2ee111        2000
11  d5071e6b-f7cc-4d33-b40a-d7ad9afc2504        2000
12  efdd32cc-d901-4d04-b6af-1d48ec8b9e94        2000
13  f72ec459-f376-4e10-b7c3-b4ab387b7109        2000
14  fdd4e01c-ba6e-4c5e-803a-056a1da12c5d        2000

role_id       0
user_count    0
dtype: int64

In [138]:
df.isnull().sum()

_id           0
name          0
desc          0
created_at    0
updated_at    0
dtype: int64

In [139]:
merged_df=df.merge(skill_user_count,left_on='_id',right_on='role_id',how='inner')
print(merged_df.shape)
merged_df.isnull().sum()

(15, 7)

_id           0
name          0
desc          0
created_at    0
updated_at    0
role_id       0
user_count    0
dtype: int64

In [140]:
role_skills_df=pd.read_csv('E:/JMAN/fp/DataEngineering/raw/raw_role_skills.csv')

In [141]:
role_skills_df.isnull().sum()

roleId     0
skillId    0
name       0
dtype: int64

In [142]:
role_skills_df.shape

(90, 3)

In [148]:
skill_role_count = role_skills_df.groupby('roleId')['skillId'].nunique().reset_index(name='skill_count')

print(skill_role_count.shape)
skill_role_count.isnull().sum()
skill_role_count

(9, 2)

roleId         0
skill_count    0
dtype: int64

In [144]:
skill_role_count.isnull().sum(),skill_role_count.shape

(roleId        0
 user_count    0
 dtype: int64,
 (9, 2))

In [145]:
df.isnull().sum()

_id           0
name          0
desc          0
created_at    0
updated_at    0
dtype: int64

In [146]:
merged_df=df.merge(skill_role_count,left_on='_id',right_on='roleId',how='inner')
df=merged_df
df.shape

(0, 7)

In [147]:
df.to_csv('E:/JMAN/fp/DataEngineering/prep/prep_role.csv')